@use "sass:math";

@import "./type.scss";

@import "./variables.scss";
@import "./utils.scss";
@import "./cotton";

@import "./components";


html,
#app {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-x: clip;
}

#svg {
  width: 0;
  height: 0;
}

#text-preload,
#img-preload {
  height: 0;
  width: 0;
}

[data-scroll-content] {
  min-height: 100vh;
  min-width: 100vw;
}

[data-scroll-section]:not(.no-contain) {
  contain: content;
}

body {
  background-color: $lightbeige;
  color: $darkblue;
}

#loader,
#sail {
  background-color: $lightbeige;
}

.restrict {
  width: fluid(335, $sm);
  margin: 0 auto;

  @include md {
    width: fluid(1840, $lg);
  }
}

@media (max-width: #{$m}) {
  .m-hide {
    display: none !important;
  }
}

.d-hide {
  @include md {
    display: none !important;
  }
}

#grid {
  gap: fluid(8, $sm);
  opacity: 0;

  width: fluid(335, $sm);
  margin: 0 auto;

  div {
    width: fluid(($sm - ((4 + 1) * 8)) * math.div(1, 4), $sm);
    background-color: red;
    opacity: 0.2;
  }

  @include md {
    gap: fluid(40, $lg);
    width: fluid(1840, $lg);

    div {
      width: fluid(($lg - ((4 + 1) * 40)) * math.div(1, 4), $lg);
    }
  }
}

#grid-line {
  height: 2px;
  width: 100vw !important;
  background: blue !important;
  bottom: calc(40vh - 10px);
  left: 0;
}

#grid.active {
  opacity: 1;
}

// .tp-dfwv {
//   z-index: 9999;
// }

#loader {
  background-color: $lightbeige;
}

:not(.safari) {
  .oh {
    overflow: clip;
  }
}

picture.fx {
  img {
    opacity: 0;
    transform: scale(1.2);
    transition: opacity 2.75s $ease-out-expo, transform 1.75s $ease-out-expo;
  }

  &.fx-on {
    img {
      opacity: 1;
      transform: none;
    }
  }
}

#cookie-banner {
  bottom: fluid(20, $sm);
  right: fluid(20, $sm);
  border-radius: fluid(22, $sm);
  padding: fluid(20, $sm);
  border: 1px solid #dadaca;
  background: #ecece2;

  transform: translateY(calc(100% + #{fluid(30, $sm)}));
  transition: transform 2s $ease-out-expo;

  @include md {
    bottom: fluid(30, $lg);
    right: fluid(40, $lg);
    border-radius: fluid(22, $lg);
    padding: fluid(40, $lg);
    transform: translateY(calc(100% + #{fluid(30, $lg)}));
  }

  &.on {
    transform: none;
  }

  p {
    line-height: 140%;
    text-align: center;
    width: fluid(325 - 30, $sm);
    margin-bottom: fluid(24, $sm);
    font-size: fluid(18, $sm);

    @include md {
      width: fluid(275, $lg);
      margin-bottom: fluid(24, $lg);
      font-size: fluid(18, $lg);
    }
  }

  svg {
    width: fluid(24, $sm);
    height: fluid(24, $sm);
    margin-bottom: fluid(20, $sm);

    @include md {
      width: fluid(24, $lg);
      height: fluid(24, $lg);
      margin-bottom: fluid(20, $lg);
    }
  }

  .cta-btn {
    width: fluid(138, $sm);

    @include md {
      width: fluid(128, $lg);
    }
  }

  >.df.jcb {
    gap: fluid(8, $sm);

    @include md {
      gap: fluid(16, $lg);
    }
  }

  #cookie-decline {
    background-color: #dadaca;

    .btn-inner::after {
      color: $darkbeige;
    }

    &:hover {
      background-color: $darkblue;
    }
  }
}

@import "./pages/404.scss";
@import "./pages/home.scss";
@import "./pages/technology.scss";
@import "./pages/about.scss";
@import "./pages/careers.scss";
@import "./pages/careerInner.scss";
@import "./pages/contact.scss";
@import "./pages/privacy.scss";
@import "./pages/article.scss";
@import "./pages/blog.scss";