@use "sass:math";

@import "./type.scss";

@import "./variables.scss";
@import "./utils.scss";
@import "./cotton";

@import "./components";

canvas.gl {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#svg {
  width: 0;
  height: 0;
}

#text-preload,
#img-preload {
  height: 0;
  width: 0;
}

[data-scroll-content] {
  min-height: 100vh;
  min-width: 100vw;
}

[data-scroll-section]:not(.no-contain) {
  contain: content;
}

body {
  background-color: $lightbeige;
  color: $darkblue;
}

#loader,
#sail {
  background-color: $lightbeige;
}

.restrict {
  width: fluid(335, $sm);
  margin: 0 auto;

  @include md {
    width: fluid(1840, $lg);
  }
}

.m-hide {
  display: none;

  @include md {
    display: inherit;
  }
}

.d-hide {
  @include md {
    display: none;
  }
}

#grid {
  // justify-content: space-evenly;
  gap: fluid(8, $sm);
  opacity: 0;

  width: fluid(335, $sm);
  margin: 0 auto;

  div {
    width: fluid(($sm - ((4 + 1) * 8)) * math.div(1, 4), $sm);
    background-color: red;
    opacity: 0.2;
  }

  @include md {
    gap: fluid(40, $lg);
    width: fluid(1840, $lg);

    div {
      width: fluid(($lg - ((4 + 1) * 40)) * math.div(1, 4), $lg);
    }
  }
}

#grid-line {
  height: 2px;
  width: 100vw !important;
  background: blue !important;
  bottom: calc(33vh - 1px);
  left: 0;
}

#grid.active {
  opacity: 1;
}

.tp-dfwv {
  z-index: 9999;
}

.temp-title {
  height: 20vh;
}

@import "./pages/404.scss";
@import "./pages/home.scss";
@import "./pages/technology.scss";
@import "./pages/about.scss";
@import "./pages/careers.scss";
@import "./pages/careerInner.scss";
@import "./pages/contact.scss";
@import "./pages/privacy.scss";
