@use 'sass:math';

@function fluid($px, $container, $unit: 1vw) {
  @return $px * math.div(100 * $unit, $container);
}

@function fsize($size, $baseSize: 1920, $min: null, $max: null, $unit: vw) {
  $value: calc(100#{$unit} / #{$baseSize} * #{$size});
  @if ($min == null and $max == null) {
    @return #{$value};
  }

  $min: if($min == null, $value, $min);
  $max: if($max == null, $value, $max);

  @return #{clamp($min, $value, $max)};
}
