// viewports

$lg: 1920;
$sm: 375;

// colors
$darkbeige: #dadaca;
$lightbeige: #ecece2;

$darkblue: #022d42;
$darkgray: #aab6b6;

$green: #f2ffbd;
$white: #fff;

//
// grid
//

// fluid(($lg - ((4 + 1) * 40)) * math.div(1, 4), $lg);
$colwidth: fluid(430, $lg);
