---
layout: _layout.njk
title: 404
permalink: 404.html
---

<main id="err" data-hydra-content="404">
  <header class="df fc" data-scroll-section>

    <div id="hero-title--wrapper" class="pr z0 hero-title--wrapper oh">
      <h1 id="hero-title" class="hero-title z1">ERROR  <span class="close">——</span>  404</h1>
      <svg class="hero-grid pa inset zn1" fill="none" viewBox="0 0 1841 358">
        <path stroke="#DADACA" d="M1 .5h1840M1 51.5h1840M1 102.5h1840M1 153.5h1840M1 204.5h1840M1 255.5h1840M1 306.5h1840M1 357.5h1840M.5 358V0m74 358V0m73 358V0m74 358V0m73 358V0m74 358V0m74 358V0m588 358V0m74 358V0m74 358V0m73 358V0m74 358V0m73 358V0m74 358V0m-957 358V0m74 358V0m73 358V0m74 358V0m74 358V0m73 358V0m74 358V0m589 358V0m73 358V0m74 358V0m73 358V0m74 358V0"/>
      </svg>
    </div>

    <div id="err-content">
      <p>It looks like this page doesn’t exist.</p>
      <a href="/" class="cta-btn df">
        <div class="pr oh btn-wrapper">
          <div class="btn-inner" data-content="Home Page">Home Page</div>
        </div>
      </a>
    </div>
  </header>
</main>