---
layout: _layout.njk
title: About Us
type: page
meta:
    site:
        name: DePoly
        description: "About DePoly"
        url: https://depoly.com/about/
    image:
        src: https://depoly.com/images/page.png
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="about" id="about">
    {{ 
        header(
            'Nice to meet you', 
            "Rethinking Recycling From the Ground Up", 
            "/static/about/hero.jpg", 
            "hero img"
        ) 
    }}

    {{ 
        textBlock(
            "Who is DePoly?",
            [
                "'Swiss technology from the heart of Valais' – DePoly SA was developed and founded in 2020 with a goal to create a cleaner world for future generations.",
                "Our ambitious and dedicated team is made up of people looking to change the world, and leave it a cleaner place for the next generations."
            ],
            "who"
        ) 
    }}

    <section id="numbers" class="restrict df fc border-bottom m-hide" data-scroll-section>
        <div id="numbers-tag" class="tag fv-mono ttu" data-shuffle>Depoly in numbers</div>
        <ul id="numbers-content" class="df fc pr">
            <li class="number-item pr df cp">
                <div class="number-no cp">10</div>
                <div class="pa number-detail">Employees</div>
            </li>
            <li class="number-item pr df cp">
                <div class="number-no cp">6</div>
                <div class="pa number-detail">Different Nationalities</div>
            </li>
            <li class="number-item pr df cp">
                <div class="number-no cp">~50%</div>
                <div class="pa number-detail">Gender Split</div>
            </li>
            <li class="number-item pr df cp">
                <div class="number-no cp">10</div>
                <div class="pa number-detail">Languages</div>
            </li>
            <li class="number-item pr df cp">
                <div class="number-no cp">>50</div>
                <div class="pa number-detail bottom">
                    Years in Academia, R&D and Industry
                </div>
            </li>
        </ul>
    </section>

    <section id="numbers-m" class="d-hide oh">
        <div id="numbers-m--tag" class="tag fv-mono ttu" data-shuffle>Depoly in numbers</div>
        <ul id="numbers-m--snos" class="df">
            <li class="number-m--no">10</li>
            <li class="number-m--no">6</li>
            <li class="number-m--no">~50%</li>
            <li class="number-m--no">10</li>
            <li class="number-m--no">&gt;50</li>
        </ul>
        <ul id="numbers-m--content" class="df pr">
            <li class="number-m--item pa">
                <div class="number-m--detail">Employees</div>
            </li>
            <li class="number-m--item pa">
                <div class="number-m--detail">Different Nationalities</div>
            </li>
            <li class="number-m--item pa">
                <div class="number-m--detail">Gender Split</div>
            </li>
            <li class="number-m--item pa">
                <div class="number-m--detail">Languages</div>
            </li>
            <li class="number-m--item pr">
                <div class="number-m--detail bottom">Years in Academia, R&D and Industry</div>
            </li>
        </ul>
    </section>

    {# <section id="team" class="restrict df fc border-bottom" data-scroll-section>
        <div id="team-tag" class="tag fv-mono ttu" data-shuffle>Our Team</div>
        <div id="team-list" class="grid-list df fc">
            {% for col in team.members | batch(4) %}
                <div class="team-col df fc aic m-hide">
                    {% for member in col %}
                        <div class="team-item {% if loop.index == 4 %} no-border {% endif %} {% if member.bio %} cp {% else %} pen {% endif %}" {% if member.bio %} data-trigger-aside="#bio-panel--{{ member.name | slugify }}" {% endif %}>
                            <picture class="team-photo fx fx-once">
                                {% responsiveImage member.img,
                                "600,1200,2000",
                                "30vw" %}
                            </picture>
                            <div class="team-name rev">{{ member.name }}</div>
                            <div class="team-role rev ttu">{{ member.role }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="team-col df fc aic d-hide">
                {% for member in team.members %}
                    <div class="team-item" style="--idx: {{ loop.index0 % 4 * 3 + loop.index0 // 4 }}" {% if member.bio %} data-trigger-aside="#bio-panel--{{ member.name | slugify }}" {% endif %}>
                        <picture class="team-photo fx fx-once">
                            {% responsiveImage member.img,
                            "300,600",
                            "100vw" %}
                        </picture>
                        <div class="team-name">{{ member.name }}</div>
                        <div class="team-role ttu">{{ member.role }}</div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section> #}

    <section id="team" class="restrict df fc border-bottom" data-scroll-section>
        <div id="team-tag" class="tag fv-mono ttu" data-shuffle>Our Team</div>
        <div id="team-list" class="grid-list pr df fc fw jcb" style="--count: {{ team.members.length }}">
            {% for member in team.members %}
                <div class="team-item {% if member.bio %} cp {% else %} pen {% endif %}"{% if member.bio %} data-trigger-aside="#bio-panel--{{ member.name | slugify }}" {% endif %}>
                    <picture class="team-photo fx fx-once">
                        {% responsiveImage member.img,
                        "300,600",
                        "100vw" %}
                    </picture>
                    <div class="team-name rev">{{ member.name }}</div>
                    <div class="team-role rev ttu">{{ member.role }}</div>
                </div>
            {% endfor %}
            <div class="hori-line hori-line--one pa top bottom m-hide"></div>
            <div class="hori-line hori-line--two pa top bottom m-hide {% if team.members.length % 3 == 1 %} sm {% endif %}"></div>
        </div>
    </section>

    <section class="restrict" data-scroll-section>
        <div id="advisor-tag" class="tag ttu fv-mono" data-shuffle>Advisors</div>
        <div id="advisor-list" class="grid-list df fc fw pr jcb">
            {% for member in team.advisors %}
                <div class="team-item {% if member.bio %} cp {% else %} pen {% endif %}"{% if member.bio %} data-trigger-aside="#bio-panel--{{ member.name | slugify }}" {% endif %}>
                    <picture class="team-photo fx fx-once">
                        <img loading="lazy" decoding="async" src="{% imageUrlFor member.img %}" alt="Photo of {{ member.name }}">
                    </picture>
                    <div class="team-name rev">{{ member.name }}</div>
                    <div class="team-role rev ttu">{{ member.role }}</div>
                </div>
            {% endfor %}
            {% if team.advisors.length < 3 %}
                {% set diff = team.advisors.length - 3 %}
                {% if diff < 0 %}
                    {% set diff = diff * -1 %}
                {% endif %}
                {% for i in range(0, diff) %}
                    <div class="team-item pen m-hide no-border"></div>
                {%- endfor %}
            {% endif %}
            <div class="hori-line hori-line--one pa top bottom m-hide"></div>
            <div class="hori-line hori-line--two pa top bottom m-hide"></div>
        </div>
    </section>
</main>