---
layout: _layout.njk
title: Article
pagination:
    data: articles.all
    size: 1
    alias: article
permalink: "article/{{ article.settings.slug.current | slugify }}/"
eleventyComputed:
    title: "{{ article.title }}"
    seo.description: "{% trim article.intro %}"
    type: post
    meta:
        site:
            name: DePoly
            description: ""
            url: https://depoly.com
            logo:
                src: https://depoly.com/static/meta/logo.png
                width: 1200
                height: 630
                language: en-US
        url: https://depoly.com/article/{{ article.settings.slug.current | slugify }}/
        title: "{{ article.title }}"
        description: "{% trim article.intro %}"
        published: {{ article.publishedAt }}
        image:
            src: https://depoly.com/images/page.png
tags: 
    - articles

---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="article" id="article">
    <header id="hero" class="restrict hero pr" data-scroll-section>

        <div class="df jcb">
            <div id="article-breadcrumbs" class="article-breadcrumbs fv-mono">
                <a class="link link-dark link-solid" href="/blog/">Blog</a> / <a class="link link-dark link-solid" href="/blog/?filter={{ article.settings.postCategory | slugify }}">{{ article.settings.postCategory }}</a> / 
            </div>
            <ul id="article-tags--d" class="article-tag fv-mono df m-hide">
                {% for tag in article.tags %}
                    <li class="hero-tag ttu">#{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="hero-title--wrapper" class="pr z0 hero-title--wrapper oh">
            <h1 id="hero-title" class="hero-title z1">{{ article.title }}</h1>
            <div class="df pa inset zn1 hero-grid oh"></div>
        </div>
        <ul id="article-tags--m" class="article-tag fv-mono df d-hide fw">
            {% for tag in article.tags %}
                <li class="hero-tag ttu">#{{ tag }}</li>
            {% endfor %}
        </ul>
        <picture id="hero-picture" class="hero-picture">
            {% lazyResponsiveImage article.mainImage,
            "300,600,1200,2000",
            "100vw",
            "",
            ""%}
        </picture>
    </header>

    <a target="_blank" rel="noreferrer noopener" href="" id="share-btn" class="pa df z2 aic">
        <svg>
            <use xlink:href="#tweet-icon"></use>
        </svg>
        <div class="fv-mono ttu">Tweet this highlight</div>
    </a>

    <section data-scroll-section id="intro">
        {{ article.intro }}
    </section>

    <article id="body">

        {{ article.body | safe  }}

        {# <section data-scroll-section>
            <ol class="fv-mono">
                <li>Pet Granules</li>
                <li>Pet Granules</li>
                <li>Pet Granules</li>
            </ol>
        </section> #}

        {# <section data-scroll-section>
            <blockquote data-tweet-parent>
                <div class="blockquote-tag df aic">
                    <div class="blockquote-icon">
                        <svg>
                            <use xlink:href="#apostrophe"></use>
                        </svg>
                    </div>
                    <a data-tweet-trigger href="" target="_blank" rel="noreferrer noopener" class="tweet-icon df aic cp">
                        <svg>
                            <use xlink:href="#tweet-icon"></use>
                        </svg>
                        <div class="fv-mono ttu">Tweet this quote</div>
                    </a>
                </div>
                <p data-tweet-target>
                There are two solutions to these plastics that cannot be recycled and are now everywhere in our lives. The first is to just say no, the second is to use Zero Waste products. In order to not be a part of this pile of trash, you can avoid single-use plastics.
                </p>
            </blockquote>
        </section> 

        <section data-scroll-section>
            <p>
                I would like to point out that only the 9% of the plastics produced so far can be recycled. It is not possible to equate plastic waste with waste such as glass, metal and paper. While recycling or reusing non-plastic materials is easier and the rate is higher for non-plastic materials, recycling plastics is nothing but an empty promise.
            </p>
        </section> 
        <section class="no-contain" data-scroll-section>
            <figure class="pr">
                <picture style="--w:900; --h:546">
                    <img src="/static/temp.jpg" alt="">
                </picture>
                <figcaption>
                    DePoly is among the Top 12 finalists of Mass Challenge Switzerland 2020!
                </figcaption>
            </figure>
        </section>
        #}

        <section data-scroll-section class="df fc" id="article-end">
            <div class="df aib">
                <span>Category / </span>
                <span>
                    <a class="text-underline" href="/blog/?filter={{ article.settings.postCategory | slugify }}">{{ article.settings.postCategory }}</a>
                </span>
            </div>
            <div>
                <span>Published / </span>
                <span>{{ article.publishedAt }}</span>
            </div>
            <div class="df aib">
                <span>Share / </span>
                <span class="df share-links">
                    <div>
                        <a class="text-underline" rel="noreferrer noopener" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ article.settings.slug.current | slugify }}">FB</a>
                    </div>
                    <div>
                        <a class="text-underline" rel="noreferrer noopener" target="_blank" href="https://twitter.com/intent/tweet?url={{ site.url }}/{{ article.settings.slug.current | slugify }}">TW</a>
                    </div>
                    <div>
                        <a class="text-underline" rel="noreferrer noopener" target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}/{{ article.settings.slug.current | slugify }}">LN</a>
                    </div>
                </span>
            </div>
        </section>

    </article>

    <section id="related" class="restrict df fc pr" data-scroll-section>
        <div class="tag ttu fv-mono" data-shuffle>Read More</div>
        <ul class="df fc article-list--wrapper">
            {% for item in article.related %}

                <li class="blog-article--item">
                    <a href="/article/{{ item.settings.slug.current | slugify }}" class="article-card--link cp">
                        <div class="article-card article-card--vert df fc">
                            <picture class="article-card--thumbnail">
                                {# <img src="/static/temp.jpg" alt=""> #}
                                {% responsiveImage item.mainImage %}
                            </picture>
                            <div class="article-content df fc">
                                <div class="article-card--tag tag ttu fv-mono">{{ item.settings.postCategory }}  / {{ item.settings.publishedAt | toHRDate }}</div>
                                <div class="article-card--title">{% trim item.title,
                                    40 %}</div>
                                <p class="article-card--desc">{% trim item.intro %}</p>
                                <div class="df article-card--cta aic">
                                    <div>Read More</div>
                                    <div class="rarr-wrapper">
                                        <svg fill="none" viewBox="0 0 13 8">
                                            <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

            {% endfor %}

            {# <li class="blog-article--item">
                <a href="/article/" class="article-card--link cp">
                    <div class="article-card article-card--vert df fc">
                        <picture class="article-card--thumbnail">
                            <img src="/static/temp.jpg" alt="">
                        </picture>
                        <div class="article-content df fc">
                            <div class="article-card--tag tag ttu fv-mono">General  /  Oct 31, 2020</div>
                            <div class="article-card--title">WEF 2022 (summer) and Veuve Clicquot Bold Future Award 2022...</div>
                            <p class="article-card--desc">DePoly is among the Top 12 finalists of Mass Challenge Switzerland 2020! We are honoured and excited! See are CEO Samantha Anderson talking...</p>
                            <div class="df article-card--cta aic">
                                <div>Read More</div>
                                <div class="rarr-wrapper">
                                    <svg fill="none" viewBox="0 0 13 8">
                                        <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li> #}

        </ul>
    </section>

</main>