---
layout: _layout.njk
title: Blog
type: page
meta:
    site:
        name: DePoly
        description: ""
        url: https://depoly.com
        logo:
            src: https://depoly.com/static/meta/logo.png
            width: 1200
            height: 630
            language: en-US
    image:
        src: https://depoly.com/images/page.png
---

{# pagination: 
    data: articles.all
    size: 6
permalink: "blog/{{ pagination.pageNumber + 1 }}/" #}

<main data-hydra-content="blog" id="blog">
    <header id="blog-header" class="df restrict" data-scroll-section>
        <div id="blog-featured" class="article-animate">
            <div class="article-card">
                <a href="/article/{{ featuredArticle.settings.slug | slugify }}" class="article-card--link cp">
                    <picture class="article-card--thumbnail article-card--thumbnail-featured">
                        {% lazyResponsiveImage featuredArticle.mainImage,
                        "600,1200,2000",
                        "100vw",
                        "",
                        featuredArticle.title %}
                    </picture>
                    <div class="df jcb article-details">
                        <div class="article-card--tag tag ttu fv-mono">{{ featuredArticle.settings.category }}  /  {{ featuredArticle.settings.publishedAt | toHRDate }}</div>
                        <div class="article-card--highlight ttu fv-mono">Featured</div>
                    </div>
                    <div class="article-card--title">{% trim featuredArticle.title,
                        80,
                        true %}</div>
                    <p class="article-card--desc">{% trim featuredArticle.intro,
                        160,
                        true %}</p>
                    <div class="df article-card--cta aic">
                        <div>Read More</div>
                        <div class="rarr-wrapper">
                            <div class="oh pr">
                                <svg fill="none" viewBox="0 0 13 8">
                                    <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                </svg>
                                <svg class="pa" fill="none" viewBox="0 0 13 8">
                                    <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="blog-categories" class="article-animate m-hide">

            {% set idx = 0 %}
            <ul class="df fc" id="blog-category--list">
                <li>
                    {% if articles
                        .all[idx]
                        ._id == featuredArticle
                        ._id %}
                        {% set idx = idx + 1 %}
                    {% endif %}
                    {% set article = articles.all[idx] %}
                    <a href="/article/{{ article.settings.slug.current }}" class="article-card--link cp">
                        <div class="article-card article-card--hori df">
                            <picture class="article-card--thumbnail">
                                {% lazyResponsiveImage article.mainImage,
                                "600,1200",
                                "30vw",
                                "",
                                article.title %}
                            </picture>
                            <div class="article-content df fc">
                                <div class="article-card--tag tag ttu fv-mono">{{ article.settings.postCategory }}  /  {{ article.settings.publishedAt | toHRDate }}</div>
                                <div class="article-card--title">{% trim article.title,
                                    80,
                                    true %}
                                </div>
                                <p class="article-card--desc">
                                    {% trim article.title %}
                                </p>
                                <div class="df article-card--cta aic">
                                    <div>Read More</div>
                                    <div class="rarr-wrapper">
                                        <div class="oh pr">
                                            <svg fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                            <svg class="pa" fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                {% set idx = idx + 1 %}
                <li>
                    {% if articles
                        .all[idx]
                        ._id == featuredArticle
                        ._id %}
                        {% set idx = idx + 1 %}
                    {% endif %}
                    {% set article = articles.all[1] %}
                    <a href="/article/{{ article.settings.slug.current }}" class="article-card--link cp">
                        <div class="article-card article-card--hori df">
                            <picture class="article-card--thumbnail">
                                {% lazyResponsiveImage article.mainImage,
                                "600,1200",
                                "30vw",
                                "",
                                article.title %}
                            </picture>
                            <div class="article-content df fc">
                                <div class="article-card--tag tag ttu fv-mono">{{ article.settings.postCategory }}  /  {{ article.settings.publishedAt | toHRDate }}</div>
                                <div class="article-card--title">{% trim article.title,
                                    80,
                                    true %}
                                </div>
                                <p class="article-card--desc">
                                    {% trim article.title %}
                                </p>
                                <div class="df article-card--cta aic">
                                    <div>Read More</div>
                                    <div class="rarr-wrapper">
                                        <div class="oh pr">
                                            <svg fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                            <svg class="pa" fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </header>

    <section id="blog-two" data-scroll-section class="restrict df fc">
        <div id="blog-filters--extended" class="pr">
            <div id="search-extended" class="search-field df pr fv-mono pen">
                <input class="pea" id="search-extended--input" type="text" placeholder="Search" enterKeyHint="search">
                <svg id="search-extended--btn" class="pa left top pea z1 cp">
                    <use xlink:href="#search-icon"></use>
                </svg>
                <svg id="search-extended--close" class="pa right top pea z1 d-hide">
                    <use xlink:href="#cross-icon"></use>
                </svg>
            </div>
            <div class="pr pen" id="filters-extended--wrapper">
                <ul id="filters-extended" class="df ttu fv-mono pea">
                    <li id="filters-extended--all" class="filter-tag">All</li>
                    {% for category in categories %}
                        <li class="filter-tag">{{ category.title }}</li>
                    {% endfor %}
                </ul>
                <button id="filters-extended--btn" type="button" class="pa top right df aic jcc pea">
                    <svg class="pen" fill="none" viewBox="0 0 12 9">
                        <path d="M1.41.84 6 5.42 10.59.84 12 2.25l-6 6-6-6L1.41.84Z" fill="#022D42" stroke="#ECECE2" stroke-width=".3"/>
                    </svg>
                </button>
            </div>
        </div>

        <div>
            <ul id="blog-article--list">
                {# {% for article in articles.all %}
                    <li class="blog-article--item">
                        <a href="/article/{{ article.settings.slug.current | slugify }}"  class="article-card--link cp">
                            <div class="article-card article-card--vert df fc">
                                <picture class="article-card--thumbnail">
                                    {% lazyResponsiveImage article.mainImage,
                                    "600,1200",
                                    "30vw",
                                    "",
                                    article.title %}
                                </picture>
                                <div class="article-content df fc">
                                    <div class="article-card--tag tag ttu fv-mono">{{ article.settings.postCategory }}  /  {{ article.settings.publishedAt | toHRDate }}</div>
                                    <div class="article-card--title">{% trim article.title,
                                        40,
                                        true %}</div>
                                    <p class="article-card--desc">{% trim article.intro,
                                        160,
                                        true %}</p>
                                    <div class="df article-card--cta aic">
                                        <div>Read More</div>
                                        <div class="rarr-wrapper">
                                            <svg fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %} #}

            </ul>

            <template id="blog-article--item">
                <li class="blog-article--item">
                    <a href="/blog/" class="article-card--link cp">
                        <div class="article-card article-card--vert df fc">
                            <picture class="article-card--thumbnail">
                                <img src="" alt="">
                            </picture>
                            <div class="article-content df fc">
                                <div class="article-card--tag tag ttu fv-mono"></div>
                                <div class="article-card--title"></div>
                                <p class="article-card--desc"></p>
                                <div class="df article-card--cta aic">
                                    <div>Read More</div>
                                    <div class="rarr-wrapper">
                                        <div class="oh pr">
                                            <svg fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                            <svg class="pa" fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </template>

            <div class="pa df fc aic" id="no-results">
                <picture>
                    <img src="/static/blog/no-results.jpg" alt="No results">
                </picture>
                <div class="no-results--title ttu">
                    No Results :(
                </div>
                <p>Looks like there’s no result that fits your search criteria. Try again!</p>
            </div>

            <nav id="pagination" class="df aic jcb">
                <div class="page-arr" id="pagination-before">&larr;</div>
                <ol id="pagination-list" class="df fv-mono ttu">
                    {# pagination list #}
                </ol>
                <div class="page-arr" id="pagination-after">
                    &rarr;
                </div>
                <template id="page-template">
                    <li class="df aic jcc pagination-item"></li>
                </template>
            </nav>
        </div>

    </section>
</main>