---
layout: _layout.njk
title: Careers
type: page
meta:
    site:
        name: DePoly
        description: ""
        url: https://depoly.com
        logo:
            src: https://depoly.com/static/meta/logo.png
            width: 1200
            height: 630
            language: en-US
    image:
        src: https://depoly.com/images/page.png
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="career" id="careers">
    {{ 
        header(
            'Rejoignez-nous', 
            "Laisser votre empreinte en façonnant l'avenir", 
            "/static/careers/hero.jpg", 
            "careers"
        ) 
    }}

    {{ 
        textBlock(
            "Pourquoi nous rejoindre",
            [
                "Nous sommes une start-up en pleine croissance basée en Suisse. En tant que membre de notre équipe, vous allez travailler dans une ambiance multiculturelle, dans une entreprise passionnante qui va façonner non seulement le futur mais aussi le recyclage!",
                "Quand vous commencez à travailler chez DePoly, vous aurez l'opportunité de faire partie d'une entreprise innovante et durable. Nos employés sont au coeur de notre unique technologie, c'est pourquoi nous apprécions chaque membre de notre équipe.",
                "La diversité est au cœur de la stratégie durable de DePoly. Nous sommes une équipe internationale venant de différents coins du monde. Notre politique sociale est simple, l' « humain » est avant tout. Nous assurons en permanence l'égalité des chances pour tous, quels que soient leur race, leur sexe, leur orientation sexuelle ou leur handicap. Nous croyons que notre unicité et nos différences définissent notre force.",
                "Nous vous offrons une opportunité de refaçonner le futur d'une manière plus durable."
            ],
            "why-join"
        ) 
    }}

    <section class="df fc" id="meet" data-scroll-section>
        <div class="tag fv-mono ttu" data-shuffle>Nous sommes ravis de vous rencontrer </div>
        <div id="meet-slider" class="carousel-container pr">
            <ul class="carousel-slider fx fx-once pen">
                <li class="carousel-slide pen">
                    <picture class="carousel-slide__content">
                        <img draggable="false" data-lazy-src="/static/careers/team/1.jpg" alt="team photo"/>
                    </picture>
                </li>
                <li class="carousel-slide pen carousel-slide--stack df fc">
                    <picture class="carousel-slide__content">
                        <img draggable="false" data-lazy-src="/static/careers/team/2.jpg" alt="team photo"/>
                    </picture>
                    <picture class="carousel-slide__content">
                        <img draggable="false" data-lazy-src="/static/careers/team/3.jpg" alt="team photo"/>
                    </picture>
                </li>
                <li class="carousel-slide pen">
                    <picture class="carousel-slide__content">
                        <img draggable="false" data-lazy-src="/static/careers/team/4.jpg" alt="team photo"/>
                    </picture>
                </li>
                <li class="carousel-slide pen">
                    <picture class="carousel-slide__content">
                        <img draggable="false" data-lazy-src="/static/careers/team/5.jpg" alt="team photo"/>
                    </picture>
                </li>
            </ul>
            <div id="meet-slider--handle" class="compare-slider--handle df aic jcb pa">
                <svg class="compare-arr compare-arr--before">
                    <use xlink:href="#larr"></use>
                </svg>
                <div class="ttu fv-mono">
                    <div class="m-hide">cliquer et glisser</div>
                    <div class="d-hide">drag</div>
                </div>
                <svg class="compare-arr compare-arr--after">
                    <use xlink:href="#rarr"></use>
                </svg>
            </div>
        </div>
    </section>

    <section id="quotes" class="restrict df fc" data-scroll-section>
        <div class="tag fv-mono ttu" data-shuffle>Que disent les gens à propos de nous </div>

        <ul id="quotes-list" class="pr">
            <li class="df fc quote cp">
                <div class="quote-sno pa top left fv-mono ttu quote-reveal">01.</div>
                <div class="quote-apo pa top df aic jcc">
                    <svg>
                        <use xlink:href="#apostrophe"></use>
                    </svg>
                </div>
                <picture class="quote-picture fx fx-once">
                    <img data-lazy-src="/static/careers/quotes/1.jpg" alt="alt">
                </picture>
                <div class="df fc quote-content">
                    <blockquote class="quote-item quote-reveal">
                        Working at DePoly is really a great chance to improve your knowledge and meet great people.
                    </blockquote>
                    <cite class="quote-cite">
                        <div class="quote-name quote-reveal">Dr. Pelin Uran</div>
                        <div class="quote-role fv-mono ttu quote-reveal">Head of Research and development</div>
                    </cite>
                </div>
            </li>
            <li class="df fc quote cp pr">
                <div class="quote-sno pa top left fv-mono ttu quote-reveal">02.</div>
                <div class="quote-apo pa top df aic jcc">
                    <svg>
                        <use xlink:href="#apostrophe"></use>
                    </svg>
                </div>
                <picture class="quote-picture fx fx-once">
                    <img data-lazy-src="/static/careers/quotes/2.jpg" alt="alt">
                </picture>
                <div class="df fc quote-content">
                    <blockquote class="quote-item quote-reveal">
                        Nous visons tous un objectif fantastique: sauver la planète! J'ai le sentiment d'apporter ma pierre à l'édifice.
                    </blockquote>
                    <cite class="quote-cite">
                        <div class="quote-name quote-reveal">Nancy Keller</div>
                        <div class="quote-role fv-mono ttu quote-reveal">Finance & Administration Director</div>
                    </cite>
                </div>
            </li>
            <li class="df fc quote cp pr">
                <div class="quote-sno pa top left fv-mono ttu quote-reveal">03.</div>
                <div class="quote-apo pa top df aic jcc">
                    <svg>
                        <use xlink:href="#apostrophe"></use>
                    </svg>
                </div>
                <picture class="quote-picture fx fx-once">
                    <img data-lazy-src="/static/careers/quotes/3.jpg" alt="alt">
                </picture>
                <div class="df fc quote-content">
                    <blockquote class="quote-item quote-reveal">
                        DePoly est le lieu où chaque infime tâche a un impact énorme. Et c'est cela qu'on nomme Travailler pour un But!
                    </blockquote>
                    <cite class="quote-cite">
                        <div class="quote-name quote-reveal">Mohamed Hlaiem</div>
                        <div class="quote-role fv-mono ttu quote-reveal">Head of Engineering</div>
                    </cite>
                </div>
            </li>
        </ul>
    </section>

    <section id="position" class="restrict df fc" data-scroll-section>
        <div id="position-tag--wrapper">
            <div class="tag fv-mono ttu" data-shuffle>Postes vacants</div>
        </div>
        <div id="position-content">
            <ul class="df fc" id="position-list">
                {% for job in jobs %}
                    {% if job.active %}
                        <li class="df fc jcb position-item">
                            <div class="pos-rev position-role">{{ job.title }}</div>
                            <div class="pos-rev position-location">{{ job.location }}</div>
                            <div class="pos-rev position-level">
                                {{ job.levels }}
                            </div>
                            <div class="position-cta">
                                <a href="/careers/{{ job.slug.current }}/" class="cta-btn df fit">
                                    <div class="pr oh btn-wrapper">
                                        <div class="btn-inner" data-content="Afficher les détails">Afficher les détails</div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div id="not-found" class="df jcb fc">
                <div id="not-found--title">Vous n'arrivez pas à trouver votre poste?</div>
                <p id="not-found--desc">
                    Nous sommes toujours à la recherche de nouveaux talents pour nous rejoindre dans notre mission ! N'hésitez pas à nous contacter. 
                </p>
                <div>
                    <a href="/contact/" class="df cta-btn">
                        <div class="pr oh btn-wrapper">
                            <div class="btn-inner" data-content="Nous contacter">Nous contacter</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>

</main>