---
layout: _layout.njk
title: Careers
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="career" id="careers">
    {{ 
        header(
            'Join Us', 
            "Make Your Mark In Shaping The Future", 
            "/static/careers/hero.jpg", 
            "careers"
        ) 
    }}

    {{ 
        textBlock(
            "Why join us?",
            [
                "We are a fast-growing company based in Switzerland. As a part of DePoly you will work in a multicultural atmosphere, whilst being part of an exciting new award-winning emerging company.",
                "When you start working at DePoly, you’ll have a chance to be a part of a new fast growing green industry. Our employees are the very core of our unique and specialist technology and, as such, we value each and every member of our DePoly team.",
                "Diversity is in the heart of DePoly's sustainable strategy. We are an international team coming from different corners of the world. Our social policy is simple, the 'human' comes first. We are continuously ensuring equal chances for everyone regardless of their race, gender, sexual orientation or disabilities. We believe that our uniqueness and differences define our strength.",
                "We offer you a opportunity to shape a more sustainable and green future."
            ],
            "why-join"
        ) 
    }}

    <section class="df fc" id="meet" data-scroll-section>
        <div class="tag fv-mono ttu" data-shuffle>Nice to meet you</div>
        <div id="meet-slider" class="carousel-container pr">
            <ul class="carousel-slider fx fx-once">
                <li class="carousel-slide">
                    <picture class="carousel-slide__content">
                        <img data-lazy-src="/static/careers/team/1.jpg" alt="team photo"/>
                    </picture>
                </li>
                <li class="carousel-slide carousel-slide--stack df fc">
                    <picture class="carousel-slide__content">
                        <img data-lazy-src="/static/careers/team/2.jpg" alt="team photo"/>
                    </picture>
                    <picture class="carousel-slide__content">
                        <img data-lazy-src="/static/careers/team/3.jpg" alt="team photo"/>
                    </picture>
                </li>
                <li class="carousel-slide">
                    <picture class="carousel-slide__content">
                        <img data-lazy-src="/static/careers/team/4.jpg" alt="team photo"/>
                    </picture>
                </li>
                <li class="carousel-slide">
                    <picture class="carousel-slide__content">
                        <img data-lazy-src="/static/careers/team/5.jpg" alt="team photo"/>
                    </picture>
                </li>
            </ul>
            <div id="meet-slider--handle" class="compare-slider--handle df aic jcb pa">
                <svg class="compare-arr compare-arr--before">
                    <use xlink:href="#larr"></use>
                </svg>
                <div class="ttu fv-mono">
                    <div class="m-hide">click & drag</div>
                    <div class="d-hide">drag</div>
                </div>
                <svg class="compare-arr compare-arr--after">
                    <use xlink:href="#rarr"></use>
                </svg>
            </div>
        </div>
    </section>

    <section id="quotes" class="restrict df fc" data-scroll-section>
        <div class="tag fv-mono ttu" data-shuffle>People said this</div>

        <ul id="quotes-list" class="pr">
            <li class="df fc quote cp">
                <div class="quote-sno pa top left fv-mono ttu quote-reveal">01.</div>
                <div class="quote-apo pa top df aic jcc">
                    <svg>
                        <use xlink:href="#apostrophe"></use>
                    </svg>
                </div>
                <picture class="quote-picture">
                    <img data-lazy-src="/static/careers/quotes/1.jpg" alt="alt">
                </picture>
                <div class="df fc quote-content">
                    <blockquote class="quote-item quote-reveal">
                        Working at DePoly is really a great chance to improve your knowledge and meet great people.
                    </blockquote>
                    <cite class="quote-cite">
                        <div class="quote-name quote-reveal">Dr. Pelin Uran</div>
                        <div class="quote-role fv-mono ttu quote-reveal">Head of Research and development</div>
                    </cite>
                </div>
            </li>
            <li class="df fc quote cp pr">
                <div class="quote-sno pa top left fv-mono ttu quote-reveal">02.</div>
                <div class="quote-apo pa top df aic jcc">
                    <svg>
                        <use xlink:href="#apostrophe"></use>
                    </svg>
                </div>
                <picture class="quote-picture">
                    <img data-lazy-src="/static/careers/quotes/2.jpg" alt="alt">
                </picture>
                <div class="df fc quote-content">
                    <blockquote class="quote-item quote-reveal">
                        Working at DePoly is really a great chance to improve your knowledge and meet great people.
                    </blockquote>
                    <cite class="quote-cite">
                        <div class="quote-name quote-reveal">Dr. Pelin Uran</div>
                        <div class="quote-role fv-mono ttu quote-reveal">Head of Research and development</div>
                    </cite>
                </div>
            </li>
            <li class="df fc quote cp pr">
                <div class="quote-sno pa top left fv-mono ttu quote-reveal">03.</div>
                <div class="quote-apo pa top df aic jcc">
                    <svg>
                        <use xlink:href="#apostrophe"></use>
                    </svg>
                </div>
                <picture class="quote-picture">
                    <img data-lazy-src="/static/careers/quotes/3.jpg" alt="alt">
                </picture>
                <div class="df fc quote-content">
                    <blockquote class="quote-item quote-reveal">
                        Working at DePoly is really a great chance to improve your knowledge and meet great people.
                    </blockquote>
                    <cite class="quote-cite">
                        <div class="quote-name quote-reveal">Dr. Pelin Uran</div>
                        <div class="quote-role fv-mono ttu quote-reveal">Head of Research and development</div>
                    </cite>
                </div>
            </li>
        </ul>
    </section>

    <section id="position" class="restrict df fc" data-scroll-section>
        <div id="position-tag--wrapper">
            <div class="tag fv-mono ttu" data-shuffle>Open positions</div>
        </div>
        <div id="position-content">
            <ul class="df fc" id="position-list">
                {% for job in jobs %}
                    {% if job.active %}
                        <li class="df fc jcb position-item">
                            <div class="pos-rev position-role">{{ job.title }}</div>
                            <div class="pos-rev position-location">{{ job.location }}</div>
                            <div class="pos-rev position-level">{{ job.level }}</div>
                            <div class="position-cta">
                                <a href="/careers/{{ job.slug.current }}/" class="cta-btn df">
                                    <div class="pr oh btn-wrapper">
                                        <div class="btn-inner" data-content="Show Details">Show Details</div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div id="not-found" class="df jcb fc">
                <div id="not-found--title" class="pos-rev">Can’t find your position?</div>
                <p id="not-found--desc" class="pos-rev">
                    We’re always looking for fresh talents to join us on journey of creating the better future for our next generations.
                </p>
                <div>
                    <a href="/contact/" class="df cta-btn">
                        <div class="pr oh btn-wrapper">
                            <div class="btn-inner" data-content="Contact Us">Contact Us</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>

</main>