---
layout: _layout.njk
title: Blog
---

<main data-hydra-content="blog" id="blog">
    <header id="blog-header" class="df restrict" data-scroll-section>
        <div id="blog-featured" class="article-animate">
            <div class="article-card">
                <a href="/article/{{ featuredArticle.settings.slug | slugify }}" class="article-card--link cp">
                    <picture class="article-card--thumbnail article-card--thumbnail-featured">
                        {% responsiveImage featuredArticle.mainImage,
                        "600,1200,2000",
                        "30vw",
                        "",
                        featuredArticle.title %}
                    </picture>
                    <div class="df jcb article-details">
                        <div class="article-card--tag tag ttu fv-mono">{{ featuredArticle.settings.category }}  /  {{ featuredArticle.settings.publishedAt | toHRDate }}</div>
                        <div class="article-card--highlight ttu fv-mono">Featured</div>
                    </div>
                    <div class="article-card--title">{% trim featuredArticle.title,
                        80 %}</div>
                    <p class="article-card--desc">{% trim featuredArticle.intro %}</p>
                    <div class="df article-card--cta aic">
                        <div>Read More</div>
                        <div class="rarr-wrapper">
                            <svg fill="none" viewBox="0 0 13 8">
                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="blog-categories" class="article-animate m-hide">
            <div id="blog-filters">
                <div id="filter-content" class="df jcb aic">
                    <ul class="fv-mono ttu df">
                        <li class="filter-category cp active">All</li>
                        {% for category in categories %}
                            {# add active class if active #}
                            <li class="filter-category cp">{{ category.title }}</li>
                        {% endfor %}
                    </ul>
                    <div id="search-top" class="pr search-field fv-mono">
                        <input id="search" type="text" placeholder="Search" enterKeyHint="search">
                        <svg class="pa left top pen">
                            <use xlink:href="#search-icon"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <ul class="df fc" id="blog-category--list">
                <li class="">
                    <a href="/blog/" class="article-card--link cp">
                        <div class="article-card article-card--hori df">
                            <picture class="article-card--thumbnail">
                                <img src="/static/temp.jpg" alt="">
                            </picture>
                            <div class="article-content df fc">
                                <div class="article-card--tag tag ttu fv-mono">General  /  Oct 31, 2020</div>
                                <div class="article-card--title">WEF 2022 (summer) and Veuve Clicquot Bold Future Award 2022...</div>
                                <p class="article-card--desc">DePoly is among the Top 12 finalists of Mass Challenge Switzerland 2020! We are honoured and excited! See are CEO Samantha Anderson talking...</p>
                                <div class="df article-card--cta aic">
                                    <div>Read More</div>
                                    <div class="rarr-wrapper">
                                        <svg fill="none" viewBox="0 0 13 8">
                                            <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="">
                    <a href="/blog/" class="article-card--link cp">
                        <div class="article-card article-card--hori df">
                            <picture class="article-card--thumbnail">
                                <img src="/static/temp.jpg" alt="">
                            </picture>
                            <div class="article-content df fc">
                                <div class="article-card--tag tag ttu fv-mono">General  /  Oct 31, 2020</div>
                                <div class="article-card--title">WEF 2022 (summer) and Veuve Clicquot Bold Future Award 2022...</div>
                                <p class="article-card--desc">DePoly is among the Top 12 finalists of Mass Challenge Switzerland 2020! We are honoured and excited! See are CEO Samantha Anderson talking...</p>
                                <div class="df article-card--cta aic">
                                    <div>Read More</div>
                                    <div class="rarr-wrapper">
                                        <svg fill="none" viewBox="0 0 13 8">
                                            <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="">
                    <a href="/blog/" class="article-card--link cp">
                        <div class="article-card article-card--hori df">
                            <picture class="article-card--thumbnail">
                                <img src="/static/temp.jpg" alt="">
                            </picture>
                            <div class="article-content df fc">
                                <div class="article-card--tag tag ttu fv-mono">General  /  Oct 31, 2020</div>
                                <div class="article-card--title">WEF 2022 (summer) and Veuve Clicquot Bold Future Award 2022...</div>
                                <p class="article-card--desc">DePoly is among the Top 12 finalists of Mass Challenge Switzerland 2020! We are honoured and excited! See are CEO Samantha Anderson talking...</p>
                                <div class="df article-card--cta aic">
                                    <div>Read More</div>
                                    <div class="rarr-wrapper">
                                        <svg fill="none" viewBox="0 0 13 8">
                                            <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </header>

    <section id="blog-two" data-scroll-section class="restrict df fc">
        <div id="blog-filters--extended">
            <div id="search-extended" class="search-field df pr fv-mono">
                <input id="search-extended--input" type="text" placeholder="Search" enterKeyHint="search">
                <svg class="pa left top pen">
                    <use xlink:href="#search-icon"></use>
                </svg>
            </div>
            <div class="pr" id="filters-extended--wrapper">
                <ul id="filters-extended" class="df fw ttu fv-mono">
                    <li class="filter-tag active">All</li>
                    {% for category in categories %}
                        {# add active class if active #}
                        <li class="filter-tag">{{ category.title }}</li>
                    {% endfor %}
                </ul>
                <button id="filters-extended--btn" type="button" class="pa top right df aic jcc">
                    <svg class="pen" fill="none" viewBox="0 0 12 9">
                        <path d="M1.41.84 6 5.42 10.59.84 12 2.25l-6 6-6-6L1.41.84Z" fill="#022D42" stroke="#ECECE2" stroke-width=".3"/>
                    </svg>
                </button>
            </div>
        </div>
        <div>
            <ul id="blog-article--list" class="df fc">
                {% for article in articles.all %}
                    <li class="blog-article--item">
                        <a href="/article/{{ article.settings.slug.current | slugify }}"  class="article-card--link cp">
                            <div class="article-card article-card--vert df fc">
                                <picture class="article-card--thumbnail">
                                    {% responsiveImage article.mainImage,
                                    "600,1200",
                                    "30vw",
                                    "",
                                    article.title %}
                                </picture>
                                <div class="article-content df fc">
                                    <div class="article-card--tag tag ttu fv-mono">{{ article.settings.postCategory }}  /  {{ article.settings.publishedAt | toHRDate }}</div>
                                    <div class="article-card--title">{% trim article.title,
                                        40 %}</div>
                                    <p class="article-card--desc">{% trim article.intro %}</p>
                                    <div class="df article-card--cta aic">
                                        <div>Read More</div>
                                        <div class="rarr-wrapper">
                                            <svg fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                <template id="blog-article--item">
                    <li class="blog-article--item">
                        <a href="/blog/" class="article-card--link cp">
                            <div class="article-card article-card--vert df fc">
                                <picture class="article-card--thumbnail">
                                    <img src="/static/temp.jpg" alt="">
                                </picture>
                                <div class="article-content df fc">
                                    <div class="article-card--tag tag ttu fv-mono">General  /  Oct 31, 2020</div>
                                    <div class="article-card--title">WEF 2022 (summer) and Veuve Clicquot Bold Future Award 2022...</div>
                                    <p class="article-card--desc">DePoly is among the Top 12 finalists of Mass Challenge Switzerland 2020! We are honoured and excited! See are CEO Samantha Anderson talking...</p>
                                    <div class="df article-card--cta aic">
                                        <div>Read More</div>
                                        <div class="rarr-wrapper">
                                            <svg fill="none" viewBox="0 0 13 8">
                                                <path d="m8.402 1.085 2.137 2.108H0V4.8h10.54L8.401 6.915 9.499 8 13 4.543V3.457L9.499 0 8.402 1.085Z" fill="#022D42"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </template>

            </ul>

            <nav id="pagination" class="df aic jcb m-hide">
                <div class="page-arr" id="navigation-before">&larr;</div>
                <ol id="pagination-list" class="df fv-mono ttu">
                    {# {% for pageEntry in pagination.pages %}
                    {% if page.url == pagination.hrefs[loop.index0] %}
                        {% set activeIndex = loop.index0 %}
                        {% set numPages = loop.length %}
                    {% endif %}
                {% endfor %} #}

                    {# first item is active #}
                    {# {% if activeIndex == 0 %}
                    {% for pageEntry in pagination
                        .pages
                        .slice(0, 3) %}
                        <li class="pagination-item {% if page.url == pagination.hrefs[ loop.index0 ] %} active pen {% endif %}">
                            <a 
                        class="df aic jcc pagination-item--link" 
                        href="{{ pagination.hrefs[ loop.index0 ] }}"
                        {% if page.url == pagination.hrefs[ loop.index0 ] %} 
                            aria-current="page"
                        {% endif %}
                    >
                                {{ loop.index }}
                            </a>
                        </li>
                    {% endfor %} #}

                    {# last item is active #}
                    {# {% elif activeIndex == numPages %}
                    {% for pageEntry in pagination.pages.slice(numPages - 3, numPages) %}
                        <li class="pagination-item {% if page.url == pagination.hrefs[ loop.index0 ] %} active pen {% endif %}">
                            <a 
                        class="df aic jcc pagination-item--link" 
                        href="{{ pagination.hrefs[ loop.index0 ] }}"
                        {% if page.url == pagination.hrefs[ loop.index0 ] %} 
                            aria-current="page"
                        {% endif %}
                    >
                                {{ loop.index }}
                            </a>
                        </li>
                    {% endfor %} #}

                    {# middle case #}
                    {# {% elif activeIndex > 0 %}
                    {% for pageEntry in pagination
                    .pages
                    .slice(activeIndex - 1, activeIndex + 1) %}
                        <li class="pagination-item {% if page.url == pagination.hrefs[ loop.index0 ] %} active pen {% endif %}">
                            <a 
                        class="df aic jcc pagination-item--link" 
                        href="{{ pagination.hrefs[ loop.index0 ] }}"
                        {% if page.url == pagination.hrefs[ loop.index0 ] %} 
                            aria-current="page"
                        {% endif %}
                    >
                                {{ loop.index }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %} #}

                    <li class="pagination-item active pen">
                        <a class="df aic jcc pagination-item--link" aria-current="page">1</a>
                    </li>

                    <li class="pagination-item">
                        <a class="df aic jcc pagination-item--link">2</a>
                    </li>

                    <li class="pagination-item">
                        <a class="df aic jcc pagination-item--link">3</a>
                    </li>

                    <li class="pagination-item">
                        <a class="df aic jcc pagination-item--link">4</a>
                    </li>

                    <li class="pagination-item">
                        <a class="df aic jcc pagination-item--link">5</a>
                    </li>

                </ol>
                <div class="page-arr" id="navigation-after">
                    &rarr;
                </div>
            </nav>
        </div>

    </section>
</main>