---
layout: _layout.njk
title: Contact
type: page
meta:
    site:
        name: DePoly
        description: ""
        url: https://depoly.com
        logo:
            src: https://depoly.com/static/meta/logo.png
            width: 1200
            height: 630
            language: en-US
    image:
        src: https://depoly.com/images/page.png
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="contact" id="contact">
    {{ 
        header(
            'Nous contacter', 
            "Nous sommes toujours heureux de vous parler!", 
            "/static/contact/hero.jpg", 
            "hero img"
        ) 
    }}

    <section id="form" class="restrict df fc border-bottom" data-scroll-section>
        <div id="prefer-mail" class="df fc jcb">
            <div id="prefer-mail--title" class="rev">Vous souhaitez envoyer un email au lieu de remplir un formulaire?</div>
            <ul id="contact-list" class="df fc">
                <li class="contact-item df fc" data-footer-hover="contact@depoly.ch">
                    <div class="pr fit tag-wrapper">
                        <div class="contact-title ttu">Général</div>
                        <div class="pa ttu footer-tag">Copier dans le presse-papier</div>
                    </div>
                    <div>
                        <div class="contact-link link link-solid link-dark hover-item">contact@depoly.ch</div>
                    </div>
                </li>
                <li class="contact-item df fc" data-footer-hover="careers@depoly.ch">
                    <div class="pr fit tag-wrapper">
                        <div class="contact-title ttu">Envoyer votre CV</div>
                        <div class="pa ttu footer-tag">Copier dans le presse-papier</div>
                    </div>
                    <div>
                        <div class="contact-link link link-solid link-dark hover-item">careers@depoly.ch</div>
                    </div>
                </li>
                <li class="contact-item df fc" data-footer-hover="sales@depoly.ch">
                    <div class="pr fit tag-wrapper">
                        <div class="contact-title ttu">Curieux d'un échantillon?</div>
                        <div class="pa ttu footer-tag">Copier dans le presse-papier</div>
                    </div>
                    <div>
                        <div class="contact-link link link-solid link-dark hover-item">sales@depoly.ch</div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="form-list" class="df fc pr">

            <div id="dropdown-m--wrapper" class="pr top left right d-hide z1">
                <div id="dropdown-m--active" class="z1 pr">
                    <div data-value="0">Informations Générales</div>
                    <svg class="pa top right" id="dropdown-m--chevron" viewBox="0 0 13 8" fill="none">
                        <path d="M2.41.84 7 5.42 11.59.84 13 2.25l-6 6-6-6L2.41.84Z" fill="#022D42" stroke="#ECECE2" stroke-width=".3"/>
                    </svg>
                </div>
                <ul id="dropdown-m" class="pa z1">
                    <li data-value="1" class="dropdown-m--item">Envoyer votre CV</li>
                    <li data-value="2" class="dropdown-m--item">Echantillon et Devis</li>
                </ul>
                <div class="pa inset dropdown-bg zn1"></div>
            </div>

            <div id="form-underlay" class="pa inset d-hide pen"></div>

            {# General Information #}
            <div class="pr form-wrapper z0" id="general-form--wrapper">
                <details class="form-details pr" id="general-form" open>
                    <summary class="form-title m-hide">Informations Générales</summary>
                    <form novalidate data-netlify="true" name="General Information" method="POST" class="form-content">
                        <div class="df fc form-inner">
                            <div class="df fc field-col">
                                <div class="field pr">
                                    <input name="First Name" class="field-input first-name" id="general-firstname" placeholder="Prénom" required type="text" data-type="name">
                                    <label class="pen field-label pa" for="general-firstname">Prénom</label>
                                    <label class="pen field-label--active ttu pa" for="general-firstname">Prénom</label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une nom valable</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <input name="Last Name" class="field-input" id="general-lastname" placeholder="Nom" required type="text" data-type="name">
                                    <label class="pen field-label pa" for="general-lastname">Nom</label>
                                    <label class="pen field-label--active ttu pa" for="general-lastname">Nom</label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une nom valable</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <input name="Email ID" class="field-input" id="general-email" placeholder="Adresse électronique " required type="email" data-type="email">
                                    <label class="pen field-label pa" for="general-email">Adresse électronique </label>
                                    <label class="pen field-label--active ttu pa" for="general-email">Adresse électronique </label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une adresse mail valable</div>
                                    </div>
                                </div>
                            </div>
                            <div class="df">
                                <div class="field pr textarea">
                                    <textarea class="field-input field-input--textarea" placeholder="Votre message" name="Message" id="general-message" cols="30" rows="10"></textarea>
                                    <label class="pen field-label pa" for="general-message">Votre message</label>
                                    <label class="pen field-label--active ttu pa" for="general-message">Votre message</label>
                                </div>
                            </div>
                        </div>
                        <button class="cta-btn" id="general-submit">
                            <div class="pr oh btn-wrapper">
                                <div class="btn-inner" data-content="envoyer le message">envoyer le message</div>
                            </div>
                        </button>
                    </form>
                </details>
                <button class="pa top right form-toggle pen df aic jcc">
                    <svg>
                        <use xlink:href="#cross-icon"></use>
                    </svg>
                </button>
                <div class="form-status pa inset df fc aic jcc">
                    <div class="form-status--tick df aic jcc">
                        <svg>
                            <use xlink:href="#tick-icon"></use>
                        </svg>
                    </div>
                    <div class="form-status--thank ttu">Merci, </div>
                    <p class="form-status--desc">Votre message is sent sucessfully and it will be answered soon</p>
                </div>
            </div>

            {# Submit CV #}
            <div class="pr form-wrapper">
                <details class="form-details pr" id="cv-form">
                    <summary class="form-title m-hide">Envoyer votre CV</summary>
                    <form novalidate enctype="multipart/form-data" data-netlify="true" name="Submit CV" method="POST" class="form-content">
                        <div class="df fc form-inner">
                            <div class="df fc field-col">
                                <div class="field pr">
                                    <input name="First Name" class="field-input first-name" id="cv-firstname" placeholder="Prénom" required type="text" data-type="name">
                                    <label class="pen field-label pa" for="cv-firstname">Prénom</label>
                                    <label class="pen field-label--active ttu pa" for="cv-firstname">Prénom</label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une nom valable</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <input name="Last Name" class="field-input" id="cv-lastname" placeholder="Nom" required type="text" data-type="name">
                                    <label class="pen field-label pa" for="cv-lastname">Nom</label>
                                    <label class="pen field-label--active ttu pa" for="cv-lastname">Nom</label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une nom valable</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <input name="Email ID" class="field-input" id="cv-email" placeholder="Adresse électronique " required type="email" data-type="email">
                                    <label class="pen field-label pa" for="cv-email">Adresse électronique </label>
                                    <label class="pen field-label--active ttu pa" for="cv-email">Adresse électronique </label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une adresse électronique  valable</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <input name="Linkedin Profile" class="field-input" id="cv-linkedin" placeholder="Profil LinkedIn (Optionnel)" type="url" data-type="url">
                                    <label class="pen field-label pa" for="cv-linkedin">Profil LinkedIn (Optionnel)</label>
                                    <label class="pen field-label--active ttu pa" for="cv-linkedin">Profil LinkedIn (Optionnel)</label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une nom valable URL</div>
                                    </div>
                                </div>
                                <div class="field field-dash pr">
                                    <input name="CV File" class="cp field-input--file" id="cv-cvfile" placeholder="Télécharger votre CV" required type="file">
                                    <label class="field-label field-label--file-inner pen pa df aic">
                                        <svg>
                                            <use xlink:href="#file-icon"></use>
                                        </svg>
                                        <div class="field-label--filename">Télécharger votre CV</div>
                                    </label>
                                </div>
                                <div class="field field-dash pr">
                                    <input name="Cover letter File" class="cp field-input--file" id="cv-coverletterfile" placeholder="Télécharger votre lettre de motivation" required type="file">
                                    <label class="field-label field-label--file-inner pen pa df aic">
                                        <svg>
                                            <use xlink:href="#file-icon"></use>
                                        </svg>
                                        <div class="field-label--filename">Télécharger votre lettre de motivation</div>
                                    </label>
                                </div>
                            </div>
                            <div class="df">
                                <div class="field pr textarea">
                                    <textarea class="field-input field-input--textarea" placeholder="Votre message" name="Message" id="cv-message" cols="30" rows="10"></textarea>
                                    <label class="pen field-label pa" for="cv-message">Votre message</label>
                                    <label class="pen field-label--active ttu pa" for="cv-message">Votre message</label>
                                </div>
                            </div>
                        </div>
                        <button class="cta-btn" id="cv-submit">
                            <div class="pr oh btn-wrapper">
                                <div class="btn-inner" data-content="Postuler à cette offre ">Postuler à cette offre </div>
                            </div>
                        </button>
                    </form>
                </details>
                <button class="pa top right form-toggle z1 pen df aic jcc">
                    <svg>
                        <use xlink:href="#cross-icon"></use>
                    </svg>
                </button>
                <div class="form-status pa inset df fc aic jcc">
                    <div class="form-status--tick df aic jcc">
                        <svg>
                            <use xlink:href="#tick-icon"></use>
                        </svg>
                    </div>
                    <div class="form-status--thank ttu">Merci, </div>
                    <p class="form-status--desc">Votre message is sent sucessfully and it will be answered soon</p>
                </div>
            </div>

            {# Sample & Quote #}
            <div class="pr form-wrapper">
                <details class="form-details pr" id="sample-form">
                    <summary class="form-title margin-sm m-hide">Echantillon et Devis</summary>
                    <form novalidate enctype="multipart/form-data" data-netlify="true" name="Sample & Quote" method="POST" class="form-content">
                        <div class="form-subtitle df fc aic jcc">
                            <div class="info-icon">
                                <svg>
                                    <use xlink:href="#info-icon--filled"></use>
                                </svg>
                            </div>
                            <div>Seulement les laboratoires enregistrés peuvent commander un échantillon.</div>
                        </div>
                        <div class="df fc form-inner">
                            <div class="df fc field-col">
                                <div class="field pr">
                                    <input name="First Name" class="field-input first-name" id="sample-firstname" placeholder="Prénom" required type="text" data-type="name">
                                    <label class="pen field-label pa" for="sample-firstname">Prénom</label>
                                    <label class="pen field-label--active ttu pa" for="sample-firstname">Prénom</label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une nom valable</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <input name="Last Name" class="field-input" id="sample-lastname" placeholder="Nom" required type="text" data-type="name">
                                    <label class="pen field-label pa" for="sample-lastname">Nom</label>
                                    <label class="pen field-label--active ttu pa" for="sample-lastname">Nom</label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une nom valable</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <input name="Email ID" class="field-input" id="sample-email" placeholder="Adresse électronique " required type="email" data-type="email">
                                    <label class="pen field-label pa" for="sample-email">Adresse électronique </label>
                                    <label class="pen field-label--active ttu pa" for="sample-email">Adresse électronique </label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une adresse électronique valable</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <input name="Company Name" class="field-input" id="sample-company" placeholder="Nom de l'entreprise " required type="text">
                                    <label class="pen field-label pa" for="sample-company">Nom de l'entreprise </label>
                                    <label class="pen field-label--active ttu pa" for="sample-company">Nom de l'entreprise </label>
                                    <div class="cp pa error-icon">
                                        <svg>
                                            <use xlink:href="#err-icon"></use>
                                        </svg>
                                        <div class="error-overlay ttu pa">Merci de fournir une nom valable company name</div>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <select class="field-input" name="Industry" id="sample-industry">
                                        <option value="placeholder">Industrie</option>
                                        <option value="Medical">Medical</option>
                                        <option value="Biotechnology">Biotechnology</option>
                                        <option value="Ecology">Ecology</option>
                                        <option value="Recycling">Recycling</option>
                                    </select>
                                    <div class="select-dropdown pa pen">
                                        <svg>
                                            <use xlink:href="#dropdown-arr"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="field pr">
                                    <select class="field-input" name="Purpose" id="sample-purpose">
                                        <option value="placeholder">But de l'utilisation </option>
                                        <option value="Medical">Medical</option>
                                        <option value="Biotechnology">Biotechnology</option>
                                        <option value="Ecology">Ecology</option>
                                        <option value="Recycling">Recycling</option>
                                    </select>
                                    <div class="select-dropdown pa pen">
                                        <svg>
                                            <use xlink:href="#dropdown-arr"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="df">
                                <div class="field pr textarea">
                                    <textarea class="field-input field-input--textarea" placeholder="Votre message" name="Message" id="sample-message" cols="30" rows="10"></textarea>
                                    <label class="pen field-label pa" for="sample-message">Votre message</label>
                                    <label class="pen field-label--active ttu pa" for="sample-message">Votre message</label>
                                </div>
                            </div>
                        </div>
                        <button class="cta-btn" id="sample-submit">
                            <div class="pr oh btn-wrapper">
                                <div class="btn-inner" data-content="Demander un échantillon">Demander un échantillon</div>
                            </div>
                        </button>
                    </form>
                </details>
                <button class="pa top right form-toggle z1 pen df aic jcc">
                    <svg>
                        <use xlink:href="#cross-icon"></use>
                    </svg>
                </button>
                <div class="form-status pa inset df fc aic jcc">
                    <div class="form-status--tick df aic jcc">
                        <svg>
                            <use xlink:href="#tick-icon"></use>
                        </svg>
                    </div>
                    <div class="form-status--thank ttu">Merci, </div>
                    <p class="form-status--desc">Votre message is sent sucessfully and it will be answered soon</p>
                </div>
            </div>
        </div>
    </section>

    <section data-scroll-section id="location" class="df fc restrict pr no-contain">
        <div class="tag ttu fv-mono" data-shuffle>Location</div>
        <div id="map" class="oh pr">
            <picture class="pr fx fx-once" id="map-picture">
                <img class="m-hide" src="/static/contact/map.jpg" alt="map">
                <img class="d-hide" src="/static/contact/map-m.jpg" alt="map">
            </picture>
            <div id="map-overlay" class="df fc pa z2 fx fx-once">
                <div id="map-overlay--text">Rue de l'Industrie 17 1950 Sion, Valais Switzerland</div>
                <a href="https://goo.gl/maps/LacBRchae6ipWJNH9" rel="noreferrer noopener" target="_blank" class="cta-btn df cp" id="map-cta">
                    <div class="pr oh btn-wrapper">
                        <div class="btn-inner" data-content="Google Maps">Google Maps</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pa bottom left" id="social-links">
            <div class="contact-title mb-extra ttu">Social Links</div>
            <ul>
                <li>
                    <a href="https://twitter.com/DePolySA" target="_blank" rel="noreferrer noopener" class="contact-link link link-solid link-dark">
                        <div>Twitter</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/depoly.sa" target="_blank" rel="noreferrer noopener" class="contact-link link link-solid link-dark">
                        <div>Facebook</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/depoly/" target="_blank" rel="noreferrer noopener" class="contact-link link link-solid link-dark">
                        <div>Linkedin</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>