---
layout: _layout.njk
title: Contact
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="contact" id="contact">
    {{ 
        header(
            'Contact Us', 
            "We're always happy to host and talk to with you", 
            "/static/about/hero.jpg", 
            "hero img"
        ) 
    }}

    <section id="form" class="restrict df border-bottom" data-scroll-section>
    
    </section>

    <section data-scroll-section id="location" class="df restrict pr">
        <div class="tag ttu fv-mono">Location</div>
        <div id="map" class="oh pr">
            <picture class="pr" id="map-picture">
                <img src="/static/contact/map.jpg" alt="map">
            </picture>
            <div id="map-overlay" class="df fc pa z2">
                <div id="map-overlay--text">Rue de l'Industrie 17 1950 Sion, Valais Switzerland</div>
                <a href="/" rel="noreferrer noopener" targets="_blank" class="cta-btn df cp" id="nav-cta">
                    <div class="pr oh btn-wrapper">
                        <div class="btn-inner" data-content="Google Maps">Google Maps</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>