---
permalink: /static/article-data.json
eleventyExcludeFromCollections: true
---
{% set comma = joiner() %}
[{% for article in articles.all %}
  {% if article._id != featuredArticle._id %}
    {{ comma() }} {
      "title":"{{ article.title | safe }}",
      "date":"{{ article.publishedAt }}",
      "content": "{{ article.intro | replace('\n', '') | trim | truncate(400) }}",
      "url":"{{ article.settings.slug.current | slugify }}",
      "postCategory":"{{ article.settings.postCategory }}",
      "mainImage":"{% imageUrlFor article.mainImage,800 %}"
    }
  {% endif %}
{% endfor %}]