---
layout: _layout.njk
title: Home
type: page
meta:
    site:
        name: DePoly
        description: ""
        url: https://depoly.com
        logo:
            src: https://depoly.com/static/meta/logo.png
            width: 1200
            height: 630
            language: en-US
    image:
        src: https://depoly.com/images/page.png
---

{% from '_macros/header.njk' import header %}

<main data-hydra-content="home" id="home">

    {{ 
        header(
            'Mission', 
            "Rethink — Recycling: Creating a Sustainable Circular Economy for Plastics", 
            "/static/home/hero.jpg", 
            "hero img"
        ) 
    }}

    <section class="restrict" data-scroll-section>
        <div class="pr z0">
            <div id="plastic-problem" data-text-highlight class="big-title ttu c-white pr z0 border-bottom">
                <div>We have a</div>
                <div>plastic</div>
                <div>problem</div>
                <div>and</div>
                <div>should</div>
                <div>raise</div>
                <div>recycling</div>
                <div>awareness</div>
            </div>
            <div data-parallax id="prlx-item--one" class="prlx-item pa z1"></div>
            <div data-parallax id="prlx-item--two" class="prlx-item pa zn1"></div>
            <div data-parallax id="prlx-item--three" class="prlx-item pa z1"></div>
            <div data-parallax id="prlx-item--four" class="prlx-item pa z1"></div>
        </div>
    </section>

    <section data-scroll-section id="pet" class="restrict stat-section border-bottom no-contain">
        <div class="stat-col">
            <div class="tag ttu" data-shuffle>PET products</div>
        </div>
        <div class="stat-col stat-col--md">
            <div class="stat-title">&lt;50% – 500B</div>
            <div class="stat-title--tag fx fx-once">of PET plastic bottles produced are recycled</div>

            <div class="stat-desc--m d-hide">
                <div class="stat-title d-hide">Only 9% </div>
                <div class="stat-title--tag fx fx-once d-hide">of all plastic are being recycled</div>
            </div>

            <picture class="stat-visual fx fx-once">
                <img loading="lazy" decoding="async" src="/static/home/stats/1.jpg" alt="">
            </picture>
        </div>
        <div class="stat-col stat-desc--wrapper">
            <div class="stat-title m-hide">Only 9% </div>
            <div class="stat-title--tag fx fx-once m-hide">of all plastic are being recycled</div>
            <div class="stat-desc">
                <h3 class="stat-desc--title rev">
                    PET (Polyethylene Terephthalate) is a form of polyester
                </h3>
                <p class="stat-desc--content rev">
                    It is molded into plastic bottles and containers for packaging food and beverages, 
                    personal care products or spun into plastic fibers for making textile and fabrics used in garments, household and industrial item.
                </p>
            </div>
        </div>
    </section>

    <section data-scroll-section id="landfill" class="restrict stat-section border-bottom no-contain">
        <div class="stat-col">
            <div class="tag ttu" data-shuffle>Landfill & Environment</div>
        </div>
        <div class="stat-col stat-col--md">
            <div class="stat-title">91% </div>
            <div class="stat-title--tag fx fx-once">of packaging waste unrecycled</div>

            <div class="stat-desc--m d-hide">
                <div class="stat-title d-hide">500 yrs </div>
                <div class="stat-title--tag fx fx-once d-hide">to degrade</div>
            </div>

            <picture class="stat-visual fx fx-once">
                <img loading="lazy" decoding="async" src="/static/home/stats/2.jpg" alt="">
            </picture>
        </div>
        <div class="stat-col stat-desc--wrapper">
            <div class="stat-title m-hide">500 yrs </div>
            <div class="stat-title--tag fx fx-once m-hide">to degrade</div>
            <div class="stat-desc">
                <h3 class="stat-desc--title rev">
                    The invisible problem of landfills
                </h3>
                <p class="stat-desc--content rev">
                    We don't see what's been thrown away since their creation. 
                    The lifetime of a plastic item to decompose in a landfill is 20 to 500 years which means almost all plastics that have ever been produced are still here.
                </p>
            </div>
        </div>
    </section>

    <section data-scroll-section id="incineration" class="restrict stat-section border-bottom no-contain">
        <div class="stat-col">
            <div class="tag ttu" data-shuffle>Incineration</div>
        </div>
        <div class="stat-col stat-col--md">
            <div class="stat-title">9 Million Tons</div>
            <div class="stat-title--tag fx fx-once">of plastic in our environment</div>

            <div class="stat-desc--m d-hide">
                <div class="stat-title d-hide">$120 Bn</div>
                <div class="stat-title--tag fx fx-once d-hide">worth of plastic only used once</div>
            </div>

            <picture class="stat-visual fx fx-once">
                <img loading="lazy" decoding="async" src="/static/home/stats/3.jpg" alt="">
            </picture>
        </div>
        <div class="stat-col stat-desc--wrapper">
            <div id="special-line" class="stat-title m-hide">$120 Bn </div>
            <div class="stat-title--tag fx fx-once m-hide">worth of plastic only used once </div>
            <div class="stat-desc">
                <h3 class="stat-desc--title rev">
                   Incineration can't solve the circularity problem
                </h3>
                <p class="stat-desc--content rev">
                    Waste to energy recovery (or incineration), commonly found in the EU, is used to burn anything that cannot be recycled or recovered, including PET plastic items.
                    While this is a good way to avoid landfills - gases produced during this procedure need to be processed properly to avoid CO2, NOx, SOx pollution, and does not solve the need for increased demands of recycled plastic
                </p>
            </div>
        </div>
    </section>

    <section data-scroll-section id="oil" class="restrict stat-section no-contain">
        <div class="stat-col">
            <div class="tag ttu" data-shuffle>Oil Required</div>
        </div>
        <div class="stat-col stat-col--md">
            <div class="stat-title">20% of all oil</div>
            <div class="stat-title--tag fx fx-once">in 2050 will be used to produce plastic</div>

            <div class="stat-desc--m d-hide">
                <div class="stat-title d-hide">CO2 </div>
                <div class="stat-title--tag fx fx-once d-hide">Reduction of CO2 emission from plastic needed to offset global efforts</div>
            </div>

            <picture class="stat-visual fx fx-once">
                <img loading="lazy" decoding="async" src="/static/home/stats/4.jpg" alt="">
            </picture>
        </div>
        <div class="stat-col stat-desc--wrapper">
            <div class="stat-title m-hide">CO2 </div>
            <div class="stat-title--tag-wrapper df fc m-hide">
                <div class="stat-title--tag fx fx-once">Reduction of CO2 emission from plastic</div>
                <div class="stat-title--tag fx fx-once">needed to offset global efforts</div>
            </div>
            <div class="stat-desc">
                <p class="stat-desc--title rev">
                   Huge amounts of oil are required
                </p>
                <p class="stat-desc--content rev">
                    10% of the oil production worldwide is used to make  plastic - with this demand set to increase. 
                </p>
            </div>
        </div>
    </section>

    <section id="solution" class="restrict" data-scroll-section>
        <div id="solution-text" data-text-highlight  class="big-title ttu c-white">
            <div>The</div>
            <div>solution</div>
            <div>is..:</div>
            <div>enhanced</div>
            <div>recycling</div>
        </div>
    </section>

    <section id="enhanced" class="df fc restrict m-hide">
        <div class="tag ttu fv-mono" data-shuffle>Enhanced Recycling</div>
        <div id="enhanced-slides--wrapper" class="oh">
            <div id="enhanced-slides" class="df">
                <div class="enhanced-slide df fc jcb pr active">
                    <div class="enhanced-slide--head">
                        <div class="enhanced-sno fv-mono">01.</div>
                        <div class="enhanced-title ttu">Usage / Disposal</div>
                    </div>
                    <div class="enhanced-slide--content df">
                        <div class="enhanced-desc oh">
                            <p>Today, only “easy to recycle” plastic items such as bottles or clean packaging are recycled. This accounts for less than 10% of all post consumer plastic waste. The rest is incinerated or landfilled, resulting in pollution and lost raw material.</p>
                        </div>
                        <picture class="enhanced-picture fx fx-once">
                            <img loading="lazy" decoding="async" src="/static/home/collapse/1.png" alt="">
                        </picture>
                    </div>
                    <div class="pa pen df fc enhanced-title--vert">
                        <div class="ttu">Usage / Disposal</div>
                        <svg>
                            <use xlink:href="#info-icon"></use>
                        </svg>
                    </div>
                </div>
                <div class="enhanced-slide df fc jcb pr">
                    <div class="enhanced-slide--head">
                        <div class="enhanced-sno fv-mono">02.</div>
                        <div class="enhanced-title ttu">Depoly</div>
                    </div>
                    <div class="enhanced-slide--content df">
                        <div class="enhanced-desc oh">
                            <p>Our enhanced recycling process can recycle ALL PET plastic items including multi-layer items and multi-colour fibers without the need to pre-sort, pre-wash, or separate out other plastics. These items are simply collected and chemically recycled back to the raw monomers.</p>
                        </div>
                        <picture class="enhanced-picture fx fx-once">
                            <img loading="lazy" decoding="async" src="/static/home/collapse/2.png" alt="">
                        </picture>
                    </div>
                    <div class="pa pen df fc enhanced-title--vert">
                        <div class="ttu">Depoly</div>
                        <svg>
                            <use xlink:href="#info-icon"></use>
                        </svg>
                    </div>
                </div>
                <div class="enhanced-slide df fc jcb pr">
                    <div class="enhanced-slide--head">
                        <div class="enhanced-sno fv-mono">03.</div>
                        <div class="enhanced-title ttu">PTA & MEG</div>
                    </div>
                    <div class="enhanced-slide--content df">
                        <div class="enhanced-desc oh">
                            <p>PTA and MEG - also known as purified terephthalic acid and mono-ethylene glycol are the raw materials used to make PET plastic in the first place. With DePoly's technology, we produced them from PET plastic waste instead of from oil, closing the loop in PET plastic value chain and creating a truly circular economy.</p>
                        </div>
                        <picture class="enhanced-picture fx fx-once">
                            <img loading="lazy" decoding="async" src="/static/home/collapse/3.png" alt="">
                        </picture>
                    </div>
                    <div class="pa pen df fc enhanced-title--vert">
                        <div class="ttu">PTA & MEG</div>
                        <svg>
                            <use xlink:href="#info-icon"></use>
                        </svg>
                    </div>
                </div>
                <div class="enhanced-slide df fc jcb pr">
                    <div class="enhanced-slide--head">
                        <div class="enhanced-sno fv-mono">04.</div>
                        <div class="enhanced-title ttu">Production</div>
                    </div>
                    <div class="enhanced-slide--content df">
                        <div class="enhanced-desc oh">
                            <p>The PTA and MEG produced by DePoly possess the same quality and purity as their fossil sourced counterparts allowing the plastic industry to remake virgin quality PET plastic items from DePoly branded recycled TPA and MEG.</p>
                        </div>
                        <picture class="enhanced-picture fx fx-once">
                            <img loading="lazy" decoding="async" src="/static/home/collapse/4.png" alt="">
                        </picture>
                    </div>
                    <div class="pa pen df fc enhanced-title--vert">
                        <div class="ttu">Production</div>
                        <svg>
                            <use xlink:href="#info-icon"></use>
                        </svg>
                    </div>
                </div>
                <div class="enhanced-slide df fc jcb pr summary-slide">
                    <div class="enhanced-slide--head">
                        <div class="enhanced-title ttu df fc">
                            <div>The</div>
                            <div>Summary</div>
                        </div>
                    </div>
                    <div class="enhanced-slide--content df">
                        <picture class="enhanced-picture fx fx-once">
                            <img  loading="lazy" decoding="async"src="/static/home/collapse/5.jpg" alt="summary">
                        </picture>
                    </div>
                </div>
                <div class="pa inset pen" id="summary-slides--wrapper">
                    <div class="enhanced-slide--summary df fc pa">
                        <div class="enhanced-sno fv-mono">01.</div>
                        <div class="enhanced-title ttu">Usage / Disposal</div>
                        <p class="enhanced-desc">Today, only “easy to recycle” plastic items such as bottles or clean packaging are recycled. This accounts for less than 10% of all post consumer plastic waste. The rest is incinerated or landfilled, resulting in pollution and lost raw material.</p>
                    </div>
                    <div class="enhanced-slide--summary df fc pa">
                        <div class="enhanced-sno fv-mono">02.</div>
                        <div class="enhanced-title ttu">Depoly</div>
                        <p class="enhanced-desc">Our enhanced recycling process can recycle ALL PET plastic items including multi-layer items and multi-colour fibers without the need to pre-sort, pre-wash, or separate out other plastics. These items are simply collected and chemically recycled back to the raw monomers.</p>
                    </div>
                    <div class="enhanced-slide--summary df fc pa">
                        <div class="enhanced-sno fv-mono">03.</div>
                        <div class="enhanced-title ttu">PTA & MEG</div>
                        <p class="enhanced-desc">PTA and MEG - also known as purified terephthalic acid and mono-ethylene glycol are the raw materials used to make PET plastic in the first place. With DePoly's technology, we produced them from PET plastic waste instead of from oil, closing the loop in PET plastic value chain and creating a truly circular economy.</p>
                    </div>
                    <div class="enhanced-slide--summary df fc pa">
                        <div class="enhanced-sno fv-mono">04.</div>
                        <div class="enhanced-title ttu">Production</div>
                        <p class="enhanced-desc">The PTA and MEG produced by DePoly possess the same quality and purity as their fossil sourced counterparts allowing the plastic industry to remake virgin quality PET plastic items from DePoly branded recycled TPA and MEG.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="enhanced-m" class="restrict d-hide">
        <div id="enhanced-m--wrapper">
            <div class="tag ttu fv-mono">Enhanced Recycling</div>
        </div>
        <ul id="enhanced-m--list" class="df fc">
            <li class="enhanced-m--list-item">
                <div class="enhanced-m--sno ttu fv-mono">01.</div>
                <div class="enhanced-m--title ttu">Usage / Disposal</div>
                <picture class="enhanced-m--visual fx fx-once">
                    <img loading="lazy" decoding="async" src="/static/home/collapse/1.png" alt="">
                </picture>
                <p class="enhanced-m--desc">Today, only “easy to recycle” plastic items such as bottles or clean packaging are recycled. This accounts for less than 10% of all post consumer plastic waste. The rest is incinerated or landfilled, resulting in pollution and lost raw material. </p>
            </li>
            <li class="enhanced-m--list-item">
                <div class="enhanced-m--sno ttu fv-mono">02.</div>
                <div class="enhanced-m--title ttu">DEPOLY</div>
                <picture class="enhanced-m--visual fx fx-once">
                    <img loading="lazy" decoding="async" src="/static/home/collapse/2.png" alt="">
                </picture>
                <p class="enhanced-m--desc">Our enhanced recycling process can recycle ALL PET plastic items including multi-layer items and multi-colour fibers without the need to pre-sort, pre-wash, or separate out other plastics. These items are simply collected and chemically recycled back to the raw monomers.</p>
            </li>
            <li class="enhanced-m--list-item">
                <div class="enhanced-m--sno ttu fv-mono">03.</div>
                <div class="enhanced-m--title ttu">PTA & MEG</div>
                <picture class="enhanced-m--visual fx fx-once">
                    <img loading="lazy" decoding="async" src="/static/home/collapse/3.png" alt="">
                </picture>
                <p class="enhanced-m--desc">PTA and MEG - also known as purified terephthalic acid and mono-ethylene glycol are the raw materials used to make PET plastic in the first place. With DePoly's technology, we produced them from PET plastic waste instead of from oil, closing the loop in PET plastic value chain and creating a truly circular economy.</p>
            </li>
            <li class="enhanced-m--list-item">
                <div class="enhanced-m--sno ttu fv-mono">04.</div>
                <div class="enhanced-m--title ttu">Production</div>
                <picture class="enhanced-m--visual fx fx-once">
                    <img loading="lazy" decoding="async" src="/static/home/collapse/4.png" alt="">
                </picture>
                <p class="enhanced-m--desc">The PTA and MEG produced by DePoly possess the same quality and purity as their fossil sourced counterparts allowing the plastic industry to remake virgin quality PET plastic items from DePoly branded recycled TPA and MEG.
</p>
            </li>
            <li class="enhanced-m--list-item summary-m">
                <div class="enhanced-m--title ttu">
                    <div>The</div>
                    <div>Summary</div>
                </div>
                <div class="summary-visual--container">
                    <picture class="enhanced-m--visual fx fx-once">
                        <img loading="lazy" decoding="async"src="/static/home/collapse/5.jpg" alt="summary">
                    </picture>
                </div>
                <div id="summary-slider--handle" class="compare-slider--handle df aic jcb pa">
                    <svg class="compare-arr compare-arr--before">
                        <use xlink:href="#larr"></use>
                    </svg>
                    <div class="ttu fv-mono">drag</div>
                    <svg class="compare-arr compare-arr--after">
                        <use xlink:href="#rarr"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </section>

    <section id="goals" class="restrict" data-scroll-section>
        <h2 id="goals-title" data-text-highlight  class="ttu c-white big-title">
            <div>DePoly</div>
            <div>goals and</div>
            <div>ambitions</div>
        </h2>
        <p id="goals-desc" class="rev">
            Our ambitious and dedicated team is made up of people looking to change the world, and leave it a cleaner place for the <span class="underline">next generations.</span>
        </p>

        <div id="icons" class="df fc">
            <div class="icon-col df fc">
                <div class="icon-item first">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <g clip-path="url(#a)" stroke="#022D42" stroke-width="2" stroke-miterlimit="10">
                                <path d="m122 14-15.25 121.032H15.976L.968 14m2.905 30.258h114.98M31.71 67.496l59.79 44.781m-59.79 0L91.5 67.496"/>
                            </g>
                            <defs>
                                <clipPath id="a">
                                    <path fill="#fff" d="M0 0h150v150H0z"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="icon-label">All PET Waste</div>
                </div>
                <div class="icon-item">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <path d="M88.578 125.94a58.33 58.33 0 0 1-75.527-14.967 58.331 58.331 0 0 1 5.107-76.826 60.109 60.109 0 0 1 6.463-5.577m5.624-3.71a58.333 58.333 0 0 1 70.42 91.794 60.437 60.437 0 0 1-6.464 5.576" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M1.078 28.57h23.543v23.544m93.124 70.116H94.201V98.687" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M34.538 60.21c5.647 0 8.983 3.057 8.983 7.84 0 4.784-2.986 7.444-7 11.014l-9.333 8.446h16.543v1.89h-19.32v-1.633l10.92-10.033c3.687-3.407 6.254-5.694 6.254-9.59 0-3.897-2.637-5.997-7-5.997-4.364 0-7.584 2.17-7.77 6.837h-1.867V68.4c.21-5.133 3.943-8.19 9.59-8.19Zm31.36.49v1.82h-14.49l-1.19 10.663h.327a8.237 8.237 0 0 1 7-3.01 8.984 8.984 0 0 1 9.333 9.614A9.332 9.332 0 0 1 56.821 89.82c-6.486 0-9.566-4.083-9.753-7.746v-.607h1.89C49.075 84.734 51.595 88 56.821 88a7.514 7.514 0 0 0 8.12-8.12 7.373 7.373 0 0 0-7.77-7.886 7.374 7.374 0 0 0-7.326 5.18h-2.077L49.611 60.7h16.287Zm23.637 8.937c5.763 0 7.98 3.687 8.26 6.37v.584h-1.82a5.81 5.81 0 0 0-6.44-5.18c-4.667 0-7.537 2.986-7.537 8.656s2.917 8.634 7.537 8.634a5.809 5.809 0 0 0 6.486-5.25h1.82v.583a7.56 7.56 0 0 1-8.306 6.463c-5.857 0-9.474-3.826-9.474-10.43 0-6.603 3.64-10.43 9.474-10.43Z" fill="#022D42"/>
                            <path d="M73.388 70.314a4.76 4.76 0 1 0 0-9.52 4.76 4.76 0 0 0 0 9.52Z" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <div class="icon-label">Without Heat</div>
                </div>
                <div class="icon-item">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <path d="M58.685 123.125c31.24 0 56.566-25.132 56.566-56.133 0-31.002-25.325-56.133-56.566-56.133-31.24 0-56.566 25.131-56.566 56.133 0 31.001 25.325 56.133 56.566 56.133Zm0-16.042v32.084m32.409 0H26.431" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <div class="icon-label">Lower CO2 Emissions <br>&nbsp;</div>
                </div>
            </div>
            <div class="icon-col df fc">
                <div class="icon-item first">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <path d="M88.578 125.94a58.33 58.33 0 0 1-75.527-14.967 58.331 58.331 0 0 1 5.107-76.826 60.109 60.109 0 0 1 6.463-5.577m5.624-3.71a58.333 58.333 0 0 1 70.42 91.794 60.437 60.437 0 0 1-6.464 5.576" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M1.078 28.57h23.543v23.544m93.124 70.116H94.201V98.687" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <div class="icon-label">Plastic to Plastic</div>
                </div>
                <div class="icon-item">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <path d="m45.757 47.79 8.845 18.681M70.77 83.51l26.268 14.258M52.064 86.65l-7.13 7.13m43.09-43.09L68.836 69.01M37.71 49.603c10.383 0 18.8-8.418 18.8-18.801C56.51 20.418 48.094 12 37.71 12c-10.385 0-18.803 8.418-18.803 18.802 0 10.383 8.418 18.801 18.802 18.801Zm74.288 74.675c9.663 0 17.496-7.833 17.496-17.496 0-9.663-7.833-17.497-17.496-17.497-9.664 0-17.497 7.834-17.497 17.497s7.833 17.496 17.497 17.496Zm-14.501-69.6c7.448 0 13.485-6.037 13.485-13.484 0-7.448-6.037-13.486-13.485-13.486-7.447 0-13.484 6.038-13.484 13.486 0 7.447 6.037 13.484 13.484 13.484Zm-70.759 83.037c14.214 0 25.737-11.523 25.737-25.738 0-14.214-11.523-25.737-25.738-25.737C12.524 86.24 1 97.763 1 111.977c0 14.215 11.523 25.738 25.738 25.738ZM59.846 90.01c6.86 0 12.422-5.562 12.422-12.422s-5.562-12.421-12.422-12.421-12.422 5.56-12.422 12.421c0 6.86 5.562 12.422 12.422 12.422Z" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <div class="icon-label">Sustainable Chemicals</div>
                </div>
                <div class="icon-item">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <g clip-path="url(#b)" stroke-miterlimit="10">
                                <path d="M63.048 34.169h15.24c16.434 0 29.88 13.514 29.88 30.031v63.968h-75V64.2c0-16.517 13.147-30.032 29.88-30.032Zm18.12-19.001h-21v19h21v-19Z" stroke="#022D42" stroke-width="2"/>
                                <path d="m1 6 138.614 138.614M1 144.614 139.614 6" stroke="#ECECE2" stroke-width="10"/>
                                <path d="m1 6 138.614 138.614M1 144.614 139.614 6" stroke="#022D42" stroke-width="2"/>
                            </g>
                            <defs>
                                <clipPath id="b">
                                    <path fill="#fff" d="M0 0h150v150H0z"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="icon-label">No Plastic Pollution <br>&nbsp;</div>
                </div>
            </div>
            <div class="icon-col df fc">
                <div class="icon-item first">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <path d="M75 131.25c31.066 0 56.25-25.184 56.25-56.25S106.066 18.75 75 18.75 18.75 43.934 18.75 75 43.934 131.25 75 131.25Zm0 0V150M75 0v18.75M18.75 75H0m150 0h-18.75m-96.03 39.779-13.26 13.26M128.039 21.96l-13.26 13.26m0 79.559 13.26 13.26M21.96 21.96l13.26 13.26" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <div class="icon-label">66% Lower Energy</div>
                </div>
                <div class="icon-item">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <g clip-path="url(#c)" stroke-miterlimit="10">
                                <path d="M109 91.894a38.904 38.904 0 0 1-39 39.001c-21.614 0-39-17.386-39-39m78-.001c0-38.766-39-78-39-78s-39 38.767-39 78" stroke="#022D42" stroke-width="2"/>
                                <path d="m1.104 6 137.79 137.789m-137.79 0L138.894 6" stroke="#ECECE2" stroke-width="10"/>
                                <path d="m1.105 6 137.79 137.789m-137.79 0L138.895 6" stroke="#022D42" stroke-width="2"/>
                            </g>
                            <defs>
                                <clipPath id="c">
                                    <path fill="#fff" d="M0 0h150v150H0z"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="icon-label">Less Oil Used</div>
                </div>
                <div class="icon-item">
                    <div class="icon">
                        <svg fill="none" viewBox="0 0 150 150">
                            <path d="M8.538 102.959C-3.912 81.227-.97 53.156 17.593 34.593c2.038-2.038 4.075-3.849 6.339-5.433m62.028 94.4c-21.733 12.45-49.804 9.508-68.367-9.055-2.037-2.038-3.848-4.075-5.433-6.339m94.399-61.801c12.451 21.732 9.508 49.803-9.055 68.366-2.037 2.037-4.074 3.848-6.338 5.433M29.364 25.538c21.733-12.45 49.803-9.508 68.367 9.055 2.037 2.037 3.848 4.075 5.433 6.339" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M1.067 29.16h22.865v22.864m90.098 67.914H91.392V97.3m11.546-79.233v22.865H80.3M12.16 131.03v-22.638h22.638" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <div class="icon-label">100% Recycled Products</div>
                </div>
            </div>
        </div>
    </section>
</main>