---
layout: _layout.njk
title: Home
---

<main data-hydra-content="home" id="home">
    <header id="hero" class="restrict">
        <div id="hero-welcome" class="mono">Welcome /</div>
        <div id="hero-title--wrapper" class="pr z0">
            <h1 id="hero-title" class="z1">Rethink Recycling: Creating a Sustainable Circular Economy for Plastics</h1>
            <svg class="pa inset zn1" fill="none" viewBox="0 0 1841 358">
                <path stroke="#DADACA" d="M1 .5h1840M1 51.5h1840M1 102.5h1840M1 153.5h1840M1 204.5h1840M1 255.5h1840M1 306.5h1840M1 357.5h1840M.5 358V0m74 358V0m73 358V0m74 358V0m73 358V0m74 358V0m74 358V0m588 358V0m74 358V0m74 358V0m73 358V0m74 358V0m73 358V0m74 358V0m-957 358V0m74 358V0m73 358V0m74 358V0m74 358V0m73 358V0m74 358V0m589 358V0m73 358V0m74 358V0m73 358V0m74 358V0"/>
            </svg>
        </div>
        <picture id="hero-picture"><img src="/static/home/hero.jpg" alt="hero img"/></picture>
    </header>
</main>