---
layout: _layout.njk
title: Home
---

<main data-hydra-content="home" id="home">
    <header id="hero" class="restrict" data-scroll-section>
        <div id="hero-welcome" class="mono">Welcome /</div>
        <div id="hero-title--wrapper" class="pr z0">
            <h1 id="hero-title" class="z1">Rethink Recycling: Creating a Sustainable Circular Economy for Plastics</h1>
            <svg class="pa inset zn1" fill="none" viewBox="0 0 1841 358">
                <path stroke="#DADACA" d="M1 .5h1840M1 51.5h1840M1 102.5h1840M1 153.5h1840M1 204.5h1840M1 255.5h1840M1 306.5h1840M1 357.5h1840M.5 358V0m74 358V0m73 358V0m74 358V0m73 358V0m74 358V0m74 358V0m588 358V0m74 358V0m74 358V0m73 358V0m74 358V0m73 358V0m74 358V0m-957 358V0m74 358V0m73 358V0m74 358V0m74 358V0m73 358V0m74 358V0m589 358V0m73 358V0m74 358V0m73 358V0m74 358V0"/>
            </svg>
        </div>
        <picture id="hero-picture"><img src="/static/home/hero.jpg" alt="hero img"/></picture>
    </header>

    <section class="restrict" data-scroll-section>
        <div class="pr z0">
            <div id="plastic-problem" class="ttu c-white pr z0 border-bottom">
                <div data-content="We have a" class="text-underlay text-underlay--active">We have a</div>
                <div>plastic</div>
                <div>problem</div>
                <div>and</div>
                <div>should</div>
                <div>raise</div>
                <div>recycling</div>
                <div>awareness</div>
            </div>
            <div class="pa z1"></div>
            <div class="pa z1"></div>
            <div class="pa z1"></div>
            <div class="pa z0"></div>
        </div>
    </section>

    <section data-scroll-section id="pet" class="restrict stat-section border-bottom">
        <div class="stat-col">
            <div class="stat-tag ttu">PET products</div>
        </div>
        <div class="stat-col stat-col--md">
            <div class="stat-title">&lt;50% – 500B</div>
            <div class="stat-title--tag">of PET plastic bottles roduced are recycled</div>
            <div class="stat-visual"></div>
        </div>
        <div class="stat-col stat-desc--wrapper">
            <div class="stat-title">Only 9% </div>
            <div class="stat-title--tag">of all plastic recycled</div>
            <div class="stat-desc">
                <p class="stat-desc--title">
                    PET (Polyethylene Terephthalate) is a form of polyester
                </p>
                <p class="stat-desc--content">
                    It is molded into plastic bottles and containers for packaging food and beverages, 
                    personal care products or spun into plastic fibers for making texile and farbics used in garments, household and industrial item.
                </p>
            </div>
        </div>
    </section>

    <section data-scroll-section id="landfill" class="restrict stat-section border-bottom">
        <div class="stat-col">
            <div class="stat-tag ttu">PET products</div>
        </div>
        <div class="stat-col stat-col--md">
            <div class="stat-title">&lt;50% – 500B</div>
            <div class="stat-title--tag">of PET plastic bottles roduced are recycled</div>
            <div class="stat-visual"></div>
        </div>
        <div class="stat-col stat-desc--wrapper">
            <div class="stat-title">Only 9% </div>
            <div class="stat-title--tag">of all plastic recycled</div>
            <div class="stat-desc">
                <p class="stat-desc--title">
                    PET (Polyethylene Terephthalate) is a form of polyester
                </p>
                <p class="stat-desc--content">
                    It is molded into plastic bottles and containers for packaging food and beverages, 
                    personal care products or spun into plastic fibers for making texile and farbics used in garments, household and industrial item.
                </p>
            </div>
        </div>
    </section>

    <section data-scroll-section id="incineration" class="restrict stat-section border-bottom">
        <div class="stat-col">
            <div class="stat-tag ttu">PET products</div>
        </div>
        <div class="stat-col stat-col--md">
            <div class="stat-title">&lt;50% – 500B</div>
            <div class="stat-title--tag">of PET plastic bottles roduced are recycled</div>
            <div class="stat-visual"></div>
        </div>
        <div class="stat-col stat-desc--wrapper">
            <div class="stat-title">Only 9% </div>
            <div class="stat-title--tag">of all plastic recycled</div>
            <div class="stat-desc">
                <p class="stat-desc--title">
                    PET (Polyethylene Terephthalate) is a form of polyester
                </p>
                <p class="stat-desc--content">
                    It is molded into plastic bottles and containers for packaging food and beverages, 
                    personal care products or spun into plastic fibers for making texile and farbics used in garments, household and industrial item.
                </p>
            </div>
        </div>
    </section>

    <section data-scroll-section id="oil" class="restrict stat-section">
        <div class="stat-col">
            <div class="stat-tag ttu">PET products</div>
        </div>
        <div class="stat-col stat-col--md">
            <div class="stat-title">&lt;50% – 500B</div>
            <div class="stat-title--tag">of PET plastic bottles roduced are recycled</div>
            <div class="stat-visual"></div>
        </div>
        <div class="stat-col stat-desc--wrapper">
            <div class="stat-title">Only 9% </div>
            <div class="stat-title--tag">of all plastic recycled</div>
            <div class="stat-desc">
                <p class="stat-desc--title">
                    PET (Polyethylene Terephthalate) is a form of polyester
                </p>
                <p class="stat-desc--content">
                    It is molded into plastic bottles and containers for packaging food and beverages, 
                    personal care products or spun into plastic fibers for making texile and farbics used in garments, household and industrial item.
                </p>
            </div>
        </div>
    </section>

    <section id="solution" class="restrict" data-scroll-section>
        <div id="solution-text" class="ttu c-white">
            <div data-content="The" class="text-underlay text-underlay--active">The</div>
            <div>solution</div>
            <div>is..:</div>
            <div>enhanced</div>
            <div>recycling</div>
        </div>
    </section>
</main>