---
permalink: netlify/lambda/article-index.json
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---

[{% for article in articles.all %}{
   "_id":"{{ article._id }}",
   "title":"{{ article.title }}",
   "date":"{{ article.publishedAt }}",
   "content": "{% trim article.intro, 400 %}",
   "url":"{{ article.settings.slug.current | slugify }}",
   "postCategory":"{{ article.settings.postCategory }}",
   "mainImage": "{% imageUrlFor article.mainImage, 800 %}"
}{% if loop.last == false %},{% endif %}
{% endfor %}]