---
layout: _layout.njk
title: News
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="news" id="news">
    <h1 class="temp-title">News</h1>
</main>