---
layout: _layout.njk
title: Privacy Policy
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="privacy" id="privacy">
    <header id="hero" class="restrict hero" data-scroll-section>
        <div id="hero-title--wrapper" class="pr z0 hero-title--wrapper oh">
            <h1 id="hero-title" class="hero-title z1">
                <div>Privacy Policy</div>
            </h1>
            <svg class="hero-grid pa inset zn1" fill="none" viewBox="0 0 1841 358">
                <path stroke="#DADACA" d="M1 .5h1840M1 51.5h1840M1 102.5h1840M1 153.5h1840M1 204.5h1840M1 255.5h1840M1 306.5h1840M1 357.5h1840M.5 358V0m74 358V0m73 358V0m74 358V0m73 358V0m74 358V0m74 358V0m588 358V0m74 358V0m74 358V0m73 358V0m74 358V0m73 358V0m74 358V0m-957 358V0m74 358V0m73 358V0m74 358V0m74 358V0m73 358V0m74 358V0m589 358V0m73 358V0m74 358V0m73 358V0m74 358V0"/>
            </svg>
        </div>
    </header>

    {{ 
        textBlock(
            "Text",
            [
               "As a Process Engineer, you will be responsible for the Process design and development and optimisation of chemical recycling systems from inception through to start up, designing, running, testing and upscaling systems and processes, and upscaling the newly developed DePoly pilot plant."
            ],
            "privacy-gist"
        ) 
    }}
</main>