---
layout: _layout.njk
title: Privacy Policy
type: page
meta:
    site:
        name: DePoly
        description: ""
        url: https://depoly.com
        logo:
            src: https://depoly.com/static/meta/logo.png
            width: 1200
            height: 630
            language: en-US
    image:
        src: https://depoly.com/images/page.png
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}

<main data-hydra-content="privacy" id="privacy">
    <header id="hero" class="restrict hero" data-scroll-section>
        <div id="hero-title--wrapper" class="pr z0 hero-title--wrapper oh">
            <h1 id="hero-title" class="hero-title z1">Terms and Conditions of depoly.co</h1>
            <div class="df pa inset zn1 hero-grid oh"></div>
        </div>
    </header>

    {{ 
        textBlock(
            "Terms and conditions",
            [
               "These Terms govern
                the use of this Application, and
                any other related Agreement or legal relationship with the Owner in a legally binding way. Capitalized words are defined in the relevant dedicated section of this document.

                The User must read this document carefully."
            ],
            "privacy-gist"
        ) 
    }}

    <section id="privacy-content" class="restrict df fc block-content">
        {{ privacy.body | safe  }}

        <div id="privacy-end" class="df jcb" data-scroll-section>
            <div id="priv-end--update">Latest update: {{ privacy._updatedAt }}</div>
            <div id="priv-end--host">Hosted on: <a class="text-underline" href="https://www.iubenda.com/terms-and-conditions/77738884" rel="noreferrer noopener" target="_blank">iubenda</a>
            </div>
        </div>
    </section>

</main>