---
layout: _layout.njk
title: Technology
---

{% from '_macros/header.njk' import header %}
{% from '_macros/textBlock.njk' import textBlock %}
{% from '_macros/compareSlider.njk' import compareSlider %}

<main data-hydra-content="tech" id="technology">
    {{ 
        header(
            'Mission', 
            "Enhanced Recycling Using Simple, Sustainable Technology", 
            "/static/technology/hero.jpg", 
            "hero img"
        ) 
    }}

    {{ 
        textBlock(
            "Value Chain",
            [
                "From complex waste to premium quality raw materials, our patented technology makes the true circular economy of PET plastics possible "
            ]
        ) 
    }}

    <section id="explain" class="restrict m-hide" data-scroll-section>
        <div class="df">
            <div id="explain-visual" class="pr">
                <picture id="explain-visual--picture">
                    <img loading="lazy" decoding="async" src="/static/technology/1.jpg" alt="">
                </picture>
                <picture class="pa explain-visual--circle fx-once z1">
                    <img loading="lazy" decoding="async" src="/static/technology/2.png" alt="">
                </picture>
                <picture class="pa explain-visual--circle fx-once z1">
                    <img loading="lazy" decoding="async" src="/static/technology/3.png" alt="">
                </picture>
            </div>
            <ul id="explain-content" class="df fc">
                <li class="explain-item">
                    <div class="explain-item--title">Plastic Pandemic</div>
                    <p class="explain-item--desc">PET plastic is everywhere - its in your clothing, bottles and packaging, shoes, and boats! However most of this cannot be recycled by traditional methods due to contamination of food, chemicals, other plastics, or dyes and additives.</p>
                </li>
                <li class="explain-item">
                    <div class="explain-item--title">Revolutionary Technology</div>
                    <p class="explain-item--desc">Using simple sustainable chemicals and technology, DePoly has developed a process to recycle all PET plastics without the need to prewash, pre-sort, or separate out other plastics. we can save time, money and PET resources that would be otherwise thrown into landfills or incinerated.</p>
                </li>
                <li class="explain-item">
                    <div class="explain-item--title">What’s PTA?</div>
                    <p class="explain-item--desc">PTA - aka purified terephthalic acid is a white powder used in the PET resin industry during the polycondensation process to produce new PET plastic. Originally It’s produced from oil. Other usages: pharmaceuticals...</p>
                </li>
                <li class="explain-item">
                    <div class="explain-item--title">What’s MEG?</div>
                    <p class="explain-item--desc">MEG - aka mono-ethylene glycol is a clear liquid used in the PET resin industry to produce new PET plastic items via the polycondensation process. Another derivative from oil/fossil fuel.</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="explain-m" class="restrict d-hide pr">
        <picture id="explain-visual--picture">
            <img loading="lazy" decoding="async" src="/static/technology/1.jpg" alt="">
        </picture>
        <picture class="pa explain-visual--circle fx-once z1">
            <img loading="lazy" decoding="async" src="/static/technology/2.png" alt="">
        </picture>
        <picture class="pa explain-visual--circle fx-once z1">
            <img loading="lazy" decoding="async" src="/static/technology/3.png" alt="">
        </picture>
        <button type="button" class="pa explain-visual--plus cp" data-trigger-aside="#explain-visual--1">
            <svg class="pen">
                <use xlink:href="#plus-icon"></use>
            </svg>
        </button>
        <button type="button" class="pa explain-visual--plus cp" data-trigger-aside="#explain-visual--2">
            <svg class="pen">
                <use xlink:href="#plus-icon"></use>
            </svg>
        </button>
        <button type="button" class="pa explain-visual--plus cp" data-trigger-aside="#explain-visual--3">
            <svg class="pen">
                <use xlink:href="#plus-icon"></use>
            </svg>
        </button>
        <button type="button" class="pa explain-visual--plus cp" data-trigger-aside="#explain-visual--4">
            <svg class="pen">
                <use xlink:href="#plus-icon"></use>
            </svg>
        </button>
    </section>

    <section data-scroll-section id="pta" class="border-bottom restrict">
        <h2 data-text-highlight class="big-title c-white ttu">
            <div>Our PTA</div>
            <div>and</div>
            <div>meg magic</div>
        </h2>
    </section>

    {{ 
        textBlock(
            "magic happens",
            [
                "To produce PET plastic resin, a material that is extremely durable and light weight but can be turned into many shapes and forms at the same time."
            ],
            "magic-happens"
        ) 
    }}

    <section class="restrict" data-scroll-section id="meg-magic">
        <div id="magic-inner" class="df jcb fc">
            <picture id="magic-visual">
                <img loading="lazy" decoding="async" src="/static/technology/4.jpg" alt="">
            </picture>
            <div id="magic-content" class="df fc">
                <div id="magic-content--inner">
                    <div id="magic-title" class="rev">The diversity of PET</div>
                    <p id="magic-desc" class="rev">
                        For this process to happen, PTA and MEG have to be highly pure which until now was only possible via virgin production from oil. With DePoly technology, they can be produce from plastic waste with matching quality and purity.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section data-scroll-section id="results" class="border-bottom restrict">
        <h2 data-text-highlight class="big-title c-white ttu">
            <div>End</div>
            <div>results in</div>
            <div>the world</div>
            <div>we know</div>
        </h2>
    </section>

    <section class="restrict border-bottom df fc jcb" data-scroll-section id="granules">
        <div class="tag ttu fv-mono" data-shuffle>Pet Granules</div>
        <div class="border-left section-content">
            <div class="section-title">What is Pet resin used for?</div>
            <div class="section-desc df fc jcb">
                <p class="section-desc--item">Everything! PET resins can be molded into almost any shape and any color. It’s unique characteristics such as higher strength, low weight, thermal and electrical insulation allow PET to be used in many products and </p>
                <p class="section-desc--item">applications from packaging for food, beverages and sanitary products to flame retardant, high flow materials, heat resistant, reinforced glass and many other industrial applications.</p>
            </div>
            <div class="section-slider">
                {{ 
                    compareSlider(
                        "/static/technology/compare/1.jpg",
                        "magic happens",
                        "/static/technology/compare/2.jpg",
                        "magic happens"
                    ) 
                }}
            </div>
        </div>
    </section>

    <section class="restrict border-bottom df fc jcb" data-scroll-section id="fibre">
        <div class="tag ttu fv-mono" data-shuffle>Polyester Fibre</div>
        <div class="border-left section-content">
            <div class="section-title">Here’s Why Polyester Fibre are is usefull</div>
            <div class="section-desc df fc jcb">
                <p class="section-desc--item">Polyester fabrics are used extensively in apparel and home furnishings, from everyday clothing to bed sheets, blankets, and computer mouse mats. Polyester fiber can be found in pillows and comforters.</p>
                <p class="section-desc--item">Industrial polyester fibers are mostly used in car tire reinforcements, conveyor belts, safety or seat belts, coated fabrics and plastic reinforcements for high-energy absorption applications.</p>
            </div>
            <div class="section-slider">
                {{ 
                    compareSlider(
                        "/static/technology/compare/3.jpg",
                        "magic happens",
                        "/static/technology/compare/4.jpg",
                        "magic happens"
                    ) 
                }}
            </div>
        </div>
    </section>

    <section class="restrict border-bottom df fc jcb" data-scroll-section id="films">
        <div class="tag ttu fv-mono" data-shuffle>Pet Films</div>
        <div class="border-left section-content">
            <div class="section-title">What are PET films used for?</div>
            <div class="section-desc df fc jcb">
                <p class="section-desc--item">PET film is often used in applications where, items need to have a high tensile and/or temperature strength, chemical and/or thermal resistance, flatness, clarity, or electrical insulation properties. </p>
                <p class="section-desc--item">These PET films can be combined with other components  such as glass, or other fibers, allowing it becomes much more durable and stiffer. It can also be used in 3D printing as well. </p>
            </div>
            <div class="section-slider">
                {{ 
                    compareSlider(
                        "/static/technology/compare/5.jpg",
                        "magic happens",
                        "/static/technology/compare/6.jpg",
                        "magic happens"
                    ) 
                }}
            </div>
        </div>
    </section>

    <section id="callout" class="restrict" data-scroll-section>
        <div id="callout-content" class="df fc">
            <div id="callout-title">All this is done without the addition of heat  
                <span id="callout-icon">
                    <svg fill="none" viewBox="0 0 140 140">
                        <path d="M99.167 120.54a58.33 58.33 0 0 1-75.528-14.967 58.333 58.333 0 0 1 5.108-76.826 60.12 60.12 0 0 1 6.463-5.577m5.623-3.71a58.333 58.333 0 0 1 70.42 91.793 60.391 60.391 0 0 1-6.463 5.577" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                        <path d="M11.667 23.17H35.21v23.543m93.123 70.117H104.79V93.287" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                        <path d="M45.127 54.81c5.646 0 8.983 3.057 8.983 7.84 0 4.783-2.987 7.443-7 11.013l-9.333 8.447H54.32V84H35v-1.633l10.92-10.034c3.687-3.406 6.253-5.693 6.253-9.59 0-3.896-2.636-5.996-7-5.996-4.363 0-7.583 2.17-7.77 6.836h-1.866V63c.21-5.133 3.943-8.19 9.59-8.19Zm31.36.49v1.82h-14.49l-1.19 10.663h.326a8.237 8.237 0 0 1 7-3.01 8.986 8.986 0 0 1 9.334 9.614A9.332 9.332 0 0 1 67.41 84.42c-6.487 0-9.567-4.084-9.753-7.747v-.606h1.89c.116 3.266 2.636 6.533 7.863 6.533a7.514 7.514 0 0 0 8.12-8.12 7.375 7.375 0 0 0-7.77-7.887 7.374 7.374 0 0 0-7.327 5.18h-2.076L60.2 55.3h16.287Zm23.636 8.937c5.764 0 7.98 3.687 8.26 6.37v.583h-1.82a5.803 5.803 0 0 0-4.164-4.988 5.81 5.81 0 0 0-2.276-.192c-4.666 0-7.536 2.987-7.536 8.657s2.916 8.633 7.536 8.633a5.81 5.81 0 0 0 6.487-5.25h1.82v.584a7.556 7.556 0 0 1-8.307 6.463c-5.856 0-9.473-3.827-9.473-10.43s3.64-10.43 9.473-10.43Z" fill="#022D42"/>
                        <path d="M83.977 64.914a4.76 4.76 0 1 0 0-9.52 4.76 4.76 0 0 0 0 9.52Z" stroke="#022D42" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                </span> or pressure.</div>
            <div id="callout-desc">Learn more about our technology by ordering a sample.</div>
            <button class="cta-btn" id="callout-cta" data-trigger-aside="#cta-panel">
                <div class="pr oh btn-wrapper">
                    <div class="btn-inner" data-content="Request Sample">Request Sample</div>
                </div>
            </button>
        </div>
    </section>
</main>