#aside.active {
  pointer-events: all;

  #aside-overlay {
    opacity: 0.3;
    pointer-events: all;

    @include md {
      transition: opacity 1.5s $ease-out-expo;
    }
  }

  #aside-close {
    transform: translate3d(0, 0, 0);

    @include md {
      transition: transform 1.5s $ease-out-expo, opacity 1.5s $ease-out-expo,
        background-color 1s $ease-out-expo;
    }
  }
}

#aside-overlay {
  background: #022d42;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s $ease-out-expo;

  @include md {
    transition: opacity 1.5s $ease-in-out-quint;
  }
}

#aside-inner {
  width: fluid(335, $sm);
  right: fluid(20, $sm);
  top: fluid(20, $sm);
  height: calc(100vh - #{fluid(40, $sm)});
  overscroll-behavior: contain;
  overflow: hidden;
  overflow: clip;

  @include md {
    width: fluid(1070, $lg);
    top: 0;
    right: 0;
    height: 100vh;
  }
}

.aside-panel {
  width: fluid(335, $sm);
  height: calc(100vh - #{fluid(40, $sm)});

  position: absolute;
  right: 0;
  bottom: -100%;
  overflow: hidden;
  overflow: clip;
  background-color: $lightbeige;

  transform: translate3d(0, 1%, 0);
  transition: transform 1.5s $ease-out-expo;

  @include md {
    position: absolute;
    right: fluid(-1070, $lg);
    bottom: unset;
    top: 0;

    width: fluid(1070, $lg);
    min-height: 100vh;
    height: -moz-fit-content;
    height: fit-content;
    transform: translate3d(1%, 0, 0);
    transition: transform 1.5s $ease-in-out-quint;
  }
}

.aside-panel.active {
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  pointer-events: all;

  @include md {
    transition: transform 1.5s $ease-out-expo;
    transform: translate3d(#{fluid(-1070, $lg)}, 0, 0);
  }
}

#aside-close {
  background: rgba(2, 45, 66, 0.08);
  position: fixed;

  border-radius: fluid(11, $sm);
  padding: fluid(11, $sm) fluid(34, $sm);

  top: fluid(40, $sm);
  right: fluid(40, $sm);

  transition: transform 1.5s $ease-out-expo, opacity 1.5s $ease-out-expo,
    background-color 1s $ease-out-expo;
  transform: translate3d(0, calc(100vh + #{fluid(40, $sm)}), 0);

  svg {
    width: fluid(12, $sm);
    height: fluid(12, $sm);
    transition: transform 0.75s $ease-out-expo;
  }

  &:hover {
    svg {
      transform: rotate(90deg);
    }
  }

  @include md {
    border-radius: fluid(11, $lg);
    padding: fluid(13, $lg) fluid(41, $lg);

    top: fluid(40, $lg);
    right: fluid(40, $lg);

    transform: translate3d(#{fluid(1070, $lg)}, 0, 0);
    transition: transform 1.5s $ease-in-out-quint, opacity 1.5s $ease-out-expo,
      background-color 1s $ease-out-expo;

    svg {
      width: fluid(12, $lg);
      height: fluid(12, $lg);
    }
  }
}

// bio panel

.bio-left {
  // left: fluid(54, $sm);
  // top: fluid(199, $sm);
  padding-bottom: fluid(40, $sm);
  border-bottom: 1px solid $darkblue;
  position: relative;

  @include md {
    position: fixed;
    width: fluid(428, $lg);
    left: fluid(54, $lg);
    top: fluid(199, $lg);
    padding-bottom: fluid(50, $lg);
  }
}

.bio-panel--inner {
  padding: fluid(113, $sm) fluid(20, $sm) 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;

  @include md {
    padding: 0;
    flex-direction: row;
    min-height: unset;
    height: unset;
  }
}

#cta-content--wrapper {
  overflow-y: auto;
  min-height: 100%;
  height: 100%;

  @include md {
    min-height: unset;
    height: unset;
  }
}

.bio-name {
  font-weight: 500;
  font-size: fluid(40, $sm);
  margin-bottom: fluid(20, $sm);
  line-height: 100%;

  @include md {
    font-size: fluid(68, $lg);
    margin-bottom: fluid(24, $lg);
  }
}

.bio-role {
  margin-bottom: fluid(40, $sm);
  white-space: normal;

  @include md {
    margin-bottom: fluid(69, $lg);
  }
}

.bio-social--title {
  font-size: fluid(14, $sm);
  line-height: 110%;
  margin-bottom: fluid(8, $sm);

  @include md {
    font-weight: 500;
    font-size: fluid(17, $lg);
    margin-bottom: fluid(16, $lg);
  }
}

.bio-social--list {
  gap: fluid(8, $sm);

  @include md {
    gap: fluid(8, $lg);
  }
}

.bio-social--item {
  background: $green;
  border-radius: fluid(12, $sm);
  padding: fluid(9, $sm) fluid(15, $sm) fluid(7, $sm);

  font-weight: 500;
  font-size: fluid(14, $sm);
  line-height: 130%;

  cursor: pointer;
  transition: all 0.5s;

  a {
    color: $darkblue;
  }

  &:hover {
    background-color: $darkblue;

    a {
      color: #fff !important;
    }
  }

  @include md {
    font-size: fluid(18, $lg);
    border-radius: fluid(12, $lg);
    padding: fluid(9, $lg) fluid(15, $lg) fluid(7, $lg);
  }
}

.bio-profile--content {
  padding-top: fluid(40, $sm);

  @include md {
    margin-left: fluid(530, $lg);
    padding-top: fluid(179, $lg);
    width: fluid(500, $lg);
  }
}

.bio-profile--picture {
  min-height: fluid(295, $sm);
  height: fluid(295, $sm);
  width: fluid(295, $sm);

  border-radius: 50%;
  margin-bottom: fluid(40, $sm);
  transform: translateZ(0);
  overflow: hidden;
  overflow: clip;

  @include md {
    min-height: fluid(500, $lg);
    height: fluid(500, $lg);
    height: fluid(500, $lg);
    width: fluid(500, $lg);
    margin-bottom: fluid(61, $lg);
  }
}

.bio-detail--para {
  margin-bottom: fluid(40, $sm);
  font-size: fluid(16, $sm);
  line-height: 140%;

  @include md {
    margin-bottom: fluid(40, $lg);
    font-size: fluid(22, $lg);
  }
}

.bio-detail--fact {
  margin-bottom: fluid(40, $sm);
  font-size: fluid(16, $sm);
  line-height: 140%;

  @include md {
    margin-bottom: fluid(40, $lg);
    font-size: fluid(22, $lg);
  }
}

.fact-inner {
  margin-bottom: fluid(20, $sm);

  @include md {
    margin-bottom: fluid(20, $lg);
  }
}

.fact-tags {
  overflow-x: auto;
  overflow-y: visible;

  .chip {
    margin-right: 3px;
    display: inline;
  }
}

strong {
  font-weight: 700;
}

.bio-panel--header {
  height: fluid(73, $sm);
  width: fluid(295 + 40, $sm);
  left: 0;
  top: 0;
  background-color: $lightbeige;
  transform: translateZ(0);

  @include md {
    height: fluid(119, $lg);
    width: fluid(976, $lg);
    left: fluid(54, $lg);
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: fluid(20, $sm);
    right: fluid(20, $sm);
    height: 1px;
    background-color: $darkblue;

    @include md {
      left: 0;
      right: 0;
    }
  }
}

.bio-panel--title {
  font-weight: bold;
  line-height: 110%;
  font-size: fluid(14, $sm);
  top: fluid(29, $sm);
  left: fluid(20, $sm);

  @include md {
    font-size: fluid(16, $lg);
    top: fluid(50, $lg);
    left: fluid(54, $lg);
  }
}

// cta panel
#cta-panel {
  background-color: #f2ffbd;
}

#cta-picture {
  width: fluid(295, $sm);
  height: fluid(100, $sm);
  background: #a6ae8e;
  margin-bottom: fluid(28, $sm);
  flex-grow: 1;

  @include md {
    width: fluid(976, $lg);
    height: fluid(207, $lg);
    margin-bottom: fluid(60, $lg);
  }
}

#cta-content {
  margin-left: fluid(20, $sm);
  margin-top: fluid(113, $sm);
  width: fluid(295, $sm);
  // min-height: calc(100vh - #{fluid(150, $sm)});

  @include md {
    margin-left: fluid(54, $lg);
    margin-top: fluid(151, $lg);
    width: fluid(976, $lg);
    min-height: calc(100vh - #{fluid(150, $lg)});
  }
}

#cta-info {
  margin-bottom: fluid(28, $sm);

  @include md {
    margin-bottom: fluid(60, $lg);
  }
}

#cta-icon {
  width: fluid(17, $sm);
  height: fluid(17, $sm);
  margin-bottom: fluid(7, $sm);

  @include md {
    width: fluid(24, $lg);
    height: fluid(24, $lg);
    margin-bottom: fluid(5, $lg);
  }
}

#cta-desc {
  font-weight: 400;
  font-size: fluid(16, $sm);
  line-height: 140%;
  text-align: center;
  width: fluid(217, $sm);

  @include md {
    font-size: fluid(18, $lg);
    width: fluid(300, $lg);
  }
}

#cta-panel {
  .bio-panel--header {
    background-color: #f2ffbd;
  }

  .field {
    min-width: fluid(478, $lg);
  }

  select {
    background-color: transparent;
  }

  textarea {
    width: 100%;
    height: fluid(150, $lg);
  }

  .cta-btn {
    margin-bottom: fluid(54, $lg);
    background: $darkblue;
    color: #fff;
    width: 100%;

    .btn-inner::after {
      color: $darkblue;
    }

    &:hover {
      background: #dfefb3;
    }
  }
}

.explain-aside {
  .explain--picture {
    margin-bottom: fluid(20, $sm);
    overflow: visible;
    width: fluid(335, $sm);
    position: relative;
    left: fluid(-20, $sm);

    img {
      width: 100%;
      height: auto;
      min-height: auto;
      object-fit: contain;
    }
  }

  .bio-panel--inner {
    padding-top: fluid(64, $sm);
    position: relative;
  }

  .bio-left {
    position: absolute;
    top: fluid(410, $sm);
    border-bottom: none;
    max-width: fluid(271, $sm);
  }

  .bio-name {
    font-weight: 400;
  }

  .explain-visual--circle {
    top: fluid(125, $sm) !important;
    left: fluid(73, $sm) !important;

    width: fluid(190, $sm) !important;
    height: fluid(190, $sm) !important;
  }
}

#cta-content {
  .form-status {
    inset: 0;
    top: fluid(496, $sm);
    background-color: #eaf5bd;

    .form-status--tick {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      z-index: 2;
    }

    @include md {
      top: fluid(580, $lg);
    }
  }
}

#cta-status--picture {
  width: fluid(295, $sm);
  height: fluid(496, $sm);
  top: fluid(-496, $sm);
  left: 0;
  z-index: 1;

  @include md {
    width: fluid(976, $lg);
    height: fluid(580, $lg);
    top: fluid(-580, $lg);
  }
}