// #aside {
// }

#aside-overlay {
  background: #022d42;
  opacity: 0;
  transition: opacity 1.25s $ease-out-expo;
}

#aside-inner {
  width: fluid(1070, $lg);
  height: 100vh;
  right: 0;
  bottom: 0;
}

.aside-panel {
  width: fluid(1070, $lg);
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  background-color: $lightbeige;
  overflow: hidden;

  transition: transform 1.5s $ease-out-expo;
  transform: translateX(100%);
}

#aside.active {
  pointer-events: all;

  #aside-overlay {
    opacity: 0.3;
    pointer-events: all;
  }

  #aside-close {
    transform: translateX(0);
  }
}

.aside-panel.active {
  transform: translateX(0);
}

#aside-close {
  background: $darkbeige;
  border-radius: fluid(11, $lg);
  padding: fluid(13, $lg) fluid(41, $lg);

  position: fixed;
  top: fluid(40, $lg);
  right: fluid(40, $lg);

  transition: transform 1.5s $ease-out-expo;
  transform: translateX(#{fluid(1070, $lg)});

  svg {
    width: fluid(12, $lg);
    height: fluid(12, $lg);
    transition: transform 0.75s $ease-out-expo;
  }

  &:hover {
    svg {
      transform: rotate(90deg);
    }
  }
}

// bio panel

.bio-left {
  width: fluid(428, $lg);
  left: fluid(54, $lg);
  top: fluid(199, $lg);
  padding-bottom: fluid(50, $lg);
  border-bottom: 1px solid $darkblue;
}

.bio-name {
  font-weight: 500;
  font-size: fluid(68, $lg);
  margin-bottom: fluid(24, $lg);
  line-height: 100%;
}

.bio-role {
  margin-bottom: fluid(69, $lg);
}

.bio-social--title {
  font-weight: 500;
  font-size: fluid(17, $lg);
  line-height: 110%;
  margin-bottom: fluid(16, $lg);
}

.bio-social--list {
  gap: fluid(8, $lg);
}

.bio-social--item {
  background: $green;
  border-radius: fluid(12, $lg);
  padding: fluid(9, $lg) fluid(15, $lg) fluid(7, $lg);

  font-weight: 500;
  font-size: fluid(18, $lg);
  line-height: 130%;

  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: $darkblue;
    color: #fff;
  }
}

.bio-profile--content {
  margin-left: fluid(530, $lg);
  padding-top: fluid(179, $lg);
  width: fluid(500, $lg);
}

.bio-profile--picture {
  height: fluid(500, $lg);
  width: fluid(500, $lg);
  border-radius: 50%;
  background-color: $darkblue;
  margin-bottom: fluid(61, $lg);
}

.bio-detail--para {
  margin-bottom: fluid(40, $lg);
  font-size: fluid(22, $lg);
  line-height: 140%;
}

.bio-panel--header {
  height: fluid(119, $lg);
  border-bottom: 1px solid $darkblue;
  width: fluid(976, $lg);
  left: fluid(54, $lg);
}

.bio-panel--title {
  font-weight: bold;
  font-size: fluid(16, $lg);
  line-height: 110%;
  top: fluid(50, $lg);
  left: fluid(54, $lg);
}

// cta panel
#cta-panel {
  background-color: #f2ffbd;
}

#cta-picture {
  width: fluid(976, $lg);
  min-height: fluid(207, $lg);
  height: 100%;
  background: #a6ae8e;
  margin-bottom: fluid(60, $lg);
  flex-grow: 1;
}

#cta-content {
  margin-left: fluid(54, $lg);
  margin-top: fluid(151, $lg);
  width: fluid(976, $lg);
  min-height: calc(100vh - #{fluid(150, $lg)});
}

#cta-info {
  margin-bottom: fluid(60, $lg);
}

#cta-icon {
  width: fluid(24, $lg);
  height: fluid(24, $lg);
  margin-bottom: fluid(5, $lg);
}

#cta-desc {
  font-weight: 400;
  font-size: fluid(18, $lg);
  line-height: 140%;
  text-align: center;
  width: fluid(241, $lg);
}

#cta-panel {
  .bio-panel--header {
    background-color: #f2ffbd;
  }
  .field {
    min-width: fluid(478, $lg);
  }

  select {
    background-color: transparent;
  }

  textarea {
    width: 100%;
    height: fluid(150, $lg);
  }

  .cta-btn {
    margin-bottom: fluid(54, $lg);
    background: $darkblue;
    color: #fff;
    width: 100%;

    .btn-inner::after {
      color: $darkblue;
    }

    &:hover {
      background: $darkbeige;
    }
  }
}
