  /* !important is needed sometimes */
  ::-webkit-scrollbar {
    width: 12px !important;
 }

 /* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #41617D !important; 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

 }
 ::-webkit-scrollbar-thumb:window-inactive {
   background: #41617D !important; 
 }

.banner {
  $text-size: 18;
  $highlight-gap-size: 60;
  $highlight-gap-size-separator: 30;

  &__wrapper {
    position: absolute;
    top: 8vw;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: all;

    &[data-mobile] {
      position: fixed;
      top: 24vw;
      z-index: 9;
    }
  }

  &__root {
    gap: fluid(45, $lg);
    padding: fluid(40, $lg) fluid(36, $lg);
    color: #022D42;
    background-color: #dadaca;
    border-radius: fluid(22, $lg);

    @at-root [data-mobile] & {
      flex-direction: column;
      gap: 0;
      align-items: stretch;
      padding: fluid(26, $sm);
      border-radius: fluid(22, $sm);
    }
  }

  &__prefix {
    padding: fluid(6, $lg) fluid(8, $lg) fluid(4, $lg);
    background-color: #ECECE2;
    border-radius: fluid(8, $lg);
    font-size: fluid(13, $lg);
    font-weight: 500;
    font-family: "fkmono";
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @at-root [data-mobile] & {
      padding: fluid(6, $sm) fluid(8, $sm) fluid(4, $sm);
      border-radius: fluid(8, $sm);
      font-size: fluid(14, $sm);
      text-align: center;
    }
  }

  &__highlights {
    margin-right: auto;
    
    @at-root [data-mobile] & {
      margin-right: 0;
      overflow: auto;
      margin: fluid(40, $sm) 0 fluid(80, $sm);
    }

    &-scroller {
      flex-grow: 1;
      gap: fluid($highlight-gap-size, $lg);
      margin-left: fluid(25, $lg);

      @at-root [data-mobile] & {
        flex-wrap: nowrap;
        gap: fluid($highlight-gap-size, $sm);
      }

      &-separator {
        gap: fluid($highlight-gap-size-separator, $lg);
        margin-left: 0;

        @at-root [data-mobile] & {
          gap: fluid($highlight-gap-size-separator, $sm);
        }
      }
    }
  }

  &-highlight {
    @at-root .banner__highlights-separator & {
      gap: fluid($highlight-gap-size-separator, $lg);
      font-size: fluid($text-size, $lg);
      line-height: 1.4;
      font-family: "fkvar";

      @at-root [data-mobile] & {
        gap: fluid($highlight-gap-size-separator, $sm);
        font-size: fluid($text-size, $sm);
      }
    }

    @at-root [data-mobile] .banner__highlights-separator & {
      font-size: fluid(22, $sm);
    }

    &-text {
      a {
        cursor: default;
      }
    }

    img {
      height: fluid(25, $lg);
      width: auto;

      @at-root [data-mobile] & {
        height: fluid(25, $sm);
      }
    }
  }

  &__actions {
    gap: fluid(24, $lg);

    @at-root [data-mobile] & {
      gap: fluid(26, $sm);
    }
  }

  &-action {
    &-link {
      $root: &;

      color: inherit;
      font-size: fluid(16, $lg);
      font-weight: 700;
      line-height: 1.1;
      gap: fluid(12, $lg);

      @at-root [data-mobile] & {
        font-size: fluid(16, $sm);
        gap: fluid(12, $sm);
      }

      &__icon {
        width: fluid(42, $lg);
        height: fluid(26, $lg);
        border: 1px solid #022d42;
        border-radius: fluid(8, $lg);
        background-color: transparent;
        font-size: fluid(14, $lg);
        font-weight: bold;
        letter-spacing: 0.01em;
        line-height: 1.1;
        transition: background-color 0.4s;
        overflow: hidden;
        color: transparent;

        @at-root [data-mobile] & {
          width: fluid(42, $sm);
          height: fluid(26, $sm);
          border-radius: fluid(8, $sm);
          font-size: fluid(14, $sm);
        }
      }

      &-symbol {
        position: relative;
        overflow: hidden;

        &:before,
        &:after {
          content: "↗";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: transform 1s cubic-bezier(.19, 1, .22, 1);
        }

        &:before {
          color: #022d42;
          transform: translateX(0);

          @at-root #{$root}:hover & {
            transform: translateX(200%);
          }
        }

        &:after {
          color: #fff;
          transform: translateX(-200%);

          @at-root #{$root}:hover & {
            transform: translateX(0);
          }
        }
      }

      &:hover &__icon {
        background-color: #022d42;
      }
    }

    &-divider {
      align-self: stretch;
      width: 1px;
      background-color: #022D42;

      @at-root [data-mobile] & {
        margin-left: auto;
      }
    }

    &-close {
      cursor: pointer;

      svg {
        width: fluid(12, $lg);
        height: fluid(12, $lg);
        transition: transform 0.75s $ease-out-expo;

        @at-root [data-mobile] & {
          width: fluid(12, $sm);
          height: fluid(12, $sm);
        }
      }

      &:hover {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}