@use "sass:math";

#footer {
  background-color: $darkgray;

  font-size: fluid(22, $lg);
  line-height: 130%;
  letter-spacing: 0.01em;
}

.footer-row {
  gap: fluid(40, $lg);
  padding-bottom: fluid(85, $lg);
  padding-top: fluid(85, $lg);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  max-width: 100vw;
}

.footer-list {
  gap: fluid(60, $lg);
  width: fluid(430, $lg);
}

.footer-col {
  width: fluid(430, $lg);
}

.footer-col--xl {
  width: fluid(430 * 2 + 40, $lg);
}

.footer-tag {
  font-weight: 400;
  font-size: fluid(13, $lg);
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #ffffff;
  right: 0;
  top: 50%;
  background: $darkblue;
  border-radius: fluid(7, $lg);
  padding: fluid(3, $lg) fluid(8, $lg);

  transition: opacity 0.4s $ease-out-expo;
  transform: translate(calc(100% - #{fluid(-8, $lg)}), -50%);
  white-space: nowrap;

  opacity: 0;
}

.tag-wrapper.active {
  .footer-tag {
    opacity: 1;
  }
}

// .tag-wrapper:hover {
//   .footer-tag {
//     opacity: 1;
//   }
// }

#footer-cta--title {
  font-size: fluid(37, $lg);
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-bottom: fluid(8, $lg);
  width: fluid(754, $lg);
  font-weight: 500;
}

#footer-cta--desc {
  font-size: fluid(22, $lg);
  line-height: 150%;
  letter-spacing: 0.01em;
  margin-bottom: fluid(46, $lg);
}

.footer-cta--input {
  gap: fluid(10, $lg);
  margin-bottom: fluid(30, $lg);
}

#footer {
  input {
    border: 1px solid $darkblue;
    border-radius: fluid(15, $lg);
    background: none;
    padding: fluid(16, $lg) fluid(20, $lg);

    &::placeholder {
      font-size: fluid(18, $lg);
      line-height: 140%;
      color: $darkblue;
    }
  }
}

#footer-cta--btn {
  background: $darkblue;
  border-radius: fluid(15, $lg);

  font-weight: 600;
  font-size: fluid(16, $lg);
  line-height: 110%;
  letter-spacing: 0.01em;
  color: #ffffff;

  padding: fluid(21, $lg) fluid(50, $lg);

  &:hover {
    background: $green;
  }

  .btn-inner::after {
    color: $darkblue;
  }
}

#footer-check--tick {
  width: fluid(12, $lg);
  height: fluid(8, $lg);
  top: fluid(6, $lg);
  left: fluid(4, $lg);
  opacity: 0;

  transition: opacity 0.4s $ease-out-expo;
  svg {
    display: block;
  }
}

#footer #footer-cta--check {
  font-size: fluid(16, $lg);
  line-height: 140%;

  margin-right: fluid(15, $lg);
  -webkit-appearance: none;
  border-radius: fluid(6, $lg);
  width: fluid(20, $lg);
  height: fluid(20, $lg);
  padding: 0;
}

#footer-cta--check:checked + #footer-check--tick {
  opacity: 1;
}

.fit {
  width: fit-content;
}

.footer-col--title {
  font-weight: 600;
  font-size: fluid(16, $lg);
  line-height: 110%;
  letter-spacing: 0.05em;
  margin-bottom: fluid(5, $lg);
}

.footer-col--data {
  font-size: fluid(22, $lg);
  line-height: 150%;
  letter-spacing: 0.01em;
}

#footer-logo {
  min-width: fit-content;
  padding-left: fluid(40, $lg);
  padding-right: fluid(40, $lg);
}

#footer-copy {
  padding: 40px 0;
}

#footer-logo--svg {
  min-width: fluid(1840, $lg);
  height: fluid(math.div(1840 * 32, 201), $lg);
}

#footer-big--txt {
  font-size: fluid(274, $lg);
  line-height: 110%;
  letter-spacing: -0.04em;
  white-space: nowrap;
  min-width: fit-content;
  display: inline-block;
}

#footer-copy--logo {
  font-weight: 500;
  font-size: fluid(16, $lg);
  line-height: 140%;
}

.footer-terms {
  font-size: fluid(16, $lg);
  line-height: 140%;
}

#footer-copy--credits {
  font-size: fluid(15, $lg);
  line-height: 140%;
  letter-spacing: 0.03em;
}

#footer-copy--design {
  color: #7a858a;
}

#footer-copy--studio {
  font-weight: 500;
}

#footer-terms--col {
  gap: fluid(25, $lg);
}

#footer-sep {
  border-right: 1px solid #022d42;
  width: 1px;
  height: fluid(11, $lg);
}

#footer-sep--xl {
  border-right: 4px solid #022d42;
  width: 1px;
  height: fluid(199, $lg);
  margin-right: fluid(100, $lg);
  margin-left: fluid(100, $lg);
}
