@use "sass:math";

#footer {
  background-color: $darkgray;

  font-size: fluid(22, $sm);
  line-height: 130%;
  letter-spacing: 0.01em;

  @include md {
    font-size: fluid(22, $lg);
  }
}

.footer-row {
  gap: fluid(40, $sm);
  padding-bottom: fluid(60, $sm);
  padding-top: fluid(80, $sm);

  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  max-width: 100vw;

  @include md {
    flex-direction: row;
    gap: fluid(40, $lg);
    padding-bottom: fluid(85, $lg);
    padding-top: fluid(85, $lg);
  }
}

.footer-list {
  gap: fluid(60, $sm);

  @include md {
    gap: fluid(60, $lg);
    width: fluid(430, $lg);
  }
}

.footer-col {
  @include md {
    width: fluid(430, $lg);
  }
}

.footer-col--xl {
  @include md {
    width: fluid(430 * 2 + 40, $lg);
  }
}

.footer-tag {
  font-size: fluid(13, $sm);
  border-radius: fluid(7, $sm);
  padding: fluid(3, $sm) fluid(8, $sm);
  transform: translate(calc(100% - #{fluid(-8, $sm)}), -50%);

  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #ffffff;
  right: 0;
  top: 50%;
  background: $darkblue;

  transition: opacity 0.4s $ease-out-expo;
  white-space: nowrap;

  opacity: 0;

  @include md {
    font-size: fluid(13, $lg);
    border-radius: fluid(7, $lg);
    padding: fluid(3, $lg) fluid(8, $lg);
    transform: translate(calc(100% - #{fluid(-8, $lg)}), -50%);
  }
}

.tag-wrapper.active {
  .footer-tag {
    opacity: 1;
  }
}

#footer-cta--title {
  line-height: 129%;
  letter-spacing: -0.02em;
  font-weight: 500;

  font-size: fluid(28, $sm);
  margin-bottom: fluid(12, $sm);

  @include md {
    font-size: fluid(37, $lg);
    margin-bottom: fluid(8, $lg);
    width: fluid(754, $lg);
  }
}

#footer-cta--desc {
  font-size: fluid(14, $sm);
  margin-bottom: fluid(22, $sm);
  line-height: 150%;
  letter-spacing: 0.01em;

  @include md {
    margin-bottom: fluid(46, $lg);
    font-size: fluid(22, $lg);
  }
}

.footer-cta--input {
  gap: fluid(8, $sm);
  margin-bottom: fluid(60, $sm);

  @include md {
    flex-direction: row;
    gap: fluid(10, $lg);
    margin-bottom: fluid(30, $lg);

    .field {
      min-width: fluid(188, $lg);
      width: fluid(188, $lg);

      &:nth-of-type(2) {
        width: fluid(420, $lg);
      }
    }

    .field-label {
      opacity: 1;
    }
  }
}

#footer-cta--btn {
  background: $darkblue;
  color: #fff;
  width: 100%;

  &:hover {
    background: $green;
  }

  .btn-inner::after {
    color: $darkblue;
  }

  @include md {
    width: fit-content;
    padding: fluid(21, $lg) fluid(50, $lg);
    height: fluid(60, $lg);
  }
}

#footer-check--tick {
  width: fluid(12, $lg);
  height: fluid(8, $lg);
  top: fluid(6, $lg);
  left: fluid(4, $lg);
  opacity: 0;

  transition: opacity 0.4s $ease-out-expo;

  svg {
    display: block;
  }
}

#footer input {
  padding: fluid(20, $sm);
  font-size: fluid(16, $sm);

  &::placeholder {
    font-size: fluid(16, $sm);
    color: $darkblue;
  }

  @include md {
    padding: fluid(20, $lg);
    font-size: fluid(18, $lg);

    &::placeholder {
      font-size: fluid(18, $lg);
      color: $darkblue;
    }
  }
}

#footer #footer-cta--check {
  font-size: fluid(16, $lg);
  line-height: 140%;
  border: 1px solid #022d42;

  margin-right: fluid(15, $lg);
  -webkit-appearance: none;
  border-radius: fluid(6, $lg);
  width: fluid(20, $lg);
  height: fluid(20, $lg);
  padding: 0;
}

.footer-cta--check {
  align-items: baseline;
  user-select: none;
  padding-top: 2px;

  a {
    margin: 0 0.3em;
  }

  display: none;

  @include md {
    display: flex;
  }
}

#footer-cta--check:checked + #footer-check--tick {
  opacity: 1;
}

.fit {
  width: fit-content;
}

.footer-col--title {
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.05em;

  margin-bottom: fluid(5, $sm);
  font-size: fluid(16, $sm);

  @include md {
    margin-bottom: fluid(5, $lg);
    font-size: fluid(16, $lg);
  }
}

.footer-col--data {
  font-size: fluid(22, $sm);
  line-height: 150%;
  letter-spacing: 0.01em;

  @include md {
    font-size: fluid(22, $lg);
  }
}

#footer-logo--wrapper {
  padding: fluid(60, $sm) 0;

  @include md {
    padding-bottom: fluid(60, $lg);
    padding-top: fluid(80, $lg);
  }
}

#footer-logo {
  min-width: fit-content;
  padding-left: fluid(20, $sm);
  padding-right: fluid(20, $sm);

  @include md {
    padding-left: fluid(40, $lg);
    padding-right: fluid(40, $lg);
  }
}

#footer-copy {
  padding: fluid(40, $sm) 0 fluid(26, $sm) 0;

  @include md {
    padding: fluid(40, $lg) 0;
  }
}

#footer-logo--svg {
  min-width: fluid(335, $sm);
  height: fluid(math.div(335 * 32, 201), $sm);

  @include md {
    min-width: fluid(1840, $lg);
    height: fluid(math.div(1840 * 32, 201), $lg);
  }
}

#footer-big--txt {
  font-size: fluid(274, $lg);
  line-height: 110%;
  letter-spacing: -0.04em;
  white-space: nowrap;
  min-width: fit-content;

  @include md {
    display: flex;
    align-items: center;
  }
}

#footer-copy {
  @include md {
    flex-direction: row;
    align-items: initial;
  }
}

#footer-copy--logo {
  font-weight: 500;
  font-size: fluid(16, $sm);
  line-height: 140%;

  @include md {
    font-size: fluid(16, $lg);
  }
}

.footer-terms {
  font-size: fluid(16, $sm);
  line-height: 140%;

  @include md {
    font-size: fluid(16, $lg);
  }
}

#footer-copy--credits {
  font-size: fluid(13, $sm);
  line-height: 140%;
  letter-spacing: 0.03em;
  white-space: nowrap;

  @include md {
    font-size: fluid(15, $lg);
  }
}

#footer-copy--design {
  color: #7a858a;
}

#footer-copy--studio {
  font-weight: 500;
}

#footer-terms--col {
  gap: fluid(25, $sm);

  @include md {
    gap: fluid(25, $lg);
  }
}

#footer-sep {
  border-right: 1px solid #022d42;
  width: 1px;
  height: fluid(11, $sm);

  @include md {
    height: fluid(11, $lg);
  }
}

#footer-sep--xl {
  border-right: 4px solid #022d42;
  width: 1px;
  height: fluid(199, $lg);
  margin-right: fluid(100, $lg);
  margin-left: fluid(100, $lg);
  margin-top: fluid(-24, $lg);
  opacity: 0.2;
}

#footer-sep--vert {
  height: fluid(20, $lg);
  width: fluid(286, $lg);
  margin-right: fluid(25, $lg);
  margin-left: fluid(17, $lg);

  background-color: $darkblue;
}

.text-underline {
  text-decoration: underline;
}
