details {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
  }

  @include md {
    padding-left: fluid(40, $lg);

    // border bottom
    &::after {
      left: fluid(40, $lg);
      right: 0;
      border-bottom: 1px solid #aab6b6;
    }
  }
}

details[open] {
  padding-bottom: fluid(60, $lg);

  .form-title {
    padding-bottom: fluid(40, $sm);

    @include md {
      padding-bottom: fluid(38, $lg);

      &.margin-sm {
        padding-bottom: fluid(14, $lg);
      }
    }
  }

  @include md {
    // border left
    &::before {
      border-left: 1px solid #022d42;
      top: 0;
      left: -1px;
    }

    &::after {
      border-bottom: 1px solid $darkblue;
    }
  }
}

details summary {
  cursor: pointer;
  padding-top: fluid(60, $lg);

  &::marker,
  &::-webkit-details-marker {
    display: none;
    content: "";
  }
}

.form-title {
  font-size: fluid(36, $sm);
  padding-bottom: fluid(40, $sm);
  line-height: 130%;
  letter-spacing: -0.02em;

  @include md {
    font-size: fluid(50, $lg);
    padding-bottom: fluid(60, $lg);
  }
}

.form-subtitle {
  font-size: fluid(16, $sm);
  margin-bottom: fluid(40, $sm);
  line-height: 140%;
  text-align: center;
  gap: fluid(6, $sm);

  @include md {
    flex-direction: row;
    font-size: fluid(18, $lg);
    margin-bottom: fluid(40, $lg);
    align-items: baseline;
    justify-content: unset;
    text-align: left;
    gap: 0;
  }
}

.form-inner {
  @include md {
    flex-direction: row;
  }
}

input,
textarea,
select {
  outline: none;
  background: none;
  border: none;

  &::placeholder {
    color: transparent;
    user-select: none;
  }
}

textarea {
  resize: vertical;
}

.field {
  border-radius: fluid(15, $sm);
  margin-bottom: fluid(12, $sm);
  width: 100%;
  height: fluid(60, $sm);
  // overflow: auto;
  border: 1px solid #aab6b6;
  transition: border 0.5s $ease-out-expo;

  &.textarea {
    height: fluid(180, $sm);
  }

  &.dark {
    border: 1px solid $darkblue;
  }

  &:hover {
    border: 1px solid rgba(2, 45, 66, 0.5);
  }

  @include md {
    border-radius: fluid(15, $lg);
    min-width: fluid(516, $lg);
    margin-bottom: fluid(14, $lg);
    height: fluid(60, $lg);

    &.textarea {
      height: min-content;
    }
  }
}

.field-dash {
  border: 1px dashed #aab6b6;
  overflow: auto;
}

textarea {
  padding: fluid(20, $sm);
  height: 100%;

  @include md {
    padding: fluid(15, $lg) fluid(20, $lg);
  }
}

.field {
  &:focus-within {
    border: 1px solid $darkblue;
  }
}

// error
.field.err {
  border: 1px solid #ff6666;
  background: rgba(255, 102, 102, 0.1);
  border-radius: fluid(15, $sm);

  @include md {
    border-radius: fluid(15, $lg);
  }
}

input {
  padding: fluid(17, $sm) fluid(20, $sm) fluid(7, $sm);
  width: 100%;
  height: 100%;

  @include md {
    padding: fluid(26, $lg) fluid(20, $lg) fluid(9, $lg);
  }
}

label {
  user-select: none;
}

// focus exists
.field-input {
  &:focus {
    + .field-label {
      opacity: 0;
    }

    ~ .field-label--active {
      opacity: 0.3;
    }
  }
}

// content exists
.field-input:not(:placeholder-shown) {
  + .field-label {
    opacity: 0;
  }

  ~ .field-label--active {
    opacity: 0.3;
  }
}

.field-label {
  line-height: 140%;
  opacity: 0.5;
  white-space: nowrap;
  font-size: fluid(16, $sm);
  top: fluid(20, $sm);
  left: fluid(20, $sm);

  @include md {
    font-size: fluid(18, $lg);
    // top: fluid(19, $lg);
    left: fluid(20, $lg);
    top: 50%;
    transform: translateY(-50%);
  }
}

.textarea.field .field-label {
  @include md {
    top: fluid(19, $lg);
    transform: none;
  }
}

.field-label--active {
  font-weight: bold;
  font-size: fluid(9, $sm);
  line-height: 110%;
  letter-spacing: 0.08em;
  opacity: 0;
  top: fluid(10, $sm);
  left: fluid(20, $sm);

  @include md {
    top: fluid(15, $lg);
    left: fluid(20, $lg);
    font-size: fluid(9, $lg);
  }
}

.field-col {
  @include md {
    margin-right: fluid(20, $lg);
  }
}

.field-input--textarea {
  padding: fluid(20, $sm);

  @include md {
    padding: fluid(26, $lg) fluid(20, $lg) fluid(9, $lg);
  }
}

.field-input--file {
  opacity: 0;
  // padding: fluid(26, $lg) fluid(20, $lg) fluid(9, $lg);

  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.field-label--file-inner {
  // top: fluid(16, $lg);

  svg {
    width: fluid(16, $sm);
    height: fluid(22, $sm);
    margin-right: fluid(8, $sm);
  }

  @include md {
    svg {
      width: fluid(22, $lg);
      height: fluid(28, $lg);
      margin-right: fluid(8, $lg);
    }
  }

  &.active {
    opacity: 1;
  }
}

.field-label--filename {
  opacity: 1;
  left: fluid(50, $lg);
}

.form-toggle {
  width: fluid(94, $lg);
  height: fluid(39, $lg);
  border-radius: fluid(11, $lg);
  border: 1px solid #dadaca;
  top: fluid(73, $lg);
  transition: background-color 1.25s $ease-out-expo;

  svg {
    width: fluid(12, $lg);
    height: fluid(12, $lg);
    transform: rotate(-45deg);
    transition: transform 0.75s $ease-out-expo;
  }

  display: none;

  @include md {
    display: unset;
  }
}

.hover-toggle {
  details[open] ~ .form-toggle > svg {
    transform: rotate(-90deg) !important;
  }
}

details[open] ~ .form-toggle {
  svg {
    transform: none;
  }

  &:hover {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.form-wrapper {
  &:hover {
    details:not([open]) ~ .form-toggle {
      background-color: #dadaca;
      svg {
        transform: rotate(45deg);
      }
    }
  }
}

.form-status {
  background: #e5e6db;
  inset: fluid(70, $sm) 0 0 0;

  opacity: 0;
  pointer-events: none;

  details[open] ~ &.active {
    transition: opacity 0.75s $ease-out-expo;
    opacity: 1;
    pointer-events: all;
  }

  @include md {
    inset: fluid(125 + 20, $lg) 0 fluid(55, $lg) fluid(40, $lg);
  }
}

.form-status--nodetail {
  &.active {
    transition: opacity 0.75s $ease-out-expo;
    opacity: 1;
    pointer-events: all;
  }
}

.form-status--tick {
  width: fluid(75, $sm);
  height: fluid(75, $sm);
  background: #f2ffbd;
  border-radius: 50%;
  margin-bottom: fluid(30, $sm);

  svg {
    width: fluid(29 * 0.75, $sm);
    height: fluid(21 * 0.75, $sm);
  }

  @include md {
    width: fluid(100, $lg);
    height: fluid(100, $lg);
    margin-bottom: fluid(30, $lg);

    svg {
      width: fluid(29, $lg);
      height: fluid(21, $lg);
    }
  }
}

.form-status--thank {
  font-size: fluid(28, $sm);
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: fluid(12, $sm);
  width: fluid(251, $sm);

  @include md {
    font-size: fluid(50, $lg);
    margin-bottom: fluid(12, $lg);
    width: fluid(441, $lg);
  }
}

.form-status--desc {
  font-size: fluid(16, $sm);
  line-height: 140%;
  text-align: center;
  width: fluid(251, $sm);

  @include md {
    width: fluid(441, $lg);
    font-size: fluid(22, $lg);
  }
}

select {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: #ecece2;
  padding: fluid(20, $sm);
  border-radius: fluid(15, $sm);
  font-size: fluid(16, $sm);

  &:focus-within:hover ~ .select-dropdown {
    svg {
      transform: rotate(180deg);
    }
  }

  @include md {
    padding: fluid(19, $lg) fluid(19, $lg) fluid(16, $lg) fluid(20, $lg);
    border-radius: fluid(15, $lg);
    font-size: fluid(18, $lg);
  }
}

option[value="placeholder"] {
  display: none;
}

.select-dropdown {
  top: fluid(20, $sm);
  right: fluid(20, $sm);

  svg {
    width: fluid(16, $sm);
    height: fluid(10, $sm);
    transition: transform 0.75s $ease-out-expo;
  }

  @include md {
    top: fluid(19, $lg);
    right: fluid(19, $lg);

    svg {
      width: fluid(16, $lg);
      height: fluid(10, $lg);
    }
  }
}

.cta-btn.running,
.cta-btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.field {
  &.err {
    .error-icon {
      pointer-events: all;
      opacity: 1;
    }
  }

  .error-icon {
    pointer-events: none;
    opacity: 0;

    width: fluid(20, $sm);
    height: fluid(20, $sm);

    top: fluid(20, $sm);
    right: fluid(20, $sm);

    &:hover {
      .error-overlay {
        opacity: 1;
      }
    }

    @include md {
      width: fluid(20, $lg);
      height: fluid(20, $lg);

      top: fluid(20, $lg);
      right: fluid(20, $lg);
    }
  }

  .error-overlay {
    white-space: nowrap;
    background: #ff6666;
    border-radius: fluid(8, $sm);
    padding: fluid(3, $sm) fluid(8, $sm) fluid(2, $sm);
    z-index: 2;

    font-weight: 500;
    font-size: fluid(14, $sm);
    line-height: 130%;
    letter-spacing: 0.02em;

    top: fluid(-48, $sm);
    left: 0;

    transform: translateX(-90%);
    opacity: 0;
    pointer-events: none;

    @include md {
      top: fluid(-48 - 6, $lg);
      font-size: fluid(16, $lg);

      border-radius: fluid(8, $lg);
      padding: fluid(3, $lg) fluid(8, $lg) fluid(2, $lg);
      transform: translateX(-50%);
    }
  }
}
