details {
  padding-left: fluid(40, $lg);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: fluid(0, $lg);
    left: fluid(40, $lg);
    right: 0;
    border-bottom: 1px solid #aab6b6;
  }
}

details[open] {
  &::before {
    content: "";
    border-left: 1px solid #022d42;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &::after {
    border-bottom: 1px solid $darkblue;
  }

  padding-bottom: fluid(60, $lg);

  .form-title {
    margin-bottom: fluid(38, $lg);

    &.margin-sm {
      margin-bottom: fluid(14, $lg);
    }
  }
}

details summary {
  cursor: pointer;
  padding-top: fluid(60, $lg);

  &::marker {
    display: none;
    content: "";
  }
}

.form-title {
  font-size: fluid(50, $lg);
  line-height: 130%;
  letter-spacing: -0.02em;
  margin-bottom: fluid(60, $lg);
}

.form-subtitle {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: fluid(40, $lg);
}

input,
textarea,
select {
  outline: none;
  background: none;
  border: none;

  &::placeholder {
    color: transparent;
  }
}

.field {
  border-radius: fluid(15, $lg);
  border: 1px solid #aab6b6;
  min-width: fluid(516, $lg);
  margin-bottom: fluid(14, $lg);
  // overflow: auto;
}

.field-dash {
  border: 1px dashed #aab6b6;
}

textarea {
  padding: fluid(15, $lg) fluid(20, $lg);
  height: 100%;
}

.field {
  &:focus-within {
    border: 1px solid $darkblue;
  }
}

// error
.field.err {
  border: 1px solid #ff6666;
  background: rgba(255, 102, 102, 0.1);
  border-radius: fluid(15, $lg);
}

input {
  padding: fluid(26, $lg) fluid(20, $lg) fluid(9, $lg);
  width: 100%;
  height: 100%;
}

// focus exists
.field-input {
  &:focus {
    + .field-label {
      opacity: 0;
    }

    ~ .field-label--active {
      opacity: 0.3;
    }
  }
}

// content exists
.field-input:not(:placeholder-shown) {
  + .field-label {
    opacity: 0;
  }

  ~ .field-label--active {
    opacity: 0.3;
  }
}

.field-label {
  font-size: fluid(18, $lg);
  line-height: 140%;
  opacity: 0.5;
  top: fluid(19, $lg);
  left: fluid(20, $lg);
  white-space: nowrap;
}

.field-label--active {
  font-weight: bold;
  font-size: fluid(9, $lg);
  line-height: 110%;
  letter-spacing: 0.08em;
  opacity: 0;
  top: fluid(15, $lg);
  left: fluid(20, $lg);
}

.field-col {
  margin-right: fluid(20, $lg);
}

.field-input--textarea {
  padding: fluid(26, $lg) fluid(20, $lg) fluid(9, $lg);
}

.field-input--file {
  opacity: 0;
  // padding: fluid(26, $lg) fluid(20, $lg) fluid(9, $lg);

  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.field-label--file-inner {
  // top: fluid(16, $lg);

  svg {
    width: fluid(22, $lg);
    height: fluid(28, $lg);
    margin-right: fluid(8, $lg);
  }

  &.active {
    opacity: 1;
  }
}

.field-label--filename {
  opacity: 1;
  left: fluid(50, $lg);
}

.form-toggle {
  width: fluid(94, $lg);
  height: fluid(39, $lg);
  border-radius: fluid(11, $lg);
  border: 1px solid #dadaca;
  top: fluid(73, $lg);

  svg {
    width: fluid(12, $lg);
    height: fluid(12, $lg);
    transform: rotate(-45deg);
    transition: transform 0.75s $ease-out-expo;
  }
}

details[open] ~ .form-toggle {
  svg {
    transform: none;
  }
}

.form-status {
  background: #e5e6db;
  inset: fluid(125 + 20, $lg) 0 fluid(55, $lg) fluid(40, $lg);

  opacity: 0;
  pointer-events: none;

  details[open] ~ &.active {
    transition: opacity 0.75s $ease-out-expo;
    opacity: 1;
    pointer-events: all;
  }
}

.form-status--tick {
  width: fluid(100, $lg);
  height: fluid(100, $lg);
  background: #f2ffbd;
  border-radius: 50%;
  margin-bottom: fluid(30, $lg);

  svg {
    width: fluid(29, $lg);
    height: fluid(21, $lg);
  }
}

.form-status--thank {
  font-size: fluid(50, $lg);
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: fluid(12, $lg);
  width: fluid(441, $lg);
}

.form-status--desc {
  font-size: fluid(22, $lg);
  line-height: 140%;
  text-align: center;
  width: fluid(441, $lg);
}

select {
  width: 100%;
  height: 100%;
  padding: fluid(19, $lg) fluid(19, $lg) fluid(16, $lg) fluid(20, $lg);
  appearance: none;
  background: #ecece2;
  border-radius: fluid(15, $lg);

  &:focus-within:hover ~ .select-dropdown {
    svg {
      transform: rotate(180deg);
    }
  }
}

option[value="placeholder"] {
  display: none;
}

.select-dropdown {
  top: fluid(19, $lg);
  right: fluid(19, $lg);

  svg {
    width: fluid(16, $lg);
    height: fluid(10, $lg);
    transition: transform 0.75s $ease-out-expo;
  }
}

.cta-btn.running,
.cta-btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.field {
  &.err {
    .error-icon {
      pointer-events: all;
      opacity: 1;
    }
  }

  .error-icon {
    pointer-events: none;
    opacity: 0;

    width: fluid(20, $lg);
    height: fluid(20, $lg);

    top: fluid(20, $lg);
    right: fluid(20, $lg);

    &:hover {
      .error-overlay {
        opacity: 1;
      }
    }
  }

  .error-overlay {
    white-space: nowrap;
    background: #ff6666;
    border-radius: fluid(8, $lg);
    padding: fluid(3, $lg) fluid(8, $lg) fluid(2, $lg);
    z-index: 2;

    font-weight: 500;
    font-size: fluid(16, $lg);
    line-height: 130%;
    letter-spacing: 0.02em;

    top: fluid(-48 - 6, $lg);
    left: 0;

    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
  }
}
