details {
  padding-left: fluid(40, $lg);
  position: relative;
  padding-top: fluid(60, $lg);

  &::after {
    content: "";
    position: absolute;
    bottom: fluid(0, $lg);
    left: fluid(40, $lg);
    right: 0;
    border-bottom: 1px solid #aab6b6;
  }
}

details[open] {
  &::before {
    content: "";
    border-left: 1px solid #022d42;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &::after {
    border-bottom: 1px solid $darkblue;
  }

  padding-bottom: fluid(60, $lg);

  .form-title {
    margin-bottom: fluid(38, $lg);

    &.margin-sm {
      margin-bottom: fluid(14, $lg);
    }
  }
}

details summary {
  cursor: pointer;

  &::marker {
    display: none;
    content: "";
  }
}

.form-title {
  font-size: fluid(50, $lg);
  line-height: 130%;
  letter-spacing: -0.02em;
  margin-bottom: fluid(60, $lg);
}

.form-subtitle {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: fluid(40, $lg);
}

input,
textarea {
  outline: none;
  background: none;
  border: none;

  &::placeholder {
    color: transparent;
  }
}

.field {
  border-radius: fluid(15, $lg);
  border: 1px solid #aab6b6;
  margin-bottom: fluid(14, $lg);
}

.field {
  min-width: fluid(516, $lg);
}

textarea {
  padding: fluid(15, $lg) fluid(20, $lg);
}

.field {
  &:focus-within {
    border: 1px solid $darkblue;
  }
}

input {
  padding: fluid(26, $lg) fluid(20, $lg) fluid(9, $lg);
  width: 100%;
  height: 100%;
}

// focus exists
.field-input {
  &:focus {
    + .field-label {
      opacity: 0;
    }

    ~ .field-label--active {
      opacity: 0.3;
    }
  }
}

// content exists
.field-input:not(:placeholder-shown) {
  + .field-label {
    opacity: 0;
  }

  ~ .field-label--active {
    opacity: 0.3;
  }
}

.field-label {
  font-size: fluid(18, $lg);
  line-height: 140%;
  opacity: 0.5;
  top: fluid(19, $lg);
  left: fluid(20, $lg);
}

.field-label--active {
  font-weight: bold;
  font-size: fluid(9, $lg);
  line-height: 110%;
  letter-spacing: 0.08em;
  opacity: 0;
  top: fluid(15, $lg);
  left: fluid(20, $lg);
}

.field-col {
  margin-right: fluid(20, $lg);
}

.field-input--textarea {
  padding: fluid(26, $lg) fluid(20, $lg) fluid(9, $lg);
}

.field-input--file {
  opacity: 0;
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}
