.hero {
  padding-top: fluid(247, $sm);

  @include md {
    padding-top: fluid(430, $lg);
  }
}

.hero-title--wrapper {
  margin-bottom: fluid(26, $sm);

  @include md {
    margin-bottom: fluid(43, $lg);
  }
}

.hero-title {
  font-size: fluid(61, $sm);
  width: fluid(335, $sm);

  line-height: 100%;
  letter-spacing: -0.05em;

  .l-line {
    margin-top: -0.03em;
    padding-bottom: 0.03em;
  }

  @include md {
    // width: fluid(1639, $lg);
    font-size: fluid(120, $lg);
  }
}

.hero-tag {
  font-size: fluid(14, $sm);
  margin-bottom: fluid(15, $sm);

  line-height: 100%;
  text-align: right;
  letter-spacing: 0.05em;

  @include md {
    font-size: fluid(20, $lg);
    margin-bottom: fluid(24, $lg);
  }
}

.hero-picture {
  width: fluid(335, $sm);
  height: fluid(200, $sm);
  margin-bottom: fluid(80, $sm);

  img {
    opacity: 0;
    transform: scale(1.2);
  }

  @include md {
    width: fluid(1840, $lg);
    height: fluid(700, $lg);
    margin-bottom: fluid(125, $lg);
  }
}

.hero-grid,
#m-bg--grid {
  border: 1px solid #dadaca;
  border-top: none;
  border-left: none;
  background-image: linear-gradient(to right, #dadaca 1px, transparent 1px),
    linear-gradient(to bottom, #dadaca 1px, transparent 1px);

  background-size: fluid(48, $sm) fluid(39, $sm);

  @include md {
    background-size: fluid(74, $lg) fluid(48.4, $lg);
  }
}

#hero .hero-grid {
  opacity: 0;
}
