.hero {
  padding-top: fluid(430, $lg);
}

.hero-title--wrapper {
  margin-bottom: fluid(43, $lg);
}

.hero-title {
  width: fluid(1639, $lg);
  font-size: fluid(120, $lg);
  line-height: 100%;
  letter-spacing: -0.03em;
  padding-bottom: fluid(16, $lg);
}

.hero-tag {
  font-size: fluid(20, $lg);
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.05em;
  margin-bottom: fluid(24, $lg);
}

.hero-picture {
  width: fluid(1840, $lg);
  height: fluid(700, $lg);
  margin-bottom: fluid(125, $lg);
}

.hero-grid {
  min-height: fluid(358, $lg);
}
