.link {
  position: relative;
  display: inline;
  transition: opacity 0.4s $ease-out-expo;
  cursor: pointer;

  &:after {
    position: absolute;
    content: "";
    bottom: 0.01em;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $darkbeige;
    transition: transform 1s $ease-out-expo;
    transform-origin: right;
    transform: scaleX(0);
  }

  &:hover {
    opacity: 1;

    &:after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

// link solid

.link-solid {
  position: relative;
  overflow: hidden;
  overflow: clip;
  display: inline-block;
  transition: opacity 0.4s $ease-out-expo;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0.1em;
    border-bottom: 1px solid $darkbeige;
    width: 100%;
    transition: transform 1.5s $ease-out-expo;
    transform: none;
  }

  &:after {
    left: 0;
  }

  &:before {
    left: -100%;
  }

  &:hover:before {
    transform: translate3d(100%, 0, 0);
  }

  &:hover:after {
    transform: translate3d(150%, 0, 0);
  }
}

// link dark

.link-dark {
  &:before,
  &:after {
    border-bottom: 1px solid $darkblue;
  }
}
