#nav {
  background: #ecece2;
  transition: transform 1.25s $ease-out-expo;

  &.hidden {
    transform: translateY(-100%);
  }

  &.has-line {
    #nav-inner {
      &::after {
        opacity: 1;
      }
    }
  }
}

#nav-inner {
  width: fluid(1840, $lg);
  margin: 0 auto;
  padding: fluid(40, $lg) 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #dadaca;
    transition: opacity 0.75s;
    opacity: 0;
  }
}

#nav-left {
  gap: fluid(50, $lg);
}

#nav-sep {
  width: 0px;
  height: 18px;
  border-right: 1px solid #022d42;
  opacity: 0.2;
}

#nav-logo {
  width: fluid(200, $lg);
  height: fluid(32, $lg);
}

#nav-right {
  gap: fluid(72, $lg);
}

#nav-links {
  gap: fluid(52, $lg);
}

.nav-link {
  padding: fluid(20, $lg);
  display: flex;

  font-weight: 600;
  font-size: fluid(16, $lg);
  line-height: 110%;
  letter-spacing: 0.01em;

  &:hover {
    .nav-link--inner::after {
      opacity: 1;
    }
  }
}

.nav-item.active {
  .nav-link--inner::after {
    background: $darkblue;
    opacity: 1;
  }
}

.nav-link--inner::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: fluid(-8, $lg);

  height: fluid(5, $lg);
  width: fluid(5, $lg);
  background: $darkgray;
  border-radius: 50%;
  opacity: 0;

  transition: all 0.6s $ease-out-expo;
}

// nav language switcher
#langs-select {
  background: #ecece2;
  border: 1px solid rgba(2, 45, 66, 0.1);
  border-radius: fluid(9, $lg);
  padding: fluid(4, $lg) fluid(28, $lg) 0 fluid(8, $lg);

  font-weight: 500;
  font-size: fluid(16, $lg);
  line-height: 110%;
  outline: none;

  &.active {
    #langs-items {
      opacity: 1;
      pointer-events: all;
    }

    #langs-select--chevron {
      transform: rotate(180deg);
    }
  }
}

#langs-select--chevron {
  width: fluid(12, $lg);
  height: fluid(8, $lg);

  top: calc(50% - #{fluid(4, $lg)});
  // top: 50%;
  right: fluid(8, $lg);
  transition: transform 0.5s $ease-out-expo;
}

#langs-items {
  bottom: fluid(-30, $lg);
  opacity: 0;
  pointer-events: none;
}

.langs-select--item {
  background: #dadaca;
  border-radius: fluid(9, $lg);
  padding: fluid(6, $lg) fluid(10, $lg) fluid(2, $lg) fluid(10, $lg);
}

// CTA button

.cta-btn {
  background: $green;
  border-radius: fluid(15, $lg);
  width: fit-content;

  font-weight: 600;
  font-size: fluid(16, $lg);
  line-height: 110%;
  letter-spacing: 0.01em;

  padding: fluid(21, $lg) fluid(34, $lg);

  transition: background-color 0.75s $ease-out-expo;

  .btn-inner::after {
    color: $green;
  }

  &:hover {
    background: $darkblue;

    .btn-inner {
      transform: translateY(-100%);

      &::after {
        transform: translateY(-20%);
      }
    }
  }
}

.btn-wrapper {
  display: grid;
  place-items: center;
}

.btn-inner {
  transition: transform 1.25s $ease-out-expo;
  width: fit-content;

  &::after {
    content: attr(data-content);
    position: absolute;
    bottom: -120%;
    left: 0;
    transition: transform 1.25s $ease-out-expo;
  }
}
