.l-wrapper {
  display: block;
  overflow: hidden;
  contain: content;
  display: flex;
  flex-direction: column;
}

.l-line {
  display: block;
  transform: translate3d(0, 110%, 0);
}

.l-char--wrapper {
  display: inline;
  overflow: hidden;
  contain: content;
}

.l-char {
  display: inline-block;
  transform: translate3d(0, 110%, 0);
}

.l-space {
  width: 3.6805555556vw;
  height: 100%;
}

#text-reveal {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  contain: content;
  bottom: 0;
  left: 0;
}
