.l-wrapper {
  display: block;
  overflow: hidden;
  contain: content;
  display: flex;
  flex-direction: column;
}

.l-line {
  display: block;
  transform: translate3d(0, 110%, 0);
}

.l-char--wrapper {
  display: inline-block;
  overflow: hidden;
  contain: content;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
}

.l-char {
  display: inline-block;
  transform: translate3d(0, 110%, 0);
}

.l-space {
  width: 0.2em;
  height: 100%;
}

#text-reveal {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  contain: content;
  bottom: 0;
  left: 0;
}
