<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>{{ seo.title }} — {{ title }}</title>
        <script defer src="{{ '/js/main.js' | url | bust }}"></script>
        <link rel="stylesheet" href="{{ '/css/style.css' | url | bust }}">

        <link href="{{ '/static/meta/favicon.ico' | url}}" rel="shortcut icon" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/meta/apple-touch-icon.png' | url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/meta/favicon-32x32.png' | url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/meta/favicon-16x16.png' | url }}">
        <link rel="mask-icon" href="{{ '/static/meta/safari-pinned-tab.svg' | url }}" color="#5bbad5">

        <link rel="manifest" href="{{ '/static/meta/site.webmanifest' | url }}">

        <meta name="description" content="{{ seo.description }}">
        <meta name="keywords" content="{{ seo.keywords }}">
        <meta name="theme-color" content="#000">
        <meta name="robots" content="all"/>

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="{{ seo.title }}"/>
        <meta name="twitter:description" content="{{ seo.description }}"/>
        <meta name="twitter:image" content="{{ site.url }}/static/meta/og.jpg"/>
        <meta property="og:url" content="{{ site.url }}" key="ogurl"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ seo.title }}"/>
        <meta property="og:description" content="{{ seo.description }}"/>
        <meta property="og:image" content="{{ site.url }}/static/meta/og.jpg"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="630"/>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W8LCQ9J');</script>
        <!-- End Google Tag Manager -->

        {% jsonLdScript meta,
        type,
        tags %}
    </head>