{% include '_header.njk' %}

<body class="sans">
  <div id="loader" class="pf inset z9 df fc jcc aic bg-white">
    <span id="loader-percent">0</span>
  </div>
  <noscript id="no-js" class="pf inset z10 df jcc aic bg-white">
    <span>Please enable JS to view this site</span>
  </noscript>

  <div id="sail" class="pf inset z8 df fc jcc aic pen bg-white"></div>
  <div id="scroll-cover" class="pf inset z8 df fc jcc aic pen"></div>

  <div data-scroll-content>
    <div id="app" data-hydra-root>
      {{ content | safe }}
    </div>
  </div>

  {# <canvas id="gl" class="pf zn1 gl"></canvas> #}
  {# <canvas id="twod" class="pf zn2 gl pen"></canvas> #}

  <div id="text-reveal"></div>
  <div id="grid" class="pf z10 inset df pen"></div>

  {# Use font to force browser to fetch asap #}
  <div id="text-preload" class="pf oh">
    <div class="sans">q</div>
    <div class="serif">q</div>
  </div>

  <div id="img-preload" class="pf oh"></div>

  {# <svg id="svg" class="pf" height="0" width="0"></svg> #}

</body>
</html>