<footer id="footer" data-scroll-section>
    <div class="footer-row restrict df fc">
        <ul class="footer-list df fc">
            <li class="footer-item">
                <a class="link link-dark" href="/">Accueil</a>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/technology/">Technologie</a>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/about/">Qui sommes-nous</a>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/news/">Actualité </a>
            </li>
            <li class="footer-item">
                <div class="tag-wrapper pr fit active">
                    <a class="link link-dark" href="/careers/">Carrières</a>
                    <div class="pa ttu footer-tag">Postes ouverts</div>
                </div>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/contact/">Contact</a>
            </li>
        </ul>
        <ul class="footer-list df fc">
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="{{ social.fb }}" class="link link-dark">Facebook</a>
            </li>
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="{{ social.tw }}" class="link link-dark">Twitter</a>
            </li>
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="{{ social.li }}" class="link link-dark">LinkedIn</a>
            </li>
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="{{ social.in }}" class="link link-dark">Instagram</a>
            </li>
        </ul>
        <div class="df fc footer-col--xl">
            <div id="footer-cta--title">Abonnez-vous à notre Newsletter pour  rester à jour</div>
            <div id="footer-cta--desc">Pas de spam - Désabonnez-vous à tout moment.</div>
            <form novalidate action="POST" class="pr">
                <div class="df fc footer-cta--input">
                    <div class="field dark pr">
                        <input name="First Name" class="field-input first-name" id="footer-name" placeholder="Prénom" required type="text" data-type="name">
                        <label class="pen field-label pa" for="footer-name">Prénom</label>
                        <label class="pen field-label--active ttu pa" for="footer-name">Prénom</label>
                        <div class="cp pa error-icon">
                            <svg>
                                <use xlink:href="#err-icon"></use>
                            </svg>
                            <div class="error-overlay ttu pa">Merci de fournir une prénom valable</div>
                        </div>
                    </div>
                    <div class="field dark pr">
                        <input name="Email ID" class="field-input" id="footer-email" placeholder="Adresse mail" required type="email" data-type="email">
                        <label class="pen field-label pa" for="general-email">Adresse mail</label>
                        <label class="pen field-label--active ttu pa" for="general-email">Adresse mail</label>
                        <div class="cp pa error-icon">
                            <svg>
                                <use xlink:href="#err-icon"></use>
                            </svg>
                            <div class="error-overlay ttu pa">Merci de fournir une adresse mail valable</div>
                        </div>
                    </div>
                    <div class="df aib d-hide" id="footer-check--wrapper-m">
                        <div class="pr df aic footer-check--wrapper">
                            <input type="checkbox" required id="footer-cta--check-m" class="cp footer-cta--check" name="footer-cta--check">
                            <div class="footer-check--tick pa pen">
                                <svg fill="none" viewBox="0 0 14 10">
                                    <path d="M1 5.132 4.911 9 13 1" stroke="#022D42" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </div>
                        <label for="footer-cta--check-m" class="footer-cta--check-label cp">
                            En vous abonnant, vous acceptez notre <a href="/privacy/" class="text-underline">politique de confidentialité </a>et nos  <a href="/privacy/" class="text-underline"> conditions d'utilisation </a>
                        </label>
                    </div>
                    <button id="footer-cta--btn" class="cta-btn df aic jcc" type="submit">
                        <div class="pr oh btn-wrapper">
                            <div class="btn-inner" data-content="s'abonner">s'abonner</div>
                        </div>
                    </button>
                </div>
                <div class="df aib m-hide" id="footer-wrapper--d">
                    <div class="pr df aic footer-check--wrapper">
                        <input type="checkbox" required id="footer-cta--check-d" class="cp footer-cta--check" name="footer-cta--check">
                        <div class="footer-check--tick pa pen">
                            <svg fill="none" viewBox="0 0 14 10">
                                <path d="M1 5.132 4.911 9 13 1" stroke="#022D42" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                    <label for="footer-cta--check-d" class="footer-cta--check-label cp">
                        En vous abonnant, vous acceptez notre <a href="/privacy/" class="text-underline"> Politique de confidentialité  </a> et nos <a href="/privacy/" class="text-underline"> Conditions d'utilisation </a>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-row restrict df fc">
        <div class="footer-col" data-footer-hover="contact@depoly.co">
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">Email</div>
                    <div class="pa ttu footer-tag">Copier dans le presse-papier</div>
                </div>
            </div>
            <div class="footer-col--data fit">
                <div class="text-underline hover-item cp">contact@depoly.co</div>
            </div>
        </div>
        <div class="footer-col" data-footer-hover>
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">un projet?</div>
                    <div class="pa ttu footer-tag">formulaire ouvert</div>
                </div>
            </div>
            <div class="footer-col--data fit">
                <div class="text-underline hover-item cp" data-no-copy data-trigger-aside="#cta-panel">Demander un échantillon</div>
            </div>
        </div>
        <div id="footer-location" class="footer-col--xl" data-footer-hover>
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">adresse</div>
                    <div class="pa ttu footer-tag">Open in Google Maps</div>
                </div>
            </div>
            <div class="footer-col--data fit">
                <a class="text-underline hover-item cp" data-no-copy href="https://goo.gl/maps/xPXDr7MSfWLdYDgXA" target="_blank" rel="noreferrer noopener">Rue de l'Industrie 23, 1950 Sion, Valais Switzerland</a>
            </div>
        </div>
    </div>
    <div id="footer-logo--wrapper" class="footer-row df oh" data-scroll-window>
        <div id="footer-logo" class="df aic" data-scroll-item>
            <svg id="footer-logo--svg">
                <use xlink:href="#depoly-logo"/>
            </svg>
            <div id="footer-sep--xl"></div>

            <div id="footer-big--txt" class="ttu fv-mono">Reconsidérer le recyclage</div>
        </div>
    </div>
    <div id="footer-copy" class="footer-row restrict df fc aic">
        <div class="footer-col--xl" id="footer-copy--logo"></div>
        <div class="df aic footer-col" id="footer-terms--col">
            <a href="/privacy/" class="link link-dark link-solid footer-terms">Conditions d'utilisation</a>
            <div id="footer-sep"></div>
            <a href="/privacy/" class="link link-dark link-solid footer-terms">Politique de confidentialité </a>
        </div>
        <div id="footer-divider" class="d-hide"></div>
        <a href="https://fiftyseven.co/" target="_blank" rel="noopener noreferrer" class="footer-col ttu" id="footer-copy--credits">
            <span id="footer-copy--design">Designed by</span>
            <span id="footer-copy--studio">FiftySeven®</span>
        </a>
    </div>

     <script>
        ;(function (document) {
            const dateEl = document.getElementById('footer-copy--logo');
            if (dateEl instanceof HTMLElement) {
                dateEl.innerText = `DePoly © ${new Date().getFullYear()}`;
            }
        })(document)
    </script
</footer>