<footer id="footer" data-scroll-section>
    <div class="footer-row restrict df fc">
        <ul class="footer-list df fc">
            <li class="footer-item">
                <a class="link link-dark" href="/">Home</a>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/technology/">Technology</a>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/about/">About Us</a>
            </li>
            {# <li class="footer-item">
                <a class="link link-dark" href="/news/">News</a>
            </li> #}
            <li class="footer-item">
                <div class="tag-wrapper pr fit active">
                    <a class="link link-dark" href="/careers/">Careers</a>
                    <div class="pa ttu footer-tag">Hiring</div>
                </div>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/contact/">Contact</a>
            </li>
        </ul>
        <ul class="footer-list df fc">
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="/" class="link link-dark">Twitter</a>
            </li>
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="/" class="link link-dark">Facebook</a>
            </li>
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="/" class="link link-dark">LinkedIn</a>
            </li>
        </ul>
        <div class="df fc footer-col--xl">
            <div id="footer-cta--title">Our newsletters are a concentrated blast of all the latest insights from DePoly. </div>
            <div id="footer-cta--desc">No spam – Unsubscribe anytime.</div>
            <form novalidate action="POST" class="pr">
                <div class="df fc footer-cta--input">
                    <div class="field dark pr">
                        <input name="First Name" class="field-input first-name" id="footer-name" placeholder="First Name" required type="text" data-type="name">
                        <label class="pen field-label pa" for="footer-name">First Name</label>
                        <label class="pen field-label--active ttu pa" for="footer-name">First Name</label>
                        <div class="cp pa error-icon">
                            <svg>
                                <use xlink:href="#err-icon"></use>
                            </svg>
                            <div class="error-overlay ttu pa">Please enter valid name</div>
                        </div>
                    </div>
                    <div class="field dark pr">
                        <input name="Email ID" class="field-input" id="footer-email" placeholder="Email Address" required type="email" data-type="email">
                        <label class="pen field-label pa" for="general-email">Email Address</label>
                        <label class="pen field-label--active ttu pa" for="general-email">Email Address</label>
                        <div class="cp pa error-icon">
                            <svg>
                                <use xlink:href="#err-icon"></use>
                            </svg>
                            <div class="error-overlay ttu pa">Please enter valid email address</div>
                        </div>
                    </div>
                    <div class="df aib d-hide" id="footer-check--wrapper-m">
                        <div class="pr df aic footer-check--wrapper">
                            <input type="checkbox" required id="footer-cta--check-m" class="cp footer-cta--check" name="footer-cta--check">
                            <div class="footer-check--tick pa pen">
                                <svg fill="none" viewBox="0 0 14 10">
                                    <path d="M1 5.132 4.911 9 13 1" stroke="#022D42" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </div>
                        <label for="footer-cta--check-m" class="footer-cta--check-label cp">
                        By subscribing you accept our <a href="/privacy/" class="text-underline"> Privacy Policy </a> &  <a href="/privacy/" class="text-underline"> Terms of Service </a>
                        </label>
                    </div>
                    <button id="footer-cta--btn" class="cta-btn df aic jcc" type="submit">
                        <div class="pr oh btn-wrapper">
                            <div class="btn-inner" data-content="Subscribe">Subscribe</div>
                        </div>
                    </button>
                </div>
                <div class="df aib m-hide" id="footer-wrapper--d">
                    <div class="pr df aic footer-check--wrapper">
                        <input type="checkbox" required id="footer-cta--check-d" class="cp footer-cta--check" name="footer-cta--check">
                        <div class="footer-check--tick pa pen">
                            <svg fill="none" viewBox="0 0 14 10">
                                <path d="M1 5.132 4.911 9 13 1" stroke="#022D42" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                    <label for="footer-cta--check-d" class="footer-cta--check-label cp">
                        By subscribing you accept our <a href="/privacy/" class="text-underline"> Privacy Policy </a> &  <a href="/privacy/" class="text-underline"> Terms of Service </a>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-row restrict df fc">
        <div class="footer-col" data-footer-hover="contact@depoly.ch">
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">Email</div>
                    <div class="pa ttu footer-tag">Copy to clipboard</div>
                </div>
            </div>
            <div class="footer-col--data">
                <div class="text-underline hover-item cp">contact@depoly.ch</div>
            </div>
        </div>
        <div class="footer-col" data-footer-hover="+41 76 814 38 36">
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">Phone</div>
                    <div class="pa ttu footer-tag">Copy to clipboard</div>
                </div>
            </div>
            <div class="footer-col--data">
                <div class="text-underline hover-item cp">+41 76 814 38 36</div>
            </div>
        </div>
        <div id="footer-location" class="footer-col--xl" data-footer-hover data-no-copy="true">
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">Location</div>
                    <div class="pa ttu footer-tag">Open in Google Maps</div>
                </div>
            </div>
            <div class="footer-col--data">
                <a class="text-underline hover-item cp" data-no-copy href="https://goo.gl/maps/LacBRchae6ipWJNH9" target="_blank" rel="noreferrer noopener">Rue de l'Industrie 17 1950 Sion, Valais Switzerland</a>
            </div>
        </div>
    </div>
    <div id="footer-logo--wrapper" class="footer-row df oh" data-scroll-window>
        <div id="footer-logo" class="df aic" data-scroll-item>
            <svg id="footer-logo--svg">
                <use xlink:href="#depoly-logo"/>
            </svg>
            <div id="footer-sep--xl" class="m-hide"></div>
            <div id="footer-big--txt" class="m-hide ttu fv-mono">RETHINK<div id="footer-sep--vert"></div>RECYCLING</div>
        </div>
    </div>
    <div id="footer-copy" class="footer-row restrict df fc aic">
        <div class="footer-col--xl" id="footer-copy--logo">DePoly © 2022</div>
        <div class="df aic footer-col" id="footer-terms--col">
            <a href="/privacy/" class="link link-dark link-solid footer-terms">Terms of Service</a>
            <div id="footer-sep"></div>
            <a href="/privacy/" class="link link-dark link-solid footer-terms">Privacy Policy</a>
        </div>
        <div id="footer-divider" class="d-hide"></div>
        <a href="https://fiftyseven.co/" target="_blank" rel="noopener noreferrer" class="footer-col ttu" id="footer-copy--credits">
            <span id="footer-copy--design">Designed by</span>
            <span id="footer-copy--studio">FiftySeven®</span>
        </a>
    </div>
</footer>