<footer id="footer" data-scroll-section>
    <div class="footer-row restrict df">
        <ul class="footer-list df fc">
            <li class="footer-item">
                <a class="link link-dark" href="/">Home</a>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/technology/">Technology</a>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/about/">About Us</a>
            </li>
            <li class="footer-item">
                <a class="link link-dark" href="/news/">News</a>
            </li>
            <li class="footer-item">
                <div class="tag-wrapper pr fit active">
                    <a class="link link-dark" href="/careers/">Careers</a>
                    <div class="pa ttu footer-tag">Hiring</div>
                </div>
            </li>
            <li class="footer-item pen">
                {# <a class="link link-dark" href="/contact/">Contact</a> #}
                Contact
            </li>
        </ul>
        <ul class="footer-list df fc">
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="/" class="link link-dark">Twitter</a>
            </li>
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="/" class="link link-dark">Facebook</a>
            </li>
            <li class="footer-item">
                <a target="_blank" rel="noreferrer noopener" href="/" class="link link-dark">LinkedIn</a>
            </li>
        </ul>
        <div class="df fc footer-col--xl">
            <div id="footer-cta--title">Our newsletters are a concentrated blast of all the latest insights from DePoly. </div>
            <div id="footer-cta--desc">No spam – Unsubscribe anytime.</div>
            <form action="POST">
                <div class="df footer-cta--input">
                    <input required placeholder="First Name" type="text">
                    <input required placeholder="Email Address" type="email">
                    <button class="footer-cta--btn df aic jcc" type="submit">Subscribe</button>
                </div>
                <div class="df aic">
                    <input type="checkbox" class="cp" id="footer-cta--check" name="footer-cta--check">
                    <label for="footer-cta--check" class="footer-cta--check cp">
                By subscribing you accept our <a href="" target="_blank" rel="noreferrer noopener" class="link link-dark">Privacy Policy</a> &  <a href="" target="_blank" rel="noreferrer noopener" class="link link-dark">Terms of Service</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-row restrict df">
        <div class="footer-col">
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">Email</div>
                    <div class="pa ttu footer-tag">Copy to clipboard</div>
                </div>
            </div>
            <div class="footer-col--data">
                <div class="link link-dark link-solid">contact@depoly.ch</div>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">Phone</div>
                    <div class="pa ttu footer-tag">Copy to clipboard</div>
                </div>
            </div>
            <div class="footer-col--data">
                <div class="link link-dark link-solid">+41 76 814 38 36</div>
            </div>
        </div>
        <div class="footer-col--xl">
            <div class="footer-col--title">
                <div class="pr fit tag-wrapper">
                    <div class="ttu">Location</div>
                    <div class="pa ttu footer-tag">Copy to clipboard</div>
                </div>
            </div>
            <div class="footer-col--data">
                <div class="link link-dark link-solid">Rue de l'Industrie 17 1950 Sion, Valais Switzerland</div>
            </div>
        </div>
    </div>
    <div class="footer-row restrict df oh" data-scroll-window>
        <div id="footer-logo" class="df" data-scroll-item>
            <svg id="footer-logo--svg">
                <use xlink:href="#depoly-logo"/>
            </svg>
            <div id="footer-big--txt" class="ttu mono">RETHINK——RECYCLING</div>
        </div>
    </div>
    <div id="footer-copy" class="footer-row restrict df">
        <div class="footer-col--xl">DePoly © 2022</div>
        <div class="df footer-col">
            <div class="link link-dark">Terms of Service</div>
            <div class="">|</div>
            <div class="link link-dark">Privacy Policy</div>
        </div>
        <div class="footer-col">
            <span>Designed by</span>
            <span>FiftySeven®</span>
        </div>
    </div>
</footer>