<nav id="nav" class="nav z8 pf top left right hidden">
    <div id="nav-inner" class="df jcb aic">
        {# visible #}
        <div id="nav-left" class="df aic">
            <a href="/" class="pea">
                <div id="nav-logo">
                    <svg>
                        <use xlink:href="#depoly-logo"></use>
                    </svg>
                </div>
            </a>

            <div id="nav-sep"></div>

            <div id="langs-select--wrapper" class="pr">
                <select name="langs-select" class="cp" id="langs-select" value="ENG">
                    <option class="ttu fv-mono cp" value="ENG">ENG</option>
                    <option class="ttu fv-mono cp" value="FRA">FRA</option>
                </select>
                <svg class="pa right" id="langs-select--chevron" viewBox="0 0 13 8" fill="none">
                    <path d="M2.41.84 7 5.42 11.59.84 13 2.25l-6 6-6-6L2.41.84Z" fill="#022D42" stroke="#ECECE2" stroke-width=".3"/>
                </svg>
            </div>

            <button id="nav-trigger" class="pa pea d-hide top right"></button>
        </div>

        {# overflow #}
        <div id="nav-right" class="df pa inset">
            <ul id="nav-links" class="df fc">
                <li class="nav-item d-hide" data-page="home">
                    <a class="nav-link pr" href="/">
                        <div class="nav-link--inner">Home</div>
                    </a>
                </li>

                <li class="nav-item" data-page="technology">
                    <a class="nav-link pr" href="/technology/">
                        <div class="nav-link--inner">Technology</div>
                    </a>
                </li>
                <li class="nav-item" data-page="about">
                    <a class="nav-link pr" href="/about/">
                        <div class="nav-link--inner">About Us</div>
                    </a>
                </li>
                <li class="nav-item" data-page="news">
                    <a class="nav-link pr" href="/blog/">
                        <div class="nav-link--inner">News</div>
                    </a>
                </li>
                <li class="nav-item" data-page="careers">
                    <a class="nav-link pr" href="/careers/">
                        <div class="nav-link--inner">Careers</div>
                    </a>
                </li>
                <li class="nav-item" data-page="contact">
                    <a class="nav-link pr" href="/contact/">
                        <div class="nav-link--inner">Contact</div>
                    </a>
                </li>
            </ul>
            <button class="cta-btn" id="nav-cta" data-trigger-aside="#cta-panel">
                <div class="pr oh btn-wrapper">
                    <div class="btn-inner" data-content="Request Sample">Request Sample</div>
                </div>
            </button>
            <div id="m-bg--grid" class="oh inset pa zn2 d-hide"></div>
        </div>
        <div id="m-bg" class="oh inset pa zn3 d-hide"></div>
        <div id="m-bg--top" class="oh inset pa zn3 d-hide"></div>
    </div>
</nav>