<nav id="nav" class="nav z8 pf top left right">
    <div id="nav-inner" class="df jcb aic">
        <div id="nav-left" class="df aic">
            <a href="/">
                <div id="nav-logo">
                    <svg>
                        <use xlink:href="#depoly-logo"></use>
                    </svg>
                </div>
            </a>

            <div id="nav-sep"></div>

            {# <div id="nav-dropdown" class="pr oh ttu">
            <div>Eng</div>
            <div class="pa"></div>
        </div> #}

            <select name="language" id="nav-lang" class="pr">
                <option value="eng">ENG</option>
                <option value="fra">FRA</option>
            </select>
        </div>
        <div id="nav-right" class="df">
            <ul id="nav-links" class="df aic">
                <li class="nav-item">
                    <a class="nav-link pr" href="/technology/">
                        <div class="nav-link--inner">Technology</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr" href="/about/">
                        <div class="nav-link--inner">About Us</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr" href="/news/">
                        <div class="nav-link--inner">News</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr" href="/careers/">
                        <div class="nav-link--inner">Careers</div>
                    </a>
                </li>
                <li class="nav-item pen">
                    <a class="nav-link pr" href="/">
                        <div class="nav-link--inner">Contact</div>
                    </a>
                </li>
            </ul>
            <button class="cta-btn" id="nav-cta">
                <div class="pr oh btn-wrapper">
                    <div class="btn-inner" data-content="Request Sample">Request Sample</div>
                </div>
            </button>
        </div>
    </div>
</nav>