<nav id="nav-m" class="nav-m z8 pf top left right">

    {# visible section #}
    <div></div>

    {# on click #}
    <div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</nav>