#about {
  #hero-title {
    padding-bottom: fluid(4, $lg);
  }

  #who {
    padding-bottom: fluid(210, $lg);
    margin-bottom: fluid(169, $lg);
    border-bottom: 1px solid $darkblue;
  }

  #team {
    padding-bottom: fluid(75, $lg);
    margin-bottom: fluid(125, $lg);
  }

  #numbers {
    @include md {
      padding-bottom: fluid(224, $lg);
      margin-bottom: fluid(125, $lg);
    }
  }

  #numbers-content {
    width: fluid(430 * 3 + 40 * 2, $lg);
    margin-left: auto;
  }

  .number-item {
    align-items: baseline;

    &.active {
      .number-no {
        color: $darkblue;
      }
    }
  }

  .number-no {
    letter-spacing: -0.05em;
    text-align: center;
    width: fluid(430, $lg);
    font-size: fluid(154, $lg);
    line-height: 110%;
    transition: color 0.75s $ease-out-expo;
    color: $darkbeige;
  }

  .number-detail {
    font-size: fluid(154, $lg);
    line-height: 110%;
    letter-spacing: -0.01em;
    left: fluid(40 + 430, $lg);
    // transition: color 0.75s $ease-out-expo;
  }

  #team {
    @include md {
      flex-direction: row;
    }
  }

  .grid-list {
    position: relative;

    gap: fluid(40, $sm);

    @include md {
      flex-direction: row;
      margin-left: auto;

      width: fluid(430 * 3 + 40 * 2, $lg);
      gap: fluid(40, $lg);
      left: fluid(20, $lg);
    }
  }

  .team-col {
    @include md {
      width: fluid(430, $lg);

      &:not(.no-border) {
        &:not(:last-of-type) {
          border-right: 1px solid rgba(2, 45, 66, 0.2);
        }
      }
    }
  }

  .team-item {
    position: relative;

    padding-top: fluid(60, $sm);

    &:not(.no-border) {
      &::after {
        content: "";
        border-bottom: 1px solid rgba(2, 45, 66, 0.2);

        position: absolute;
        bottom: 0;
        left: fluid(-35 + 20, $lg);
        right: fluid(5 - 20, $lg);
      }
    }

    @include md {
      width: fluid(400, $lg);
      padding-top: fluid(90, $lg);
      left: fluid(-20, $lg);
    }
  }

  .team-photo {
    width: fluid(335, $sm);
    height: fluid(335, $sm);
    margin-bottom: fluid(26, $sm);

    border-radius: 50%;
    background: #f6f6ee;

    @include md {
      width: fluid(400, $lg);
      height: fluid(400, $lg);
      margin-bottom: fluid(36, $lg);
    }
  }

  .team-name {
    font-size: fluid(30, $sm);
    margin-bottom: fluid(12, $sm);

    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;

    @include md {
      font-size: fluid(30, $lg);
      margin-bottom: fluid(12, $lg);
    }
  }

  .team-role {
    opacity: 0.4;
    font-weight: 500;
    font-size: fluid(13, $sm);
    margin-bottom: fluid(60, $sm);
    line-height: 110%;
    letter-spacing: 0.05em;
    text-align: center;

    @include md {
      font-size: fluid(15, $lg);
      margin-bottom: fluid(90, $lg);
    }
  }

  #advisor-list {
    margin-bottom: fluid(300, $lg);
  }
}
