#about {
  #hero-title {
    @include md {
      padding-bottom: fluid(4, $lg);
    }
  }

  #who {
    padding-bottom: fluid(120, $sm);
    margin-bottom: fluid(42, $sm);
    border-bottom: 1px solid $darkblue;

    @include md {
      padding-bottom: fluid(210, $lg);
      margin-bottom: fluid(169, $lg);
    }
  }

  #numbers {
    padding-bottom: fluid(100, $sm);
    margin-bottom: fluid(42, $sm);

    @include md {
      padding-bottom: fluid(224, $lg);
      margin-bottom: fluid(125, $lg);
      flex-direction: row;
    }
  }

  #numbers-content {
    @include md {
      width: fluid(430 * 3 + 40 * 2, $lg);
      margin-left: auto;
    }
  }

  .number-item {
    align-items: baseline;

    &:hover {
      .number-no {
        color: $darkbeige;
      }
    }

    &.active {
      pointer-events: none;

      .number-no {
        color: $darkblue;
      }
    }
  }

  .number-no {
    letter-spacing: -0.05em;
    text-align: center;
    width: fluid(430, $lg);
    font-size: fluid(154, $lg);
    line-height: 110%;
    transition: color 0.75s $ease-out-expo;
    color: rgba(246, 246, 238, 1);
  }

  .number-detail {
    font-size: fluid(154, $lg);
    line-height: 110%;
    letter-spacing: -0.01em;
    left: fluid(40 + 430, $lg);
    // transition: color 0.75s $ease-out-expo;
    pointer-events: none;
  }

  #numbers-m {
    padding-bottom: fluid(100, $sm);

    &--snos {
      gap: fluid(25, $sm);
      margin-bottom: fluid(28, $sm);
      padding-left: fluid(20, $sm);
      padding-right: fluid(20, $sm);
      overflow-x: auto;
      overflow-y: hidden;
    }

    &--tag {
      margin-left: fluid(20, $sm);
      margin-bottom: fluid(100, $sm);
    }

    &--content {
      margin-left: fluid(20, $sm);
    }
  }

  .number-m {
    &--no {
      font-weight: 400;
      font-size: 62px;
      line-height: 100%;
      letter-spacing: -0.05em;
      color: #fff;

      transition: color 0.5s $ease-out-expo;

      &.active {
        color: $darkblue;
      }
    }

    &--detail {
      font-weight: 400;
      font-size: 62px;
      line-height: 110%;
      letter-spacing: -0.05em;
    }
  }

  #team {
    margin-bottom: fluid(42, $sm);
    border-bottom: 1px solid rgba(2, 45, 66, 0.2);
    border-top: 1px solid $darkblue;
    padding-top: fluid(42, $sm);

    @include md {
      flex-direction: row;
      padding-bottom: fluid(75, $lg);
      margin-bottom: fluid(125, $lg);
      padding-top: 0;
      border-top: none;
    }
  }

  #team-tag,
  #advisors-tag {
    margin-bottom: fluid(50, $sm);

    @include md {
      margin-bottom: 0;
    }
  }

  .grid-list {
    gap: fluid(40, $sm);

    @include md {
      flex-direction: row;
      margin-left: auto;

      width: fluid(430 * 3 + 40 * 2, $lg);
      gap: fluid(40, $lg);

      padding-left: fluid(15, $lg);
      padding-right: fluid(15, $lg);
    }
  }

  .team-item {
    position: relative;
    padding-top: fluid(60 - 40, $sm);

    &::after {
      content: "";
      border-bottom: 1px solid rgba(2, 45, 66, 0.2);

      position: absolute;
      bottom: 0;
      left: fluid(-35 + 20, $sm);
      right: fluid(5 - 20, $sm);
    }

    @include md {
      width: fluid(400, $lg);
      padding-top: 0;

      &::after {
        left: fluid(-35 + 20, $lg);
        right: fluid(5 - 20, $lg);
      }

      &:nth-child(n + 4) {
        padding-top: fluid(86 - 40, $lg);
      }
    }

    &.no-border {
      &::after {
        display: none;
      }
    }

    &:hover {
      .fx-on {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  .hori-line {
    width: 1px;
    opacity: 0.2;
    border-right: 1px solid #022d42;

    &--one {
      left: fluid(430 + 20, $lg);
    }

    &--two {
      left: fluid((430 * 2) + 60, $lg);

      &.sm {
        bottom: fluid(86 + 510 + 75, $lg);
      }
    }
  }

  .team-photo {
    width: fluid(335, $sm);
    height: fluid(335, $sm);
    margin-bottom: fluid(26, $sm);

    // hack to promote to it's own layer
    will-change: transform;

    border-radius: 50%;
    background: #f6f6ee;
    transition: opacity 2.75s $ease-out-expo;
    opacity: 0;

    @include md {
      width: fluid(400, $lg);
      height: fluid(400, $lg);
      margin-bottom: fluid(36, $lg);
    }

    img {
      transition: transform 1.5s $ease-out-expo;
      transform: scale(1.25);
    }

    &.fx-on {
      opacity: 1;

      img {
        transform: none;
      }
    }
  }

  .team-name {
    font-size: fluid(30, $sm);
    margin-bottom: fluid(12, $sm);

    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;
    font-weight: 500;

    @include md {
      font-size: fluid(30, $lg);
      margin-bottom: fluid(12, $lg);
    }
  }

  .team-role {
    opacity: 0.4;
    font-weight: 500;
    font-size: fluid(13, $sm);
    margin-bottom: fluid(60, $sm);
    line-height: 110%;
    letter-spacing: 0.05em;
    text-align: center;

    @include md {
      font-size: fluid(15, $lg);
      margin-bottom: fluid(90, $lg);
    }
  }

  #advisor-list {
    margin-bottom: fluid(300, $lg);
  }
}

// 11 % 3 * 4 + (Math.floor(11 / 3))
