#blog {
  #blog-header {
    margin-top: fluid(72, $sm);
    padding-top: fluid(40, $sm);
    border-top: 1px solid #022d42;

    @include md {
      margin-top: fluid(140, $lg);
      padding-top: fluid(40, $lg);
      margin-bottom: fluid(40, $lg);
    }
  }

  .article-card--tag {
    &::before {
      width: fluid(13, $sm);
      height: fluid(13, $sm);

      @include md {
        width: fluid(15, $lg);
        height: fluid(15, $lg);
      }
    }
  }

  #blog-filters {
    padding-bottom: fluid(40, $lg);
    padding-left: fluid(35, $lg);
    border-left: 1px solid #022d42;
  }

  #filter-content {
    border-bottom: 1px solid #022d42;
    padding-bottom: fluid(33, $lg);

    ul {
      gap: fluid(35 - 16, $lg);
    }
  }

  #search-top {
    width: 100%;
    display: flex;
    align-items: flex-end;

    svg {
      width: fluid(22, $lg);
      height: fluid(22, $lg);
      top: 50%;
      right: 0;
      left: unset;
      transform: translate3d(#{fluid(-67, $lg)}, -50%, 0);
      transition: transform 0.75s $ease-out-expo;
    }

    input {
      text-align: right;
      padding: 0;
      font-weight: 500;
      font-size: fluid(14, $lg);
      line-height: 130%;
      letter-spacing: 0.01em;
      transition: transform 0.75s $ease-out-expo;

      width: calc(100% - #{fluid(40, $lg)});
      margin-left: auto;

      &::placeholder {
        color: #aab6b6;
      }
    }

    &:focus-within {
      svg {
        transform: translate3d(0, -50%, 0);
      }

      input {
        transform: translateX(#{fluid(-32, $lg)});

        &::placeholder {
          color: $darkblue;
        }
      }
    }

    input:not(:placeholder-shown) {
      transform: translateX(#{fluid(-32, $lg)});

      ~svg {
        transform: translate3d(0, -50%, 0);
      }
    }
  }

  .rarr-wrapper {
    display: grid;
    place-items: center;
    padding: fluid(9, $sm) fluid(15, $sm);
    border: 1px solid #022d42;
    border-radius: fluid(8, $sm);
    transition: background-color 0.4s;
    background-color: $darkblue;

    svg {
      width: fluid(13, $sm);
      height: fluid(8, $sm);
      display: block;
      transition: transform 1s $ease-out-expo;

      path {
        fill: white;
        transition: fill 0.4s;
      }

      &:nth-of-type(2) {
        transform: translateX(-100%);
        top: 0;
        left: fluid(-16, $sm);
      }
    }

    @include md {
      padding: fluid(9, $lg) fluid(15, $lg);
      border: 1px solid #022d42;
      border-radius: fluid(8, $lg);
      background-color: transparent;

      svg {
        width: fluid(13, $lg);
        height: fluid(8, $lg);

        path {
          fill: $darkblue;
        }
      }
    }
  }

  .filter-category {
    font-weight: 500;
    font-size: fluid(12, $lg);
    line-height: 130%;
    letter-spacing: 0.05em;
    padding: 1px fluid(8, $lg);
    border-radius: fluid(8, $lg);
    height: fluid(25, $lg);
    display: grid;
    place-items: center;
    transition: background 0.4s, color 0.4s;
    color: #aab6b6;

    &:hover {
      background: #dadaca;
      color: $darkblue;
    }

    &.active {
      background-color: $darkblue;
      pointer-events: none;
      color: white;
    }
  }

  #blog-featured {
    opacity: 0;

    @include md {
      width: fluid(885, $lg);
      margin-right: fluid(35, $lg);
    }

    .article-card {
      border-bottom: none;

      @include md {
        width: 100%;
        padding: 0;
        border-right: 0;
      }

      .article-details {
        flex-direction: column-reverse;

        @include md {
          flex-direction: row;
        }
      }

      .article-card--highlight {
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.05em;
        background: #dadaca;
        font-size: fluid(12, $sm);
        border-radius: fluid(8, $sm);
        padding: fluid(4, $sm) fluid(8, $sm) fluid(2, $sm);
        height: -moz-fit-content;
        height: fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-bottom: fluid(24, $sm);
        transition: color 0.4s $ease-out-expo,
          background-color 0.4s $ease-out-expo;

        @include md {
          font-size: fluid(12, $lg);
          border-radius: fluid(8, $lg);
          padding: fluid(4, $lg) fluid(8, $lg) fluid(2, $lg);
          margin-bottom: 0;
        }
      }

      &--link {
        display: block;
      }

      &--thumbnail-featured {
        width: 100%;
        aspect-ratio: 335 / 197;
        margin-bottom: fluid(20, $sm);

        @include md {
          aspect-ratio: 885 / 480;
          margin-bottom: fluid(32, $lg);
        }
      }

      &--tag {
        margin-bottom: fluid(24, $sm);

        @include md {
          margin-bottom: fluid(24, $lg);
          margin-top: fluid(3, $lg);
        }
      }

      &--title {
        font-size: fluid(36, $sm);
        margin-bottom: fluid(16, $sm);

        @include md {
          font-size: fluid(50, $lg);
          margin-bottom: fluid(28, $lg);
        }
      }

      &--desc {
        font-size: fluid(16, $sm);
        margin-bottom: fluid(40, $sm);

        @include md {
          font-size: fluid(18, $lg);
          margin-bottom: fluid(40, $lg);
        }
      }

      &--cta {
        font-size: fluid(16, $sm);
        gap: fluid(12, $sm);

        @include md {
          font-size: fluid(16, $lg);
          gap: fluid(12, $lg);
        }
      }
    }
  }

  .article-card {
    position: relative;
    border-bottom: 1px solid $darkblue;
    margin-bottom: fluid(28, $sm);
    opacity: 0;

    @include md {
      width: fluid(400 + 35 + 35, $lg);
      padding: 0 fluid(35, $lg);
      border-right: 1px solid $darkblue;
      border-bottom: none;
      margin-bottom: 0;
    }

    @include md {
      &::after {
        content: "";
        position: absolute;
      }
    }

    img {
      transition: transform 2s $ease-out-expo;
    }

    &--hori {
      gap: fluid(55, $lg);
      width: fluid(885, $lg);
      padding: 0;
      padding-bottom: fluid(40, $lg);
      border-bottom: 1px solid $darkblue;

      @include md {
        gap: fluid(55, $lg);
        width: fluid(885, $lg);
        padding: 0;
        padding-bottom: fluid(40, $lg);
        border-bottom: 1px solid $darkblue;

        .article-card--thumbnail {
          min-width: fluid(400, $lg);
          width: fluid(400, $lg);
          height: fluid(400, $lg);
        }
      }
    }

    &--vert {
      height: 100%;

      .article-card--thumbnail {
        margin-bottom: fluid(40, $sm);
      }

      .article-card--desc {
        margin-bottom: fluid(64, $sm);
      }

      @include md {
        .article-card--thumbnail {
          margin-bottom: fluid(40, $lg);
          width: fluid(400, $lg);
          min-height: fluid(400, $lg);
          height: fluid(400, $lg);
        }

        .article-card--desc {
          margin-bottom: fluid(86, $lg);
        }
      }
    }

    &--link {
      display: block;

      @include md {
        min-height: 100%;
        height: 100%;
      }
    }

    &--thumbnail {
      aspect-ratio: 1 / 1;
    }

    &--tag {
      font-size: fluid(12, $sm);
      margin-bottom: fluid(28, $sm);
      padding-left: fluid(15 + 7, $sm);
      padding-bottom: 1px;

      @include md {
        font-size: fluid(12, $lg);
        margin-bottom: fluid(28, $lg);
        padding-left: fluid(15 + 7, $lg);
      }
    }

    &--title {
      font-size: fluid(28, $sm);
      margin-bottom: fluid(16, $sm);
      line-height: 110%;
      letter-spacing: -0.02em;

      @include md {
        font-size: fluid(35, $lg);
        margin-bottom: fluid(16, $lg);
      }
    }

    &--desc {
      font-size: fluid(16, $sm);
      line-height: 140%;

      @include md {
        font-size: fluid(16, $lg);
      }
    }

    &--cta {
      font-weight: 700;
      font-size: fluid(16, $sm);
      line-height: 110%;
      letter-spacing: 0.01em;
      gap: fluid(12, $sm);
      margin-top: auto;
      margin-bottom: fluid(44, $sm);

      @include md {
        gap: fluid(12, $lg);
        font-size: fluid(16, $lg);
        margin-bottom: 0;
      }
    }

    &:hover {
      img {
        transform: scale(1.05);
      }

      .rarr-wrapper {
        background: $darkblue;

        path {
          fill: white;
        }
      }

      svg {
        &:nth-of-type(1) {
          transform: translateX(calc(100% + #{fluid(3, $sm)}));
        }

        &:nth-of-type(2) {
          transform: translateX(#{fluid(16, $sm)});
        }
      }

      .article-card--highlight {
        background-color: $darkblue !important;
        color: white;
      }
    }
  }

  #blog-categories {
    opacity: 0;
  }

  #blog-category--list {
    width: fluid(885 + 35, $lg);
    padding-left: fluid(35, $lg);
    border-left: 1px solid #022d42;
    gap: fluid(40, $lg);

    li:last-of-type {
      .article-card {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  #blog-two {
    border-top: 1px solid #022d42;

    @include md {
      flex-direction: row;
    }

    .article-content {
      height: inherit;
    }
  }

  #blog-filters--extended {
    border-bottom: 1px solid #022d42;
    margin-bottom: fluid(28, $sm);
    height: fit-content;

    position: sticky;
    top: fluid(0, $sm);
    z-index: 9;
    background-color: #ecece2;
    transition: top 1s $ease-out-expo;

    @include md {
      border-bottom: none;
      width: fluid(430, $lg);
      margin-right: fluid(40, $lg);

      position: unset;
      z-index: 1;
      transition: none;
    }
  }

  #filters-extended {
    padding: fluid(28, $sm) 0;
    gap: fluid(10, $sm);
    overflow: auto;

    background-color: #ecece2;
    margin-left: fluid(20 + 32, $sm);
    padding-left: fluid(20, $sm);

    &::before {
      content: "";
      position: absolute;
      left: fluid(20 + 32, $sm);
      top: fluid(24, $sm);
      opacity: 0.1;
      border: 1px solid #022d42;
      width: 1px;
      height: fluid(32, $sm);
    }

    @include md {
      border-bottom: 1px solid $darkblue;
      padding: fluid(35 - 6.5, $lg) 0;
      gap: fluid(29, $lg);
      overflow: hidden;
      overflow: clip;

      height: fluid(80, $lg);
      margin-left: 0;
      flex-wrap: wrap;

      &::before {
        content: none;
      }
    }

    &.active {
      height: auto;
      overflow: auto;
    }
  }

  #filters-extended--btn {
    display: none;

    @include md {
      border-radius: fluid(9, $lg);
      width: fluid(25, $lg);
      height: fluid(25, $lg);
      top: fluid(25, $lg);
      display: unset;

      svg {
        width: fluid(12, $lg);
        height: fluid(9, $lg);
      }
    }
  }

  .filter-tag {
    font-weight: 700;
    line-height: 130%;
    font-size: fluid(12, $sm);
    padding: fluid(3, $sm) fluid(8, $sm) fluid(4, $sm);
    border-radius: fluid(8, $sm);
    color: #aab6b6;
    cursor: pointer;
    transition: color 0.4s $ease-out-expo, background-color 0.4s $ease-out-expo;
    height: -moz-fit-content;
    height: fit-content;
    white-space: nowrap;

    @include md {
      font-size: fluid(12, $lg);
      padding: fluid(5, $lg) fluid(8, $lg) fluid(5, $lg);
      border-radius: fluid(8, $lg);
    }

    &:hover {
      color: $darkblue;
      background-color: $darkbeige;
    }

    &.active {
      background-color: $darkblue;
      color: #fff;
      pointer-events: none;
    }
  }

  #search-extended {
    position: absolute;
    z-index: -1;

    width: 100%;
    margin-top: fluid(26, $sm);
    padding-bottom: fluid(28, $sm);
    transition: border-bottom 0.4s $ease-out-expo;
    background-color: #ecece2;

    svg {
      width: fluid(32, $sm);
      height: fluid(32, $sm);
      top: 0;
    }

    input {
      padding: 0;
      padding-top: fluid(2, $sm);
      font-weight: 500;
      font-size: fluid(18, $sm);
      line-height: 130%;
      letter-spacing: 0.01em;
      margin-left: fluid(32, $sm);
      padding-left: fluid(20 + 20, $sm);

      &::placeholder {
        transition: color 0.4s $ease-out-expo;
        color: #aab6b6;
      }

      &:focus-within {
        &::placeholder {
          color: $darkblue;
        }
      }
    }

    &:focus-within {
      border-bottom: 1px solid $darkblue;
    }

    @include md {
      margin-top: fluid(30, $lg);
      padding-bottom: fluid(29, $lg);
      border-bottom: 1px solid $darkblue;
      position: relative;

      svg {
        width: fluid(22, $lg);
        height: fluid(22, $lg);
      }

      input {
        padding: 0;
        padding-top: fluid(2, $lg);
        font-weight: 500;
        font-size: fluid(14, $lg);
        line-height: 130%;
        letter-spacing: 0.01em;
        margin-left: fluid(32, $lg);

        &::placeholder {
          color: #aab6b6;
        }
      }
    }
  }

  .blog-article--item {
    @include md {
      min-height: 100%;
      height: 100%;
    }
  }

  #blog-article--list {
    padding-top: fluid(28, $sm);

    @include md {
      width: fluid(430 * 3 + 40 * 2, $lg);
      margin-left: auto;
      padding: 0 fluid(15, $lg);
      padding-top: fluid(40, $lg);
      margin-bottom: fluid(40, $lg);

      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);

      li {

        &:nth-of-type(4n),
        &:first-of-type {
          .article-card {
            width: fluid(400 + 35, $lg);
            padding-left: 0;

            &::after {
              left: fluid(0, $lg);
            }
          }
        }

        &:nth-of-type(3n + 0) {
          .article-card {
            width: fluid(400 + 35, $lg);
            padding-right: 0;
            border-right: none;

            &::after {
              right: fluid(0, $lg);
            }
          }
        }

        &:nth-child(1n + 4) {
          .article-card {
            padding-top: fluid(40, $lg);
            padding-bottom: 0;
            top: -1px;

            &::after {
              content: none;
            }
          }
        }
      }
    }

    .article-card {
      @include md {
        border-bottom: none;
        border-right: 1px solid $darkblue;
        padding: 0 fluid(35, $lg);
        padding-bottom: fluid(40, $lg);
        width: fluid(400 + 35 + 35, $lg);
        min-height: fluid(777 + 40, $lg);
      }

      &::after {
        bottom: 0;
        left: fluid(35, $lg);
        right: fluid(35, $lg);
        height: 0.5px;
        background: $darkblue;
      }
    }

    .article-card--tag {
      font-size: fluid(12, $sm);

      @include md {
        font-size: fluid(12, $lg);
      }
    }
  }

  #pagination {
    border-bottom: 1px solid #022d42;

    font-weight: 700;
    font-size: fluid(15, $sm);
    line-height: 130%;
    letter-spacing: 0.01em;
    margin-bottom: fluid(40, $sm);

    position: relative;
    top: fluid(-10, $sm);

    @include md {
      margin-bottom: fluid(160, $lg);
      font-size: fluid(15, $lg);
      border-top: 1px solid #022d42;
    }
  }

  .pagination-item {
    padding: 0 fluid(24, $sm) fluid(18, $sm);
    position: relative;
    cursor: pointer;
    color: #aab6b6;
    transition: color 0.4s;

    @include md {
      padding: fluid(30, $lg) fluid(55, $lg);
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: fluid(20, $sm);
      width: 1px;
      background-color: #aab6b6;
      transform: translateY(-90%);

      @include md {
        height: fluid(11, $lg);
      }
    }

    &:last-of-type {
      &::before {
        content: none;
      }
    }

    &:hover {
      color: $darkblue;
    }

    &.active {
      color: #022d42;
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        height: fluid(3, $sm);
        width: fluid(30, $sm);
        background: $darkblue;
        transform: translateX(-50%);

        @include md {
          height: fluid(3, $lg);
          width: fluid(30, $lg);
        }
      }
    }
  }

  .page-arr {
    padding: 0 0 fluid(18, $sm) 0;
    cursor: pointer;

    @include md {
      padding: fluid(30, $lg) 0;
    }

    &.inactive {
      pointer-events: none;
      opacity: 0.35;
    }
  }

  #pagination-before {
    padding-right: fluid(30, $sm);

    @include md {
      padding-right: fluid(30, $lg);
    }
  }

  #pagination-after {
    padding-left: fluid(30, $sm);

    @include md {
      padding-left: fluid(30, $lg);
    }
  }

  // no results

  #no-results {
    background-color: #ecece2;
    text-align: center;
    transition: opacity 0.4s;
    opacity: 0;
    pointer-events: none;
    margin-bottom: fluid(40, $sm);

    @include md {
      margin-bottom: fluid(40, $lg);
    }

    picture {
      width: fluid(325, $sm);
      height: fluid(325, $sm);

      @include md {
        width: fluid(466, $lg);
        height: fluid(466, $lg);
      }
    }

    .no-results--title {
      font-size: fluid(36, $sm);
      margin-bottom: fluid(12, $sm);
      line-height: 100%;
      letter-spacing: -0.02em;

      @include md {
        font-size: fluid(50, $lg);
        margin-bottom: fluid(12, $lg);
      }
    }

    p {
      width: fluid(325, $sm);
      font-size: fluid(18, $sm);
      line-height: 140%;

      @include md {
        width: fluid(441, $lg);
        font-size: fluid(22, $lg);
      }
    }
  }
}

.has-nav #blog #blog-filters--extended {
  top: fluid(71, $sm);
  transition: top 2s $ease-out-expo;
}