#careers {
  #hero-title {
    padding-bottom: fluid(4, $lg);
  }

  #why-join {
    padding-bottom: fluid(120, $sm);
    margin-bottom: fluid(42, $sm);
    border-bottom: 1px solid $darkblue;

    @include md {
      padding-bottom: fluid(160, $lg);
      margin-bottom: fluid(125, $lg);
    }
  }

  #meet {
    padding-left: fluid(20, $sm);
    padding-bottom: fluid(120, $sm);

    @include md {
      padding-left: fluid(40, $lg);
      padding-bottom: fluid(160, $lg);
      flex-direction: column;
    }
  }

  #meet-slider {
    width: fluid($sm - 20, $sm);
    touch-action: none;

    @include md {
      width: fluid(1410, $lg);
      margin-left: auto;
    }
  }

  .carousel-container {
    overflow: hidden;
    cursor: grab;

    &.active {
      cursor: grabbing;
    }

    &:hover {
      #meet-slider--handle {
        opacity: 1;
      }
    }
  }

  .carousel-slider {
    overflow: hidden;
    min-width: fit-content;
    display: flex;

    // space to leave after slider ends
    padding-right: fluid(20, $sm);
    gap: fluid(20, $sm);
    height: fluid(300, $sm);

    @include md {
      padding-right: fluid(40, $lg);
      gap: fluid(40, $lg);
      height: fluid(900, $lg);
    }
  }

  #meet-slider--handle {
    user-select: none;
    touch-action: none;

    opacity: 0;
    transition: opacity 0.5s $ease-out-expo;
  }

  .carousel-slide {
    min-width: fluid(450, $sm);

    @include md {
      min-width: fluid(1349, $lg);
    }
  }

  .carousel-slide--stack {
    min-width: fluid(215, $sm);
    gap: fluid(20, $sm);

    @include md {
      min-width: fluid(645, $lg);
      gap: fluid(40, $lg);
    }
  }

  #quotes {
    border-top: 1px solid $darkblue;
    padding-top: fluid(42, $sm);

    @include md {
      flex-direction: row;
    }

    @include md {
      padding-top: fluid(125, $lg);
      padding-bottom: fluid(160, $lg);
      margin-bottom: fluid(70, $lg);
      border-bottom: 1px solid $darkblue;
    }
  }

  #quotes-list {
    @include md {
      width: fluid(430 * 3 + 40 * 2, $lg);
      margin-left: auto;
    }
  }

  .quote {
    align-items: center;
    margin-bottom: fluid(120, $sm);

    @include md {
      flex-direction: row;
      align-items: unset;
      margin-bottom: 0;

      &.active {
        .quote-apo {
          opacity: 1;
        }
      }
    }
  }

  .quote-sno {
    font-weight: bold;
    font-size: fluid(14, $sm);
    line-height: 110%;
    letter-spacing: 0.07em;

    @include md {
      font-size: fluid(14, $lg);
    }
  }

  .quote-picture {
    width: fluid(335, $sm);
    height: fluid(335, $sm);
    border-radius: 50%;
    margin-bottom: fluid(40, $sm);

    @include md {
      width: fluid(400, $lg);
      height: fluid(400, $lg);
      margin-bottom: 0;
    }
  }

  .quote-content {
    @include md {
      margin-left: fluid(70, $lg);
    }
  }

  .quote-cite {
    font-style: normal;
  }

  .quote-apo {
    width: fluid(77, $sm);
    height: fluid(77, $sm);
    right: 0;

    background: #022d42;
    border-radius: 50%;
    z-index: 2;

    svg {
      width: fluid(25, $sm);
      height: fluid(22, $sm);
    }

    @include md {
      width: fluid(77, $lg);
      height: fluid(77, $lg);
      left: fluid(319, $lg);
      right: unset;
      opacity: 0;
      transition: opacity 0.8s;

      svg {
        width: fluid(25, $lg);
        height: fluid(22, $lg);
      }
    }
  }

  .quote-item {
    font-size: fluid(40, $sm);
    line-height: 105%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(40, $sm);

    @include md {
      font-size: fluid(68, $lg);
      width: fluid(900, $lg);
      margin-bottom: fluid(52, $lg);
    }
  }

  .quote-name {
    font-weight: 500;
    font-size: fluid(24, $sm);
    line-height: 100%;
    letter-spacing: 0.01em;
    margin-bottom: fluid(12, $sm);

    @include md {
      font-size: fluid(30, $lg);
      margin-bottom: fluid(12, $lg);
    }
  }

  .quote-role {
    font-weight: 500;
    font-size: fluid(13, $sm);
    line-height: 110%;
    letter-spacing: 0.05em;
    opacity: 0.4;

    @include md {
      font-size: fluid(15, $lg);
    }
  }

  #position {
    @include md {
      flex-direction: row;
    }
  }

  #position-tag--wrapper {
    padding-bottom: fluid(40, $sm);
    margin-bottom: fluid(40, $sm);
    border-bottom: 1px solid #022d42;

    .tag {
      margin-bottom: 0;
    }

    @include md {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  #position-content {
    @include md {
      width: fluid(1370, $lg);
      margin-left: auto;
    }
  }

  #position-list {
    margin-bottom: fluid(120 - 51, $lg);

    @include md {
      margin-bottom: fluid(120 - 51, $lg);
    }
  }

  .position-item {
    border-bottom: 1px solid $darkblue;

    padding-bottom: fluid(40, $sm);
    margin-bottom: fluid(40, $sm);

    @include md {
      flex-direction: row;
      align-items: center;
      padding-bottom: fluid(60, $lg);
      margin-bottom: fluid(51, $lg);
    }
  }

  .cta-btn {
    background: $darkbeige;
    white-space: nowrap;

    .btn-inner::after {
      color: $darkbeige;
    }

    &:hover {
      background: $darkblue;
    }
  }

  .position-role {
    font-weight: 500;
    font-size: fluid(36, $sm);
    line-height: 130%;
    letter-spacing: 0.01em;
    margin-bottom: fluid(32, $sm);

    @include md {
      margin-bottom: 0;
      font-size: fluid(30, $lg);
    }
  }

  .position-location,
  .position-level {
    line-height: 140%;
    border-left: 1px solid $darkbeige;
    padding-left: fluid(24, $sm);
    font-size: fluid(16, $sm);
    margin-bottom: fluid(24, $sm);

    @include md {
      margin-bottom: 0;
      padding-left: fluid(24, $lg);
      font-size: fluid(18, $lg);
    }
  }

  .position-level {
    margin-bottom: fluid(32, $sm);

    @include md {
      margin-bottom: 0;
    }
  }

  #not-found {
    margin-bottom: fluid(220, $sm);

    .cta-btn {
      width: 100%;
    }

    @include md {
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: fluid(220, $lg);

      .cta-btn {
        width: fit-content;
      }
    }
  }

  #not-found--title {
    font-weight: 500;
    font-size: fluid(40, $sm);
    width: fluid(445, $sm);
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(20, $sm);

    @include md {
      font-weight: 400;
      margin-bottom: 0;
      font-size: fluid(68, $lg);
      width: fluid(445, $lg);
    }
  }

  #not-found--desc {
    font-size: fluid(16, $sm);
    line-height: 140%;
    margin-bottom: fluid(40, $sm);

    @include md {
      margin-bottom: 0;
      font-size: fluid(18, $lg);
      width: fluid(499, $lg);
    }
  }
}
