#career-inner {
  #hero-title {
    padding-bottom: fluid(4, $lg);
  }

  header {
    margin-bottom: fluid(137 - 26, $lg);
  }

  .restrict-xtra {
    width: fluid(335, $sm);
    margin-left: fluid(20, $sm);

    @include md {
      width: fluid(430 * 3 + 80, $lg);
      margin-left: fluid(510, $lg);
    }
  }

  #details,
  #offer,
  #about-pos {
    margin-bottom: fluid(100, $sm);

    @include md {
      margin-bottom: fluid(160, $lg);
    }
  }

  #details-inner {
    @include md {
      flex-direction: row;
      align-items: center;
    }
  }

  .detail-item {
    &:first-of-type {
      @include md {
        min-width: fluid(450, $lg);
      }
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $darkblue;
      margin-bottom: fluid(40, $sm);
      padding-bottom: fluid(40, $sm);

      @include md {
        border-right: 1px solid $darkblue;
        margin-right: fluid(40, $lg);
        width: fluid(430, $lg);
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .detail-value {
    font-size: fluid(28, $sm);
    margin-bottom: fluid(4, $sm);
    line-height: 110%;
    letter-spacing: 0.01em;

    @include md {
      font-size: fluid(35, $lg);
      margin-bottom: fluid(8, $lg);
    }
  }

  .chip {
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.01em;

    background: #dadaca;
    width: fit-content;
    height: fit-content;

    font-size: fluid(14, $sm);
    padding: fluid(3, $sm) fluid(8, $sm) fluid(2, $sm);
    border-radius: fluid(8, $sm);

    @include md {
      font-size: fluid(16, $lg);
      padding: fluid(3, $lg) fluid(8, $lg) fluid(2, $lg);
      border-radius: fluid(8, $lg);
    }
  }

  .mb-md {
    margin-bottom: fluid(100, $sm);

    @include md {
      margin-bottom: fluid(120, $lg);
    }
  }

  .section-title {
    font-size: fluid(36, $sm);
    margin-bottom: fluid(40, $sm);

    line-height: 110%;
    letter-spacing: -0.02em;

    @include md {
      line-height: 130%;
      font-size: fluid(50, $lg);
      margin-bottom: fluid(41, $lg);
    }
  }

  .section-list {
    list-style-type: disc;
    gap: fluid(20, $sm);
    padding-left: fluid(24, $sm);

    @include md {
      gap: fluid(25, $lg);
      padding-left: fluid(30, $lg);
      width: fluid(900, $lg);
    }
  }

  .section-list--item {
    font-size: fluid(16, $sm);
    line-height: 140%;
    letter-spacing: 0.04em;

    @include md {
      line-height: 140%;
      font-size: fluid(18, $lg);
    }
  }

  #apply {
    padding-top: fluid(42, $sm);
    padding-bottom: fluid(42, $sm);

    border-top: 1px solid #aab6b6;
    border-bottom: 1px solid $darkblue;

    margin-bottom: fluid(174, $sm);

    @include md {
      contain: content;
      flex-direction: row;

      padding-top: fluid(125, $lg);
      padding-bottom: 0;

      border-bottom: none;
      border-top: 1px solid #aab6b6;

      margin-bottom: fluid(120, $lg);
    }
  }

  .form-wrapper {
    @include md {
      width: fluid(430 * 3 + 80 + 40, $lg);
      margin-left: auto;
    }
  }

  .cta-btn {
    background: $darkblue;
    white-space: nowrap;
    color: #fff;

    .btn-inner::after {
      color: $darkblue;
    }

    &:hover {
      background: $darkbeige;
    }
  }

  #cv-form {
    @include md {
      padding-left: fluid(40, $lg);
      border-left: 1px solid #aab6b6;
    }
  }

  #cv-submit {
    width: 100%;
  }

  #cv-message {
    width: fluid(830, $lg);
    height: fluid(430, $lg);
  }

  #see-more {
    top: calc(100% + #{fluid(28, $sm)});
    width: fluid(335, $sm);
    height: fit-content;
    align-items: baseline;

    @include md {
      top: unset;
      width: auto;
      display: block;
    }
  }

  #see-more--title {
    font-size: fluid(16, $sm);
    line-height: 110%;
    letter-spacing: 0.01em;
    margin-bottom: fluid(10, $sm);
    font-weight: 500;

    @include md {
      margin-bottom: fluid(10, $lg);
      font-size: fluid(22, $lg);
    }
  }

  .form-status {
    inset: fluid(80, $lg) 0 0 fluid(40, $lg);
    // opacity: 1;

    &.active {
      transition: opacity 0.75s $ease-out-expo;
      opacity: 1;
      pointer-events: all;
    }
  }
}
