#contact {
  #hero-title {
    padding-bottom: fluid(4, $lg);
  }

  #form {
    padding-bottom: fluid(40, $sm);
    margin-bottom: fluid(40, $sm);
    flex-direction: column-reverse;

    @include md {
      flex-direction: row;
      padding-bottom: fluid(69, $lg);
      margin-bottom: fluid(125, $lg);
    }
  }

  #prefer-mail {
    @include md {
      width: fluid(430, $lg);
      margin-bottom: 0;
    }
  }

  #prefer-mail--title {
    font-size: fluid(16, $sm);
    margin-bottom: fluid(32, $sm);
    line-height: 140%;

    @include md {
      width: fluid(297, $lg);
      font-size: fluid(22, $lg);
      margin-bottom: 0;
    }
  }

  #contact-list {
    @include md {
      // margin-top: 100%;
    }
  }

  .contact-title {
    font-size: fluid(14, $sm);
    margin-bottom: fluid(5, $sm);

    font-weight: bold;
    line-height: 110%;
    letter-spacing: 0.05em;

    @include md {
      font-size: fluid(16, $lg);
      margin-bottom: fluid(5, $lg);
    }
  }

  .contact-item:not(:last-of-type) {
    margin-bottom: fluid(32 - 5, $sm);

    @include md {
      margin-bottom: fluid(65 - 14, $lg);
    }
  }

  .contact-item:last-of-type {
    a {
      margin-bottom: 0;
    }
  }

  .contact-link {
    font-size: fluid(18, $sm);
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: fluid(5, $sm);

    @include md {
      font-size: fluid(22, $lg);
      margin-bottom: fluid(14, $lg);
    }
  }

  #form-list {
    margin-bottom: fluid(40, $sm);
    padding-bottom: fluid(40, $sm);
    border-bottom: 1px solid #aab6b6;

    @include md {
      width: fluid(430 * 3 + 40 * 3, $lg);
      border-left: 1px solid #aab6b6;

      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  #dropdown-m--wrapper {
    // margin-bottom: fluid(40, $sm);
    padding-bottom: fluid(40, $sm);

    &.active {
      #dropdown-m {
        opacity: 1;
        pointer-events: all;
        transition: opacity 1s $ease-out-expo 0.1s;

        &--chevron {
          transform: rotate(180deg);
        }
      }

      .dropdown-bg {
        transform: scaleY(1);
      }
    }
  }

  #dropdown-m {
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.5s $ease-out-expo;

    &--chevron {
      width: fluid(16, $sm);
      height: fluid(16, $sm);

      top: fluid(6, $sm);
      right: fluid(10, $sm);

      transition: transform 0.75s $ease-out-expo;
    }
  }

  .dropdown-bg {
    background: #ecece2;
    height: fluid(320, $sm);
    transform: scaleY(0);

    transition: transform 0.75s $ease-out-expo;
    transform-origin: 0 0;
  }

  .dropdown-m--item,
  #dropdown-m--active {
    font-weight: 400;
    font-size: fluid(36, $sm);
    line-height: 110%;
    letter-spacing: -0.02em;
  }

  #dropdown-m--active {
    padding-bottom: fluid(40, $sm);
    border-bottom: 1px solid #aab6b6;
  }

  .dropdown-m--item {
    padding: fluid(40, $sm) 0;
    width: fluid(335, $sm);
    border-bottom: 1px solid #aab6b6;
  }

  #general-form--wrapper {
    .form-toggle {
      top: 0;
    }

    .form-status {
      inset: fluid(65, $sm) 0 0 0;
    }

    @include md {
      .form-status {
        inset: fluid(65, $lg) 0 fluid(40, $lg) fluid(40, $lg);
      }
    }
  }

  #general-form {
    padding-top: 0;

    .form-title {
      padding-top: 0;
    }
  }

  #general-message {
    width: 100%;
    @include md {
      width: fluid(830, $lg);
      height: fluid(208, $lg);
    }
  }

  #cv-message,
  #sample-message {
    @include md {
      width: fluid(830, $lg);
      min-height: fluid(430, $lg);
    }
  }

  #general-submit,
  #cv-submit,
  #sample-submit {
    width: 100%;
  }

  #location {
    margin-bottom: fluid(293, $sm);

    @include md {
      margin-bottom: fluid(183, $lg);
      flex-direction: row;
    }
  }

  #map {
    width: fluid(335, $sm);
    height: fluid(454, $sm);

    @include md {
      width: fluid(430 * 3 + 40 * 2, $lg);
      height: fluid(600, $lg);
      margin-left: auto;
    }
  }

  #map-overlay {
    background-color: #fff;

    bottom: fluid(14, $sm);
    left: fluid(14, $sm);
    padding: fluid(28, $sm);

    @include md {
      bottom: fluid(60, $lg);
      left: fluid(60, $lg);
      padding: fluid(50, $lg);
    }
  }

  #map-overlay--text {
    width: fluid(251, $sm);
    font-size: fluid(28, $sm);
    margin-bottom: fluid(20, $sm);

    line-height: 110%;
    letter-spacing: 0.01em;

    @include md {
      width: fluid(478, $lg);
      font-size: fluid(35, $lg);
      margin-bottom: fluid(32, $lg);
    }
  }

  .mb-extra {
    margin-bottom: fluid(7, $sm);

    @include md {
      margin-bottom: fluid(10, $lg);
    }
  }

  .cta-btn {
    background: $darkblue;
    white-space: nowrap;
    color: #fff;
    width: 100%;

    .btn-inner::after {
      color: $darkblue;
    }

    &:hover {
      background: $green;
    }

    @include md {
      width: -moz-fit-content;
      width: fit-content;
    }
  }

  #social-links {
    top: calc(100% + #{fluid(60, $sm)});

    @include md {
      contain: content;
      top: unset;
    }
  }

  .info-icon {
    width: fluid(24, $sm);
    height: fluid(24, $sm);

    margin-right: fluid(7, $sm);

    position: relative;
    top: fluid(4, $sm);

    @include md {
      width: fluid(24, $lg);
      height: fluid(24, $lg);
      margin-top: fluid(-2, $lg);
      margin-right: fluid(7, $lg);
      top: fluid(4.25, $lg);
    }
  }
}

#form-underlay {
  background-color: $darkblue;
  opacity: 0;
  inset: 0px;
  transition: opacity 0.2s;
  pointer-events: none;

  &.active {
    opacity: 0.2;
    pointer-events: all;
  }
}
