@use "sass:math";

$enhanced-time: 1.33s;
$enhanced-ease: cubic-bezier(0.71, 0, 0, 1);

#home {

  #plastic-problem,
  #solution-text {
    padding-bottom: fluid(125, $lg);
  }

  #hero-title {
    font-size: fluid(58, $sm);

    @include md {
      font-size: fluid(128, $lg);
    }
  }

  #oil {
    margin-bottom: fluid(169, $lg);
  }

  #hero-title {
    letter-spacing: -0.05em;
  }

  .stat-section {
    padding-top: fluid(40, $sm);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: fluid(40, $sm);
    padding-bottom: fluid(70, $sm);

    @include md {
      flex-direction: row;
      padding-bottom: fluid(87, $lg);
      gap: fluid(40, $lg);
      padding-top: fluid(133, $lg);
      contain: content;
    }
  }

  .stat-col {
    .tag {
      margin-bottom: 0;
    }

    @include md {
      width: fluid(430, $lg);
    }
  }

  .stat-col--md {
    @include md {
      width: fluid(2 * 430 + 40, $lg);
      border-right: 1px solid rgba(2, 45, 66, 0.2);
    }
  }

  .stat-title {
    font-weight: 400;
    font-size: fluid(48, $sm);
    margin-bottom: fluid(12, $sm);
    line-height: 0.85;
    letter-spacing: -0.06em;

    @include md {
      font-weight: 300;
      font-size: fluid(120, $lg);
      margin-bottom: fluid(15, $lg);
    }
  }

  #special-line {
    line-height: 1;

    .l-char--wrapper:not(:first-of-type) {
      margin-top: -0.5em;
    }
  }

  .stat-title--tag {
    font-weight: 500;
    font-size: fluid(14, $sm);
    line-height: 2;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    background: $darkbeige;
    border-radius: fluid(8, $sm);
    padding: fluid(3, $sm) fluid(8, $sm) fluid(2, $sm);

    width: -moz-fit-content;
    height: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline;

    @include md {
      font-size: fluid(16, $lg);
      border-radius: fluid(8, $lg);
      padding: fluid(3, $lg) fluid(8, $lg) fluid(2, $lg);
      margin-bottom: fluid(5, $lg);
      line-height: 110%;
    }
  }

  .stat-desc--wrapper {
    display: flex;
    flex-direction: column;

    @include md {
      padding-bottom: fluid(60, $lg);
    }
  }

  .stat-desc--m {
    padding-top: fluid(64, $sm);
    margin-bottom: fluid(13, $sm);
  }

  .safari .stat-desc {
    margin-top: auto;
  }

  .stat-desc--title {
    font-size: fluid(36, $sm);
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(15, $sm);

    @include md {
      margin-bottom: fluid(15, $lg);
      font-size: fluid(50, $lg);
    }
  }

  .stat-desc--content {
    font-size: fluid(16, $sm);
    line-height: 140%;

    @include md {
      font-size: fluid(22, $lg);
    }
  }

  .stat-visual {
    height: fluid(500, $sm);
    width: 100vw;
    left: fluid(-20, $sm);
    position: relative;
    z-index: -1;

    // background-color: #a6b2a3;

    @include md {
      height: fluid(800, $lg);
      width: fluid(1200, $lg);
      margin-left: 0;

      left: fluid(-282, $lg);
      top: fluid(70, $lg);
    }
  }

  #goals-title {
    margin-bottom: fluid(24, $sm);

    @include md {
      margin-bottom: fluid(50, $lg);
    }
  }

  #goals-desc {
    font-size: fluid(34, $sm);
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-left: auto;
    margin-bottom: fluid(80, $sm);

    @include md {
      margin-bottom: fluid(150, $lg);
      width: fluid((430 * 3) + (40 * 2), $lg);
      font-size: fluid(110, $lg);
    }
  }

  #icons {
    margin-bottom: fluid(120, $sm);
    gap: fluid(40, $sm);

    position: relative;

    @include md {
      width: fluid((430 * 3) + (40 * 2), $lg);
      margin-left: auto;

      margin-bottom: fluid(300, $lg);
      gap: fluid(40, $lg);
      left: fluid(20, $lg);

      flex-direction: row;
    }
  }

  .icon-col {
    @include md {
      width: fluid(430, $lg);
      align-items: center;

      &:not(:last-of-type) {
        border-right: 1px solid rgba(2, 45, 66, 0.2);
      }
    }
  }

  .icon-item {
    position: relative;

    &::after {
      content: "";
      border-bottom: 1px solid rgba(2, 45, 66, 0.2);

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:not(.first) {
      padding-top: fluid(60, $sm);
    }

    @include md {
      width: fluid(400, $lg);

      &::after {
        content: "";
        border-bottom: 1px solid rgba(2, 45, 66, 0.2);

        position: absolute;
        bottom: 0;
        left: fluid(-35, $lg);
        right: fluid(5, $lg);
      }

      &:not(.first) {
        padding-top: fluid(100, $lg);
      }
    }
  }

  .icon {
    width: fluid(150, $sm);
    height: fluid(150, $sm);
    margin-bottom: fluid(64, $sm);

    @include md {
      width: fluid(150, $lg);
      height: fluid(150, $lg);
      margin-bottom: fluid(124, $lg);
    }
  }

  .icon-label {
    font-weight: 500;
    font-size: fluid(28, $sm);
    margin-bottom: fluid(60, $sm);
    line-height: 129%;
    letter-spacing: -0.02em;

    @include md {
      font-size: fluid(37, $lg);
      margin-bottom: fluid(90, $lg);
    }
  }

  .prlx-item {
    width: fluid(70, $sm);
    height: fluid(70, $sm);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

    background-size: fluid(70, $sm) fluid(70, $sm);
    clip-path: url("#cutout");

    @include md {
      width: fluid(300, $lg);
      height: fluid(300, $lg);
      background-size: fluid(300, $lg) fluid(300, $lg);
    }
  }

  #prlx-item {
    &--one {
      top: fluid(133, $lg);
      right: fluid(88, $lg);
      background-image: url("/static/home/prlx/1.jpg");
    }

    &--two {
      top: fluid(406, $lg);
      left: fluid(544, $lg);
      background-image: url("/static/home/prlx/2.jpg");
      clip-path: url("#cutout-2");
    }

    &--three {
      top: fluid(1109, $lg);
      left: fluid(234, $lg);
      background-image: url("/static/home/prlx/3.jpg");
    }

    &--four {
      top: fluid(1646, $lg);
      left: fluid(984, $lg);
      background-image: url("/static/home/prlx/4.jpg");
      clip-path: url("#cutout-2");
    }
  }

  #enhanced {
    // margin-top: 300px;
    margin-bottom: fluid(159, $lg);

    @include md {
      flex-direction: row;
    }
  }

  #enhanced-slides--wrapper,
  #summary-slides--wrapper {
    width: fluid(430 * 3 + 40 * 2, $lg);
    margin-left: auto;
  }

  #enhanced-slides {
    min-width: -moz-fit-content;
    min-width: fit-content;

    // summary-mode
    &.summary {
      .enhanced-slide {

        // inactive slides
        &:not(.active) {
          min-width: fluid(90, $lg);
          width: fluid(90, $lg);
          // cursor: pointer;

          .enhanced-picture {
            transition: transform 1.33s $enhanced-ease;
            transform: scale(math.div(66, 403), math.div(60, 330)) translate3d(#{fluid(-1201, $lg)}, #{fluid(757, $lg)}, 0);
          }

          .enhanced-title {
            opacity: 0;
          }

          .enhanced-sno {
            transform: translateX(#{fluid(6, $lg)});
          }

          .enhanced-title--vert {
            transition: opacity 1.33s $enhanced-ease;
            opacity: 1;
            pointer-events: all;
          }

          // hover over inactive slide while in summary mode
          &:hover {
            background: rgba(218, 218, 202, 0.2);

            .enhanced-sno {
              transform: translate3d(#{fluid(6, $lg)}, #{fluid(17, $lg)}, 0);
            }
          }
        }
      }

      .enhanced-slide--summary.active {
        pointer-events: all;
        opacity: 1;
      }
    }
  }

  .enhanced-slide {
    min-width: fluid(430 * 2 + 40 * 1, $lg);
    width: fluid(430 * 2 + 40 * 1, $lg);
    height: fluid(600, $lg);
    border-left: 1px solid rgba(2, 45, 66, 0.2);
    padding-left: fluid(33, $lg);
    overflow: hidden;
    overflow: clip;

    transition: all 1.33s cubic-bezier(0.71, 0, 0, 1);

    &:not(.active) {
      min-width: fluid(157, $lg);
      width: fluid(157, $lg);
      padding-left: fluid(24, $lg);

      .enhanced-picture {
        transition: transform 1.33s $enhanced-ease;
        transform: scale(math.div(135, 470), math.div(139, 388)) translate3d(#{fluid(-590, $lg)}, #{fluid(360, $lg)}, 0);
      }

      .enhanced-sno {
        font-size: fluid(14, $lg);
        margin-bottom: 0;
      }

      .enhanced-title {
        font-size: fluid(14, $lg);
        font-weight: 700;
      }
    }

    &.summary-slide {
      min-width: fluid(968 + 33, $lg);
      width: fluid(968, $lg);

      .enhanced-picture {
        min-width: fluid(1034, $lg);
        width: fluid(1034, $lg);
        height: fluid(462, $lg);
        position: relative;

        img {
          position: absolute;
          left: fluid(-50, $lg);
          top: 0;
        }
      }
    }
  }

  .enhanced-desc {
    width: fluid(395, $lg);
    max-height: fluid(450, $lg);
    min-height: -moz-fit-content;
    min-height: fit-content;
    font-size: fluid(22, $lg);
    line-height: 150%;
    letter-spacing: 0.01em;

    transition: opacity 0.5s $enhanced-ease 0.5s, transform 1.33s $enhanced-ease;

    >p {
      width: fluid(395, $lg);
    }
  }

  .enhanced-sno {
    font-weight: 800;
    margin-bottom: fluid(2, $lg);
    font-size: fluid(16, $lg);
    line-height: 110%;

    transition: all 1.33s $enhanced-ease;
  }

  .enhanced-title {
    transition: all 1.33s $enhanced-ease;

    font-weight: 400;
    font-size: fluid(50, $lg);
    line-height: 100%;
    letter-spacing: -0.02em;

    >div:nth-child(1) {
      font-weight: 700;
      font-size: fluid(20, $lg);
      line-height: 100%;
      letter-spacing: 0.07em;
      margin-bottom: fluid(4, $lg);
    }

    >div:nth-child(2) {
      font-weight: 400;
      font-size: fluid(50, $lg);
      line-height: 100%;
      letter-spacing: -0.02em;
    }
  }

  .enhanced-picture {
    min-width: fluid(403, $lg);
    width: fluid(470, $lg);
    height: fluid(388, $lg);
    transition: transform 1.33s $enhanced-ease;
  }

  .enhanced-slide--content {
    gap: fluid(17, $lg);
    align-items: flex-end;
  }

  .enhanced-title--vert {
    opacity: 0;
    transition: opacity 0.5s $enhanced-ease;
    pointer-events: none;

    bottom: fluid(155 + 54, $lg);
    left: fluid(33, $lg);

    >div {
      font-weight: bold;
      font-size: fluid(14, $lg);
      line-height: 110%;
      letter-spacing: 0.07em;
      transform: rotate(-90deg);
      transform-origin: 0 -12.5%;
      white-space: nowrap;
    }

    svg {
      width: fluid(20, $lg);
      height: fluid(20, $lg);
      opacity: 0.4;
    }
  }
}

.enhanced-slide--summary {
  background: $green;
  border-radius: fluid(13, $lg);
  padding: fluid(40, $lg) fluid(33, $lg) fluid(47, $lg) fluid(52, $lg);
  bottom: 0;

  z-index: 2;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s $enhanced-ease;

  .enhanced-title {
    margin-bottom: fluid(64, $lg);
    max-width: fluid(433, $lg);
  }

  p {
    width: fluid(450, $lg);
    font-size: fluid(16, $lg) !important;
  }

  &:nth-of-type(1) {
    left: fluid((90) * 1 + 11, $lg);
  }

  &:nth-of-type(2) {
    left: fluid((90) * 2 + 11, $lg);
  }

  &:nth-of-type(3) {
    left: fluid((90) * 3 + 11, $lg);
  }

  &:nth-of-type(4) {
    left: fluid((90) * 4 + 11, $lg);
  }
}

// enhanced mobile

#enhanced-m {
  &--wrapper {
    padding: fluid(30, $sm) 0;
    border: 1px solid rgba(2, 45, 66, 0.1);
    border-left: none;
    border-right: none;

    margin-bottom: fluid(40, $sm);

    .tag {
      margin-bottom: 0;
    }
  }
}

.enhanced-m {
  &--sno {
    font-weight: 700;
    font-size: fluid(12, $sm);
    line-height: 110%;
    letter-spacing: 0.07em;
    margin-bottom: fluid(8, $sm);
  }

  &--title {
    font-size: fluid(28, $sm);
    line-height: 130%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(8, $sm);
  }

  &--visual {
    height: fluid(330, $sm);
    margin-bottom: fluid(22, $sm);
    width: 100vw;
    position: relative;
    left: fluid(-20, $sm);
  }

  &--desc {
    font-size: fluid(16, $sm);
    line-height: 140%;
  }

  &--list-item {
    padding-bottom: fluid(40, $sm);
    margin-bottom: fluid(40, $sm);
    border-bottom: 1px solid rgba(2, 45, 66, 0.1);
  }
}


.summary-m {
  width: fluid($sm - 20, $sm);
  position: relative;

  &:hover {
    #summary-slider--handle {
      opacity: 0;
    }
  }

  .enhanced-m--title {
    font-weight: 400;
    font-size: fluid(28, $sm);
    line-height: 130%;
    letter-spacing: -0.02em;

    div:nth-of-type(1) {
      line-height: 100%;
      font-size: fluid(12, $sm);
    }
  }

  .summary-visual--container {
    overflow-x: auto;
  }

  picture {
    width: fluid(631, $sm);
    height: fluid(301, $sm);
  }

  img {
    object-fit: contain;
  }

  #summary-slider--handle {
    top: fluid(125, $sm);
    left: fluid(149, $sm);
    transition: opacity 0.4s $ease-out-expo;
    pointer-events: none;
  }
}


// common

.underline {
  // text-decoration: underline $green;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: fluid(25, $lg);
    width: 100%;
    height: fluid(15, $lg);
    background: $green;
    z-index: -1;
  }
}

.big-title {
  font-weight: 400;
  font-size: fluid(56, $sm);
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #f6f6ee;

  @include md {
    font-weight: 200;
    line-height: 85%;
    font-size: fluid(300, $lg);
  }
}

.border-bottom {
  border-bottom: 1px solid $darkblue;
}

// .text-underlay {
// position: relative;
// z-index: 0;

// outline: solid 1px black;

// &::after {
//   content: attr(data-content);
//   position: absolute;
//   inset: 0;
//   bottom: 10%;
//   font: inherit;
//   color: $darkblue;
//   z-index: 1;
//   clip-path: inset(0 0 100% 0);
//   transition: clip-path 1s $ease-out-expo;
// }
// }

.text-underlay {
  content: content;
}

.text-underlay--active,
.text-underlay--always {
  color: $darkblue;

  // &::after {
  //   clip-path: inset(0 0 0 0);
  // }
}