@use "sass:math";

#home {
  #plastic-problem,
  #solution-text {
    padding-bottom: fluid(125, $lg);
  }

  .stat-section {
    padding-top: fluid(133, $lg);
    display: flex;
    justify-content: space-between;
    gap: fluid(40, $lg);
    padding-bottom: fluid(87, $lg);
  }

  .stat-col {
    width: fluid(430, $lg);
  }

  .stat-col--md {
    width: fluid(2 * 430 + 40, $lg);
    border-right: 1px solid rgba(2, 45, 66, 0.2);
  }

  // .stat-tag {
  //   font-size: fluid(18, $lg);
  //   line-height: 110%;
  //   letter-spacing: 0.04em;
  //   font-weight: bold;
  //   position: relative;
  //   padding-left: fluid(33, $lg);

  //   &::before {
  //     content: "";
  //     width: fluid(20, $lg);
  //     height: fluid(20, $lg);
  //     border-radius: 50%;
  //     background-color: currentColor;
  //     position: absolute;
  //     left: 0;
  //     top: -2px;
  //   }
  // }

  .stat-title {
    font-weight: 300;
    font-size: fluid(120, $lg);
    line-height: 100%;
    letter-spacing: -0.06em;
    margin-bottom: fluid(25, $lg);
    margin-top: -0.06em;
  }

  .stat-title--tag {
    font-weight: 500;
    font-size: fluid(16, $lg);
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    background: $darkbeige;
    border-radius: fluid(8, $lg);
    padding: fluid(3, $lg) fluid(8, $lg) fluid(2, $lg);

    width: fit-content;
    margin-bottom: fluid(3, $lg);
  }

  .stat-desc--wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: fluid(60, $lg);
  }

  // .stat-desc {
  // margin-top: auto;
  // }

  .stat-desc--title {
    font-size: fluid(50, $lg);
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(15, $lg);
  }

  .stat-desc--content {
    font-size: fluid(22, $lg);
    line-height: 140%;
  }

  .stat-visual {
    height: fluid(729, $lg);
  }

  #goals-title {
    margin-bottom: fluid(50, $lg);
  }

  #goals-desc {
    width: fluid((430 * 3) + (40 * 2), $lg);
    font-size: fluid(110, $lg);
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-left: auto;
    margin-bottom: fluid(150, $lg);
  }

  #icons {
    width: fluid((430 * 3) + (40 * 2), $lg);
    margin-left: auto;
    margin-bottom: fluid(180, $lg);
    gap: fluid(40, $lg);

    position: relative;
    left: fluid(20, $lg);
  }

  .icon-col {
    width: fluid(430, $lg);

    &:not(:last-of-type) {
      border-right: 1px solid rgba(2, 45, 66, 0.2);
    }
  }

  .icon-item {
    width: fluid(400, $lg);
    position: relative;

    &::after {
      content: "";
      border-bottom: 1px solid rgba(2, 45, 66, 0.2);

      position: absolute;
      bottom: 0;
      left: fluid(-35, $lg);
      right: fluid(5, $lg);
    }

    &:not(.first) {
      padding-top: fluid(100, $lg);
    }
  }

  .icon {
    width: fluid(140, $lg);
    height: fluid(140, $lg);
    margin-bottom: fluid(124, $lg);
  }

  .icon-label {
    font-weight: 500;
    font-size: fluid(37, $lg);
    line-height: 129%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(90, $lg);
  }

  .prlx-item {
    width: fluid(300, $lg);
    height: fluid(300, $lg);
    border-radius: 50%;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;

    background-size: fluid(300, $lg) fluid(300, $lg);
    clip-path: url("#cutout");
  }

  #prlx-item {
    &--one {
      top: fluid(133, $lg);
      right: fluid(88, $lg);
      background-image: url("/static/home/prlx/1.jpg");
    }

    &--two {
      top: fluid(406, $lg);
      left: fluid(544, $lg);
      background-image: url("/static/home/prlx/2.jpg");
      clip-path: url("#cutout-2");
    }

    &--three {
      top: fluid(1109, $lg);
      left: fluid(234, $lg);
      background-image: url("/static/home/prlx/3.jpg");
    }

    &--four {
      top: fluid(1646, $lg);
      left: fluid(984, $lg);
      background-image: url("/static/home/prlx/4.jpg");
      clip-path: url("#cutout-2");
    }
  }

  #enhanced {
    // margin-top: 300px;
    margin-bottom: fluid(159, $lg);
  }

  #enhanced-slides--wrapper {
    width: fluid(430 * 3 + 40 * 2, $lg);
    margin-left: auto;
  }

  #enhanced-slides {
    min-width: fit-content;

    // summary-mode
    &.summary {
      .enhanced-slide {
        // inactive slides
        &:not(.active) {
          min-width: fluid(90, $lg);
          width: fluid(90, $lg);

          .enhanced-picture {
            transition: transform 1.25s $ease-out-expo;
            transform: scale(math.div(66, 403), math.div(60, 330))
              translate3d(#{fluid(-1201, $lg)}, #{fluid(757, $lg)}, 0);
          }

          .enhanced-title {
            opacity: 0;
          }

          .enhanced-sno {
            transform: translateX(#{fluid(6, $lg)});
          }

          .enhanced-title--vert {
            transition: opacity 1.25s $ease-out-expo;
            opacity: 1;
            pointer-events: all;
          }

          // hover over inactive slide while in summary mode
          &:hover {
            background: rgba(218, 218, 202, 1);

            .enhanced-sno {
              transform: translate3d(#{fluid(6, $lg)}, #{fluid(17, $lg)}, 0);
            }
          }
        }
      }
    }
  }

  .enhanced-slide {
    min-width: fluid(430 * 2 + 40 * 1, $lg);
    width: fluid(430 * 2 + 40 * 1, $lg);
    height: fluid(600, $lg);
    border-left: 1px solid rgba(2, 45, 66, 0.2);
    padding-left: fluid(33, $lg);
    overflow: hidden;

    transition: all 1.25s $ease-out-expo;

    &:not(.active) {
      min-width: fluid(157, $lg);
      width: fluid(157, $lg);
      padding-left: fluid(24, $lg);

      .enhanced-picture {
        transition: transform 1.25s $ease-out-expo;
        transform: scale(math.div(135, 403), math.div(139, 330))
          translate3d(#{fluid(-490, $lg)}, #{fluid(220, $lg)}, 0);
      }

      .enhanced-sno {
        font-size: fluid(14, $lg);
        margin-bottom: 0;
      }

      .enhanced-title {
        font-size: fluid(14, $lg);
        font-weight: 700;
      }
    }

    &.summary-slide {
      .enhanced-picture {
        min-width: fluid(997, $lg);
        width: fluid(997, $lg);
        height: fluid(478, $lg);
      }
    }
  }

  .enhanced-desc {
    width: fluid(395, $lg);
    max-height: fluid(400, $lg);
    font-size: fluid(22, $lg);
    line-height: 150%;
    letter-spacing: 0.01em;

    transition: opacity 0.5s $ease-out-expo 0.5s, transform 1.25s $ease-out-expo;

    > div {
      width: fluid(395, $lg);
    }
  }

  .enhanced-sno {
    font-weight: 800;
    margin-bottom: fluid(8, $lg);

    transition: opacity 1.25s $ease-out-expo, margin-bottom 1.25s $ease-out-expo,
      font-size 1.25s $ease-out-expo, transform 1.25s $ease-out-expo;
  }

  .enhanced-title {
    font-size: fluid(50, $lg);
    line-height: 130%;
    letter-spacing: -0.02em;
    font-weight: 400;

    transition: opacity 1.25s $ease-out-expo, font-size 1.25s $ease-out-expo;
  }

  .enhanced-picture {
    min-width: fluid(403, $lg);
    width: fluid(403, $lg);
    height: fluid(330, $lg);
    background: $green;
    transition: transform 1.25s $ease-out-expo;
  }

  .enhanced-slide--content {
    gap: fluid(17, $lg);
    align-items: flex-end;
  }

  .enhanced-title--vert {
    opacity: 0;
    transition: opacity 0.5s $ease-out-expo;
    pointer-events: none;

    bottom: fluid(155 + 54, $lg);
    left: fluid(33, $lg);

    > div {
      font-weight: bold;
      font-size: fluid(14, $lg);
      line-height: 110%;
      letter-spacing: 0.07em;
      transform: rotate(-90deg);
      transform-origin: 0 -12.5%;
      white-space: nowrap;
    }

    svg {
      width: fluid(20, $lg);
      height: fluid(20, $lg);
      opacity: 0.4;
    }
  }
}

// common

.underline {
  // text-decoration: underline $green;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: fluid(25, $lg);
    width: 100%;
    height: fluid(15, $lg);
    background: $green;
    z-index: -1;
  }
}

.big-title {
  font-weight: 200;
  font-size: fluid(300, $lg);
  line-height: 85%;
  letter-spacing: -0.05em;
  color: #f6f6ee;
}

.border-bottom {
  border-bottom: 1px solid $darkblue;
}

// .text-underlay {
// position: relative;
// z-index: 0;

// outline: solid 1px black;

// &::after {
//   content: attr(data-content);
//   position: absolute;
//   inset: 0;
//   bottom: 10%;
//   font: inherit;
//   color: $darkblue;
//   z-index: 1;
//   clip-path: inset(0 0 100% 0);
//   transition: clip-path 1s $ease-out-expo;
// }
// }

.text-underlay--active,
.text-underlay--always {
  color: $darkblue;

  // &::after {
  //   clip-path: inset(0 0 0 0);
  // }
}
