#technology {
  #pta,
  #results,
  #granules,
  #films,
  #fibre {
    padding-bottom: fluid(40, $sm);
    margin-bottom: fluid(40, $sm);

    @include md {
      padding-bottom: fluid(125, $lg);
      margin-bottom: fluid(125, $lg);
    }
  }

  #hero-title {
    font-weight: 400;
    letter-spacing: -0.05em;
  }

  #fibre,
  #films,
  #granules {
    @include md {
      flex-direction: row;
    }
  }

  #explain {
    margin-bottom: fluid(213, $lg);
  }

  #explain-visual {
    height: fluid(2600, $lg);
    min-width: fluid(430 * 3 + 40 * 2, $lg);
    border-right: 1px solid rgba(2, 45, 66, 0.2);
  }

  .explain-visual--plus {
    background: #f2ffbd;
    border-radius: fluid(11, $sm);
    width: fluid(70, $sm);
    height: fluid(39, $sm);
    display: grid;
    place-items: center;

    &:nth-of-type(1) {
      top: fluid(106, $sm);
      left: fluid(159 - 30, $sm);
    }

    &:nth-of-type(2) {
      top: fluid(323, $sm);
      left: fluid(107 - 35, $sm);
    }

    &:nth-of-type(3) {
      left: fluid(267 - 35, $sm);
      top: fluid(500, $sm);
    }

    &:nth-of-type(4) {
      left: fluid(5, $sm);
      top: fluid(578, $sm);
    }

    svg {
      width: fluid(24, $sm);
      height: fluid(24, $sm);
    }
  }

  #explain-content {
    padding-left: fluid(40, $lg);
  }

  .explain-item {
    &:nth-of-type(1) {
      margin-bottom: fluid(298, $lg);
    }

    &:nth-of-type(2) {
      padding-top: fluid(100, $lg);
      margin-bottom: fluid(463, $lg);
    }

    &:nth-of-type(3) {
      margin-bottom: fluid(249, $lg);
    }
  }

  .explain-item--title {
    font-size: fluid(50, $lg);
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(15, $lg);
  }

  .explain-item--desc {
    font-size: fluid(22, $lg);
    line-height: 140%;
  }

  #explain-m {
    height: fluid(837, $sm);
  }

  .section-content {
    width: fluid(335, $sm);

    @include md {
      padding-left: fluid(121, $lg);
      width: fluid(430 * 3 + 40 * 2, $lg);
    }
  }

  .section-title {
    font-size: fluid(40, $sm);
    margin-bottom: fluid(15, $sm);
    line-height: 100%;
    letter-spacing: -0.02em;
    font-weight: 500;

    @include md {
      font-weight: 400;
      font-size: fluid(68, $lg);
      margin-bottom: fluid(30, $lg);
    }
  }

  .section-desc {
    font-size: fluid(16, $sm);
    margin-bottom: fluid(40, $sm);
    line-height: 140%;
    margin-left: auto;

    @include md {
      flex-direction: row;
      font-size: fluid(22, $lg);
      margin-bottom: fluid(155, $lg);
    }
  }

  .section-desc--item {
    @include md {
      width: fluid(610, $lg);
    }
  }

  .section-slider {
    width: 100%;
    height: fluid(220, $sm);

    @include md {
      height: fluid(681, $lg);
    }
  }

  #magic-happens {
    margin-bottom: fluid(50 - 40, $sm);
    font-size: fluid(36, $sm);

    @include md {
      margin-bottom: fluid(159 - 40, $lg);
      font-size: fluid(50, $lg);
    }
  }

  #meg-magic {
    margin-bottom: fluid(120, $sm);

    @include md {
      margin-bottom: fluid(106, $lg);
    }
  }

  #magic-visual {
    width: fluid(335, $sm);
    height: fluid(349, $sm);
    margin-bottom: fluid(90, $sm);

    @include md {
      margin-bottom: 0;
      width: fluid(772, $lg);
      height: fluid(680, $lg);
    }
  }

  #magic-inner {
    width: fluid(335, $sm);

    @include md {
      flex-direction: row;
      width: fluid(430 * 3 + 40 * 2, $lg);
      margin-left: auto;
    }
  }

  #magic-content {
    width: fluid(335, $sm);

    @include md {
      width: fluid(430 + 40, $lg);
      height: fluid(831, $lg);
      border-left: fluid(1, $lg) solid rgba(2, 45, 66, 0.2);
      padding-left: fluid(40, $lg);
    }
  }

  #magic-title {
    font-size: fluid(36, $sm);
    margin-bottom: fluid(15, $sm);
    line-height: 110%;
    letter-spacing: -0.02em;

    @include md {
      font-size: fluid(50, $lg);
      width: fluid(352, $lg);
      margin-bottom: fluid(18, $lg);
    }
  }

  #magic-desc {
    font-size: fluid(16, $sm);
    line-height: 140%;

    @include md {
      font-size: fluid(22, $lg);
      width: fluid(395, $lg);
      line-height: 140%;
    }
  }

  #callout {
    padding-top: fluid(96 - 40, $sm);
    margin-bottom: fluid(120, $sm);

    @include md {
      padding-top: fluid(260 - 125, $lg);
      margin-bottom: fluid(260, $lg);
    }
  }

  #callout-content {
    @include md {
      margin-left: fluid(430 + 40, $lg);
    }
  }

  #callout-title {
    line-height: 100%;
    letter-spacing: -0.03em;
    font-size: fluid(60, $sm);
    margin-bottom: fluid(16, $sm);

    @include md {
      font-size: fluid(115, $lg);
      width: fluid(1153, $lg);
      margin-bottom: fluid(30, $lg);
    }
  }

  #callout-desc {
    line-height: 130%;
    letter-spacing: -0.01em;

    font-size: fluid(28, $sm);
    margin-bottom: fluid(76, $sm);

    @include md {
      font-size: fluid(50, $lg);
      width: fluid(990, $lg);
      margin-bottom: fluid(62, $lg);
    }
  }

  #callout-cta {
    width: 100%;

    @include md {
      width: -moz-fit-content;
      width: fit-content;
    }
  }

  #callout-icon {
    width: fluid(70, $sm);
    height: 1rem;
    display: inline-block;

    transform: translate3d(-5%, 25%, 0);
    position: relative;

    svg {
      position: absolute;
      bottom: fluid(-15, $sm);
      left: 0;
      width: fluid(70, $sm);
      height: fluid(70, $sm);
    }

    @include md {
      width: fluid(140, $lg);
      height: 1rem;

      transform: translate3d(-5%, 25%, 0);

      svg {
        bottom: fluid(-30, $lg);
        left: 0;
        width: fluid(140, $lg);
        height: fluid(140, $lg);
      }
    }
  }
}

.border-left {
  @include md {
    border-left: 1px solid $darkblue;
  }
}

.explain-visual--circle {
  width: fluid(84, $sm);
  height: fluid(84, $sm);
  border-radius: 50%;
  background: #f6f6ee;
  display: grid;
  place-items: center;

  &:nth-of-type(2) {
    right: fluid(15, $sm);
    top: fluid(550, $sm);
  }

  &:nth-of-type(3) {
    right: fluid(230, $sm);
    top: fluid(622, $sm);
  }

  transform: scale(0);
  transition: transform 1.75s $ease-out-expo;

  &.fx-on {
    transform: none;
  }

  @include md {
    width: fluid(300, $lg);
    height: fluid(300, $lg);

    &:nth-of-type(2) {
      right: fluid(119, $lg);
      top: fluid(1517, $lg);
    }

    &:nth-of-type(3) {
      right: fluid(720, $lg);
      top: fluid(2007, $lg);
    }
  }
}
