#technology {
  #pta,
  #results,
  #granules,
  #films,
  #fibre {
    padding-bottom: fluid(125, $lg);
    margin-bottom: fluid(125, $lg);
  }

  // .section-tag {
  //   font-size: fluid(18, $lg);
  //   font-weight: bold;
  //   line-height: 110%;
  //   letter-spacing: 0.04em;
  //   position: relative;
  //   padding-left: fluid(33, $lg);

  //   &::before {
  //     content: "";
  //     width: fluid(20, $lg);
  //     height: fluid(20, $lg);
  //     border-radius: 50%;
  //     background-color: $darkblue;

  //     position: absolute;
  //     left: 0;
  //     top: -1px;
  //   }
  // }

  .section-content {
    padding-left: fluid(121, $lg);
    margin-bottom: fluid(125, $lg);
    width: fluid(430 * 3 + 40 * 2, $lg);
  }

  .section-title {
    font-size: fluid(68, $lg);
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(30, $lg);
  }

  .section-desc {
    font-size: fluid(22, $lg);
    line-height: 140%;
    margin-left: auto;
    margin-bottom: fluid(155, $lg);
  }

  .section-desc--item {
    width: fluid(610, $lg);
  }

  .section-slider {
    width: 100%;
    height: fluid(681, $lg);
    background-color: #a6bba5;
  }

  #callout {
    padding-top: fluid(125, $lg);
    margin-bottom: fluid(216, $lg);
  }

  #callout-content {
    margin-left: fluid(430 + 40, $lg);
  }

  #callout-title {
    font-size: fluid(115, $lg);
    line-height: 100%;
    letter-spacing: -0.03em;
    width: fluid(1153, $lg);
    margin-bottom: fluid(30, $lg);
  }

  #callout-desc {
    font-size: fluid(50, $lg);
    line-height: 130%;
    letter-spacing: -0.01em;
    width: fluid(990, $lg);
    margin-bottom: fluid(62, $lg);
  }

  #magic-happens {
    margin-bottom: fluid(159, $lg);
  }

  #meg-magic {
    margin-bottom: fluid(212, $lg);
  }

  #magic-visual {
    width: fluid(772, $lg);
    height: fluid(680, $lg);
    background-color: $green;
  }

  #magic-inner {
    width: fluid(430 * 3 + 40 * 2, $lg);
    margin-left: auto;
  }

  #magic-content {
    width: fluid(430 + 40, $lg);
    height: fluid(831, $lg);
    border-left: fluid(1, $lg) solid rgba(2, 45, 66, 0.2);
    padding-left: fluid(40, $lg);
  }

  #magic-title {
    font-size: fluid(50, $lg);
    width: fluid(352, $lg);
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(18, $lg);
  }

  #magic-desc {
    font-size: fluid(22, $lg);
    line-height: 140%;
    width: fluid(395, $lg);
  }

  #explain {
    margin-bottom: fluid(213, $lg);
  }

  #explain-visual {
    height: fluid(2416, $lg);
    min-width: fluid(430 * 3 + 40 * 2, $lg);
    border-right: 1px solid rgba(2, 45, 66, 0.2);
  }

  #explain-content {
    padding-left: fluid(40, $lg);
  }

  .explain-item {
    &:nth-of-type(1) {
      margin-bottom: fluid(298, $lg);
    }

    &:nth-of-type(2) {
      margin-bottom: fluid(463, $lg);
    }

    &:nth-of-type(3) {
      margin-bottom: fluid(249, $lg);
    }
  }

  .explain-item--title {
    font-size: fluid(50, $lg);
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-bottom: fluid(15, $lg);
  }

  .explain-item--dsc {
    font-size: fluid(22, $lg);
    line-height: 140%;
  }
}

.border-left {
  border-left: 1px solid $darkblue;
}
