{% macro compareSlider(img1Src, img1alt, img2src, img2alt) %}
    <div class="compare-slider pr z0 oh" data-compare-slider>
        <div class="compare-slider--slide compare-slide--before pa inset z1"></div>
        <div class="compare-slider--slide compare-slide--after pa inset z2" data-clip></div>

        <div class="compare-slider--line pa z3">
            <div class="compare-slider--handle df aic jcb pa">
                <svg class="compare-arr compare-arr--before">
                    <use xlink:href="#larr"></use>
                </svg>
                <div class="ttu fv-mono">
                    <div class="m-hide">click & drag</div>
                    <div class="d-hide">drag</div>
                </div>
                <svg class="compare-arr compare-arr--after">
                    <use xlink:href="#rarr"></use>
                </svg>
            </div>
        </div>
    </div>
{% endmacro %}