{% macro header(tag, title, img = '', alt = 'image') %}
    <header id="hero" class="restrict hero" data-scroll-section>
        <div id="hero-welcome" data-shuffle class="hero-tag fv-mono">{{ tag }} /</div>
        <div id="hero-title--wrapper" class="pr z0 hero-title--wrapper oh">
            <h1 id="hero-title" class="hero-title z1">{{ title }}</h1>
            <div class="df pa inset zn1 hero-grid oh"></div>
        </div>
        <picture id="hero-picture" class="hero-picture">
            <img src="{{ img }}" alt="{{ alt }}"/>
        </picture>
    </header>
{% endmacro %}